#popup-box-pro-gfcr-{{num}}.popupally-pro-overlay-oeudhw-{{num}} {{{oeudhw-background-overlay-css}}display:none;background-color:rgba({{oeudhw-overlay-color-rgba}}){{use-important}};}
#popup-box-pro-gfcr-{{num}}.popupally-pro-opened-pro-gfcr-{{num}} {display:block !important;z-index:999999{{use-important}};}

#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-oeudhw-{{num}}, #popup-embedded-box-pro-gfcr-{{num}}.popupally-pro-outer-embedded-oeudhw-{{num}}{
width:{{oeudhw-width}}px{{use-important}};
height:{{oeudhw-height}}px{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-oeudhw-{{num}}{
position:{{oeudhw-content-box-position}}{{use-important}};
{{position-code}}
{{POPUP_BOX_SHADOW_CSS}}
-webkit-border-radius: 4px{{use-important}};
-moz-border-radius: 4px{{use-important}};
border-radius: 4px{{use-important}};
z-index:999999{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}}.popupally-pro-outer-embedded-oeudhw-{{num}} {
margin:0 auto{{use-important}};
clear:both{{use-important}};
{{oeudhw-embedded-border-css}}
}
.popupally-pro-top-page-jehjsq-{{num}} {
	position:absolute{{use-important}};
	top:0{{use-important}};
	z-index:99999{{use-important}};
}
.popupally-pro-top-page-follow-jehjsq-{{num}} {
	position:fixed{{use-important}};
	top:0{{use-important}};
	z-index:99999{{use-important}};
}
.popupally-pro-end-page-follow-jehjsq-{{num}} {
	position:fixed{{use-important}};
	bottom:0{{use-important}};
	z-index:99999{{use-important}};
}

#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-oeudhw-{{num}},
#popup-embedded-box-pro-gfcr-{{num}}.popupally-pro-outer-embedded-oeudhw-{{num}}{
background-color:{{oeudhw-background-color}}{{use-important}};
background-image:{{oeudhw-background-image}}{{use-important}};
background-size:{{oeudhw-background-image-size}}{{use-important}};
background-repeat:no-repeat{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-clear-oeudhw,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-clear-oeudhw{clear: both{{use-important}}; height:0px{{use-important}}; width: 100%{{use-important}};}

#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-oeudhw-{{num}}, #popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-oeudhw-{{num}}{
overflow:auto{{use-important}};
width:auto{{use-important}};
height:auto{{use-important}};
padding:0{{use-important}};
margin:0{{use-important}};
text-align:center{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-oeudhw-{{num}} .popupally-pro-choice-oeudhw,
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-oeudhw-{{num}} .popupally-pro-choice-oeudhw {
display:block{{use-important}};
box-sizing:border-box{{use-important}};
-moz-box-sizing:border-box{{use-important}};
height:auto{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-oeudhw-{{num}} .desc-pro-oeudhw,
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-oeudhw-{{num}} .desc-pro-oeudhw {
display:block{{use-important}};
font-family:{{oeudhw-headline-font}}{{use-important}};
font-size:{{oeudhw-headline-font-size}}px{{use-important}};
line-height:{{oeudhw-headline-line-height}}px{{use-important}};
font-weight:{{oeudhw-headline-font-weight}}{{use-important}};
box-sizing:border-box{{use-important}};
-moz-box-sizing:border-box{{use-important}};
cursor:pointer{{use-important}};
text-align:{{oeudhw-headline-align}}{{use-important}};
color:{{oeudhw-headline-color}}{{use-important}};
margin:{{oeudhw-headline-margin-top}}px 0 {{oeudhw-headline-margin-bottom}}px 0{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-oeudhw-{{num}} .popupally-pro-half-width-oeudhw,
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-oeudhw-{{num}} .popupally-pro-half-width-oeudhw {
box-sizing:border-box{{use-important}};
-moz-box-sizing:border-box{{use-important}};
width:50%{{use-important}};
float:left{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-oeudhw-{{num}} .popupally-pro-center-block-oeudhw,
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-oeudhw-{{num}} .popupally-pro-center-block-oeudhw{
display:table-cell{{use-important}};
vertical-align:middle{{use-important}};
font-family:inherit{{use-important}};
font-size:inherit{{use-important}};
font-weight:inherit{{use-important}};
line-height:inherit{{use-important}};
text-align:inherit{{use-important}};
color:inherit{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-oeudhw-{{num}} .popupally-pro-left-choice-oeudhw,
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-oeudhw-{{num}} .popupally-pro-left-choice-oeudhw{
font-family:{{oeudhw-left-choice-font}}{{use-important}};
font-size:{{oeudhw-left-choice-font-size}}px{{use-important}};
font-weight:{{oeudhw-left-choice-font-weight}}{{use-important}};
line-height:{{oeudhw-left-choice-line-height}}px{{use-important}};
text-align:{{oeudhw-left-choice-align}}{{use-important}};
color:{{oeudhw-left-choice-color}}{{use-important}};
width:{{oeudhw-left-choice-width}}px{{use-important}};
height:{{oeudhw-left-choice-height}}px{{use-important}};
background-image:{{oeudhw-left-choice-background-image}}{{use-important}};
background-color:{{oeudhw-left-choice-background-color}}{{use-important}};
margin:{{oeudhw-left-choice-margin-top}}px auto {{oeudhw-left-choice-margin-bottom}}px auto{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-oeudhw-{{num}} .popupally-pro-right-choice-oeudhw,
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-oeudhw-{{num}} .popupally-pro-right-choice-oeudhw{
font-family:{{oeudhw-right-choice-font}}{{use-important}};
font-size:{{oeudhw-right-choice-font-size}}px{{use-important}};
font-weight:{{oeudhw-right-choice-font-weight}}{{use-important}};
line-height:{{oeudhw-right-choice-line-height}}px{{use-important}};
text-align:{{oeudhw-right-choice-align}}{{use-important}};
color:{{oeudhw-right-choice-color}}{{use-important}};
width:{{oeudhw-right-choice-width}}px{{use-important}};
height:{{oeudhw-right-choice-height}}px{{use-important}};
background-image:{{oeudhw-right-choice-background-image}}{{use-important}};
background-color:{{oeudhw-right-choice-background-color}}{{use-important}};
margin:{{oeudhw-right-choice-margin-top}}px auto {{oeudhw-right-choice-margin-bottom}}px auto{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-oeudhw-{{num}} .popupally-pro-left-choice-oeudhw,
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-oeudhw-{{num}} .popupally-pro-left-choice-oeudhw,
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-oeudhw-{{num}} .popupally-pro-right-choice-oeudhw,
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-oeudhw-{{num}} .popupally-pro-right-choice-oeudhw{
display:table{{use-important}};
vertical-align:middle{{use-important}};
border:none{{use-important}};
-webkit-box-sizing: border-box{{use-important}};
-moz-box-sizing: border-box{{use-important}};
box-sizing: border-box{{use-important}};
text-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3){{use-important}};
-webkit-border-radius: 3pt{{use-important}};
-moz-border-radius: 3pt{{use-important}};
border-radius: 3pt{{use-important}};
padding:0{{use-important}};
box-sizing:border-box{{use-important}};
-moz-box-sizing:border-box{{use-important}};
background-size:contain{{use-important}};
background-repeat:no-repeat{{use-important}};
cursor:pointer{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-oeudhw-{{num}} .popupally-pro-left-choice-oeudhw:hover,
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-oeudhw-{{num}} .popupally-pro-left-choice-oeudhw:hover,
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-oeudhw-{{num}} .popupally-pro-right-choice-oeudhw:hover,
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-oeudhw-{{num}} .popupally-pro-right-choice-oeudhw:hover{
opacity:0.5{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-oeudhw-{{num}} .popupally-pro-close-oeudhw{
background-image:url('{{plugin_uri}}resource/frontend/img/fancy_close.png'){{use-important}};
background-size:cover{{use-important}};
display: block{{use-important}};
position: absolute{{use-important}};
top: -12px{{use-important}};
right: -12px{{use-important}};
width: 30px{{use-important}};
height: 30px{{use-important}};
color: white{{use-important}};
cursor: pointer{{use-important}};
z-index:999999{{use-important}};
}
@media (max-width: 960px) {
	#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-oeudhw-{{num}}{
		{{position-960-code}}
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-oeudhw-{{num}},
	#popup-embedded-box-pro-gfcr-{{num}}.popupally-pro-outer-embedded-oeudhw-{{num}}{
		width:{{oeudhw-width-960}}px{{use-important}};
		height:{{oeudhw-height-960}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-oeudhw-{{num}} .desc-pro-oeudhw,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-oeudhw-{{num}} .desc-pro-oeudhw{
		font-size:{{oeudhw-headline-960-font-size}}px{{use-important}};
		line-height:{{oeudhw-headline-960-line-height}}px{{use-important}};
		margin:{{oeudhw-headline-960-margin-top}}px 0 {{oeudhw-headline-960-margin-bottom}}px 0{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-oeudhw-{{num}} .popupally-pro-left-choice-oeudhw,
	#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-oeudhw-{{num}} .popupally-pro-left-choice-oeudhw{
		font-size:{{oeudhw-left-choice-960-font-size}}px{{use-important}};
		line-height:{{oeudhw-left-choice-960-line-height}}px{{use-important}};
		width:{{oeudhw-left-choice-960-width}}px{{use-important}};
		height:{{oeudhw-left-choice-960-height}}px{{use-important}};
		margin:{{oeudhw-left-choice-960-margin-top}}px auto {{oeudhw-left-choice-960-margin-bottom}}px auto{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-oeudhw-{{num}} .popupally-pro-right-choice-oeudhw,
	#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-oeudhw-{{num}} .popupally-pro-right-choice-oeudhw{
		font-size:{{oeudhw-right-choice-960-font-size}}px{{use-important}};
		line-height:{{oeudhw-right-choice-960-line-height}}px{{use-important}};
		width:{{oeudhw-right-choice-960-width}}px{{use-important}};
		height:{{oeudhw-right-choice-960-height}}px{{use-important}};
		margin:{{oeudhw-right-choice-960-margin-top}}px auto {{oeudhw-right-choice-960-margin-bottom}}px auto{{use-important}};
	}
}
@media (max-width: 640px) {
	#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-oeudhw-{{num}}{
		{{position-640-code}}
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-oeudhw-{{num}},
	#popup-embedded-box-pro-gfcr-{{num}}.popupally-pro-outer-embedded-oeudhw-{{num}}{
		width:{{oeudhw-width-640}}px{{use-important}};
		height:{{oeudhw-height-640}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-oeudhw-{{num}} .desc-pro-oeudhw,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-oeudhw-{{num}} .desc-pro-oeudhw{
		font-size:{{oeudhw-headline-640-font-size}}px{{use-important}};
		line-height:{{oeudhw-headline-640-line-height}}px{{use-important}};
		margin:{{oeudhw-headline-640-margin-top}}px 0 {{oeudhw-headline-640-margin-bottom}}px 0{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-oeudhw-{{num}} .popupally-pro-left-choice-oeudhw,
	#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-oeudhw-{{num}} .popupally-pro-left-choice-oeudhw{
		font-size:{{oeudhw-left-choice-640-font-size}}px{{use-important}};
		line-height:{{oeudhw-left-choice-640-line-height}}px{{use-important}};
		width:{{oeudhw-left-choice-640-width}}px{{use-important}};
		height:{{oeudhw-left-choice-640-height}}px{{use-important}};
		margin:{{oeudhw-left-choice-640-margin-top}}px auto {{oeudhw-left-choice-640-margin-bottom}}px auto{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-oeudhw-{{num}} .popupally-pro-right-choice-oeudhw,
	#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-oeudhw-{{num}} .popupally-pro-right-choice-oeudhw{
		font-size:{{oeudhw-right-choice-640-font-size}}px{{use-important}};
		line-height:{{oeudhw-right-choice-640-line-height}}px{{use-important}};
		width:{{oeudhw-right-choice-640-width}}px{{use-important}};
		height:{{oeudhw-right-choice-640-height}}px{{use-important}};
		margin:{{oeudhw-right-choice-640-margin-top}}px auto {{oeudhw-right-choice-640-margin-bottom}}px auto{{use-important}};
	}
}