/*!
Theme Name: Jessica in the Kitchen
Description: Custom theme for Jessica in the Kitchen
Author: Alchemy + Aim
Author URI: http://www.alchemyandaim.com
*/::selection{background:#888;color:white}::-moz-selection{background:#888;color:white}.entry-title{font-size:20px}.group:before,.group:after{content:"";display:table}.group:after{clear:both}.group{zoom:1}
