#popup-box-pro-gfcr-{{num}}.popupally-pro-overlay-plsbvs-{{num}} {{{plsbvs-background-overlay-css}}display:none;background-color:rgba({{plsbvs-overlay-color-rgba}}){{use-important}};}
#popup-box-pro-gfcr-{{num}}.popupally-pro-opened-pro-gfcr-{{num}} {display:block !important;z-index:999999{{use-important}};}

#popup-box-pro-gfcr-{{num}} input,#popup-embedded-box-pro-gfcr-{{num}} input{
	min-width:initial{{use-important}};
	max-width:none{{use-important}};
	min-height:initial{{use-important}};
	max-height:none{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-plsbvs-{{num}}, #popup-embedded-box-pro-gfcr-{{num}}.popupally-pro-outer-embedded-plsbvs-{{num}}{
width:{{plsbvs-width}}px{{use-important}};
height:{{plsbvs-height}}px{{use-important}};
}
.popupally-pro-top-page-jehjsq-{{num}} {
	position:absolute{{use-important}};
	top:0{{use-important}};
	z-index:99999{{use-important}};
}
.popupally-pro-top-page-follow-jehjsq-{{num}} {
	position:fixed{{use-important}};
	top:0{{use-important}};
	z-index:99999{{use-important}};
}
.popupally-pro-end-page-follow-jehjsq-{{num}} {
	position:fixed{{use-important}};
	bottom:0{{use-important}};
	z-index:99999{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-plsbvs-{{num}},
#popup-embedded-box-pro-gfcr-{{num}}.popupally-pro-outer-embedded-plsbvs-{{num}}{
background-color:{{plsbvs-background-color}}{{use-important}};
background-image:{{plsbvs-background-image}}{{use-important}};
background-size:contain{{use-important}};
background-repeat:no-repeat{{use-important}};
text-align:left{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-plsbvs-{{num}}{
position:{{plsbvs-content-box-position}}{{use-important}};
{{position-code}}
{{POPUP_BOX_SHADOW_CSS}}
-webkit-border-radius: 4px{{use-important}};
-moz-border-radius: 4px{{use-important}};
border-radius: 4px{{use-important}};
z-index:999999{{use-important}};
line-height:100%{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}}.popupally-pro-outer-embedded-plsbvs-{{num}} {
line-height:100%{{use-important}};
margin:0 auto{{use-important}};
clear:both{{use-important}};
{{plsbvs-embedded-border-css}}
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}},#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}}{overflow:visible{{use-important}};width:auto{{use-important}};height:auto{{use-important}};padding:0px{{use-important}};}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .popupally-pro-center-plsbvs,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .popupally-pro-center-plsbvs {
display:inline-block{{use-important}};
box-sizing:border-box{{use-important}};
-moz-box-sizing:border-box{{use-important}};
position:relative{{use-important}};
line-height:18px{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .content-pro-plsbvs,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .content-pro-plsbvs {
display:inline-block{{use-important}};
box-sizing:border-box{{use-important}};
-moz-box-sizing:border-box{{use-important}};
position:relative{{use-important}};
line-height:18px{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .desc-pro-plsbvs,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .desc-pro-plsbvs {
position:relative{{use-important}};
display:inline-block{{use-important}};
font-family:{{plsbvs-headline-font}}{{use-important}};
font-size:{{plsbvs-headline-font-size}}px{{use-important}};
line-height:{{plsbvs-headline-line-height}}px{{use-important}};
font-weight:{{plsbvs-headline-font-weight}}{{use-important}};
box-sizing:border-box{{use-important}};
-moz-box-sizing:border-box{{use-important}};
cursor:pointer{{use-important}};
text-align:{{plsbvs-headline-align}}{{use-important}};
color:{{plsbvs-headline-color}}{{use-important}};
top:{{plsbvs-headline-top}}px{{use-important}};
left:{{plsbvs-headline-left}}px{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .popupally-pro-center-plsbvs .content-pro-plsbvs input[type="text"].field-pro-plsbvs-name,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .popupally-pro-center-plsbvs .content-pro-plsbvs input[type="text"].field-pro-plsbvs-name {
top:{{plsbvs-name-field-top}}px{{use-important}};
left:{{plsbvs-name-field-left}}px{{use-important}};
position:relative{{use-important}};
display:inline-block{{use-important}};
padding:{{plsbvs-name-field-padding-top}}px {{plsbvs-name-field-padding-right}}px {{plsbvs-name-field-padding-bottom}}px {{plsbvs-name-field-padding-left}}px{{use-important}};
width:{{plsbvs-name-field-width}}{{use-important}};
color:{{plsbvs-name-field-color}}{{use-important}};
font-family:{{plsbvs-name-field-font}}{{use-important}};
font-size:{{plsbvs-name-field-font-size}}px{{use-important}};
line-height:{{plsbvs-name-field-line-height}}px{{use-important}};
background:{{plsbvs-name-field-background-color}}{{use-important}};
text-align:{{plsbvs-name-field-align}}{{use-important}};
-webkit-box-shadow: none{{use-important}};
-moz-box-shadow: none{{use-important}};
box-shadow: none{{use-important}};
-webkit-border-radius: {{plsbvs-name-field-border-radius}}px{{use-important}};
-moz-border-radius: {{plsbvs-name-field-border-radius}}px{{use-important}};
border-radius: {{plsbvs-name-field-border-radius}}px{{use-important}};
box-sizing:border-box{{use-important}};
-moz-box-sizing:border-box{{use-important}};
height:auto{{use-important}};
margin:0{{use-important}};
border-width:0{{use-important}};
font-weight:{{plsbvs-name-field-font-weight}}{{use-important}};
float:none{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .popupally-pro-center-plsbvs .content-pro-plsbvs input[type="text"].field-pro-plsbvs-name::-webkit-input-placeholder{
color:{{plsbvs-name-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .popupally-pro-center-plsbvs .content-pro-plsbvs input[type="text"].field-pro-plsbvs-name:-moz-placeholder{
color:{{plsbvs-name-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .popupally-pro-center-plsbvs .content-pro-plsbvs input[type="text"].field-pro-plsbvs-name::-moz-placeholder{
color:{{plsbvs-name-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .popupally-pro-center-plsbvs .content-pro-plsbvs input[type="text"].field-pro-plsbvs-name:-ms-input-placeholder{
color:{{plsbvs-name-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .popupally-pro-center-plsbvs .content-pro-plsbvs input[type="text"].field-pro-plsbvs-name::-webkit-input-placeholder{
color:{{plsbvs-name-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .popupally-pro-center-plsbvs .content-pro-plsbvs input[type="text"].field-pro-plsbvs-name:-moz-placeholder{
color:{{plsbvs-name-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .popupally-pro-center-plsbvs .content-pro-plsbvs input[type="text"].field-pro-plsbvs-name::-moz-placeholder{
color:{{plsbvs-name-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .popupally-pro-center-plsbvs .content-pro-plsbvs input[type="text"].field-pro-plsbvs-name:-ms-input-placeholder{
color:{{plsbvs-name-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .popupally-pro-center-plsbvs .content-pro-plsbvs input[type="email"].field-pro-plsbvs-email,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .popupally-pro-center-plsbvs .content-pro-plsbvs input[type="email"].field-pro-plsbvs-email {
top:{{plsbvs-email-field-top}}px{{use-important}};
left:{{plsbvs-email-field-left}}px{{use-important}};
position:relative{{use-important}};
display:inline-block{{use-important}};
padding:{{plsbvs-email-field-padding-top}}px {{plsbvs-email-field-padding-right}}px {{plsbvs-email-field-padding-bottom}}px {{plsbvs-email-field-padding-left}}px{{use-important}};
width:{{plsbvs-email-field-width}}{{use-important}};
color:{{plsbvs-email-field-color}}{{use-important}};
font-family:{{plsbvs-email-field-font}}{{use-important}};
font-size:{{plsbvs-email-field-font-size}}px{{use-important}};
line-height:{{plsbvs-email-field-line-height}}px{{use-important}};
background:{{plsbvs-email-field-background-color}}{{use-important}};
text-align:{{plsbvs-email-field-align}}{{use-important}};
-webkit-box-shadow: none{{use-important}};
-moz-box-shadow: none{{use-important}};
box-shadow: none{{use-important}};
-webkit-border-radius: {{plsbvs-email-field-border-radius}}px{{use-important}};
-moz-border-radius: {{plsbvs-email-field-border-radius}}px{{use-important}};
border-radius: {{plsbvs-email-field-border-radius}}px{{use-important}};
box-sizing:border-box{{use-important}};
-moz-box-sizing:border-box{{use-important}};
height:auto{{use-important}};
margin:0{{use-important}};
border-width:0{{use-important}};
font-weight:{{plsbvs-email-field-font-weight}}{{use-important}};
float:none{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .popupally-pro-center-plsbvs .content-pro-plsbvs input[type="email"].field-pro-plsbvs-email::-webkit-input-placeholder{
color:{{plsbvs-email-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .popupally-pro-center-plsbvs .content-pro-plsbvs input[type="email"].field-pro-plsbvs-email:-moz-placeholder{
color:{{plsbvs-email-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .popupally-pro-center-plsbvs .content-pro-plsbvs input[type="email"].field-pro-plsbvs-email::-moz-placeholder{
color:{{plsbvs-email-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .popupally-pro-center-plsbvs .content-pro-plsbvs input[type="email"].field-pro-plsbvs-email:-ms-input-placeholder{
color:{{plsbvs-email-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .popupally-pro-center-plsbvs .content-pro-plsbvs input[type="email"].field-pro-plsbvs-email::-webkit-input-placeholder{
color:{{plsbvs-email-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .popupally-pro-center-plsbvs .content-pro-plsbvs input[type="email"].field-pro-plsbvs-email:-moz-placeholder{
color:{{plsbvs-email-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .popupally-pro-center-plsbvs .content-pro-plsbvs input[type="email"].field-pro-plsbvs-email::-moz-placeholder{
color:{{plsbvs-email-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .popupally-pro-center-plsbvs .content-pro-plsbvs input[type="email"].field-pro-plsbvs-email:-ms-input-placeholder{
color:{{plsbvs-email-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .popupally-pro-center-plsbvs .content-pro-plsbvs input[type="submit"].submit-pro-plsbvs,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .popupally-pro-center-plsbvs .content-pro-plsbvs input[type="submit"].submit-pro-plsbvs {
position:relative{{use-important}};
display:inline-block{{use-important}};
font-family:{{plsbvs-subscribe-button-text-font}}{{use-important}};
font-size:{{plsbvs-subscribe-button-text-font-size}}px{{use-important}};
line-height:{{plsbvs-subscribe-button-text-line-height}}px{{use-important}};
background-color: {{plsbvs-subscribe-button-color}}{{use-important}};
text-align:{{plsbvs-subscribe-button-text-align}}{{use-important}};
border-style: solid{{use-important}};
border-width: 1px{{use-important}};
border-color:#C0C0C0{{use-important}};
-webkit-box-sizing: border-box{{use-important}};
-moz-box-sizing: border-box{{use-important}};
box-sizing: border-box{{use-important}};
color:{{plsbvs-subscribe-button-text-color}}{{use-important}};
text-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3){{use-important}};
cursor: pointer{{use-important}};
-webkit-border-radius: {{plsbvs-subscribe-button-text-border-radius}}px{{use-important}};
-moz-border-radius: {{plsbvs-subscribe-button-text-border-radius}}px{{use-important}};
border-radius: {{plsbvs-subscribe-button-text-border-radius}}px{{use-important}};
width:{{plsbvs-subscribe-button-text-width}}{{use-important}};
height:auto{{use-important}};
padding:{{plsbvs-subscribe-button-text-padding-top}}px 0 {{plsbvs-subscribe-button-text-padding-bottom}}px 0{{use-important}};
box-sizing:border-box{{use-important}};
-moz-box-sizing:border-box{{use-important}};
background-image:none{{use-important}};
top:{{plsbvs-subscribe-button-top}}px{{use-important}};
left:{{plsbvs-subscribe-button-left}}px{{use-important}};
margin:0{{use-important}};
font-weight:{{plsbvs-subscribe-button-text-font-weight}}{{use-important}};
float:none{{use-important}};
-webkit-appearance: none{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .popupally-pro-center-plsbvs .content-pro-plsbvs input[type="submit"].submit-pro-plsbvs:hover,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .popupally-pro-center-plsbvs .content-pro-plsbvs input[type="submit"].submit-pro-plsbvs:hover {
background-color:{{plsbvs-subscribe-button-color}}{{use-important}};
color:{{plsbvs-subscribe-button-text-color}}{{use-important}};
background-image:none{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-plsbvs-{{num}} .popupally-pro-close-plsbvs{
background-image:url('{{plugin_uri}}resource/frontend/img/fancy_close.png'){{use-important}};
background-size:cover{{use-important}};
display: block{{use-important}};
position: absolute{{use-important}};
top: -12px{{use-important}};
right: -12px{{use-important}};
width: 30px{{use-important}};
height: 30px{{use-important}};
color: white{{use-important}};
cursor: pointer{{use-important}};
z-index:999999{{use-important}};
}
@media (max-width: 960px) {
	#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-plsbvs-{{num}}{
		{{position-960-code}}
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-plsbvs-{{num}},
	#popup-embedded-box-pro-gfcr-{{num}}.popupally-pro-outer-embedded-plsbvs-{{num}}{
		width:{{plsbvs-width-960}}px{{use-important}};
		height:{{plsbvs-height-960}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .desc-pro-plsbvs,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .desc-pro-plsbvs{
		top:{{plsbvs-headline-960-top}}px{{use-important}};
		left:{{plsbvs-headline-960-left}}px{{use-important}};
		font-size:{{plsbvs-headline-960-font-size}}px{{use-important}};
		line-height:{{plsbvs-headline-960-line-height}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .popupally-pro-center-plsbvs .content-pro-plsbvs input[type="text"].field-pro-plsbvs-name,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .popupally-pro-center-plsbvs .content-pro-plsbvs input[type="text"].field-pro-plsbvs-name {
		top:{{plsbvs-name-field-960-top}}px{{use-important}};
		left:{{plsbvs-name-field-960-left}}px{{use-important}};
		padding:{{plsbvs-name-field-960-padding-top}}px {{plsbvs-name-field-960-padding-right}}px {{plsbvs-name-field-960-padding-bottom}}px {{plsbvs-name-field-960-padding-left}}px{{use-important}};
		width:{{plsbvs-name-field-960-width}}{{use-important}};
		font-size:{{plsbvs-name-field-960-font-size}}px{{use-important}};
		line-height:{{plsbvs-name-field-960-line-height}}px{{use-important}};
		-webkit-border-radius: {{plsbvs-name-field-960-border-radius}}px{{use-important}};
		-moz-border-radius: {{plsbvs-name-field-960-border-radius}}px{{use-important}};
		border-radius: {{plsbvs-name-field-960-border-radius}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .popupally-pro-center-plsbvs .content-pro-plsbvs input[type="email"].field-pro-plsbvs-email,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .popupally-pro-center-plsbvs .content-pro-plsbvs input[type="email"].field-pro-plsbvs-email {
		top:{{plsbvs-email-field-960-top}}px{{use-important}};
		left:{{plsbvs-email-field-960-left}}px{{use-important}};
		padding:{{plsbvs-email-field-960-padding-top}}px {{plsbvs-email-field-960-padding-right}}px {{plsbvs-email-field-960-padding-bottom}}px {{plsbvs-email-field-960-padding-left}}px{{use-important}};
		width:{{plsbvs-email-field-960-width}}{{use-important}};
		font-size:{{plsbvs-email-field-960-font-size}}px{{use-important}};
		line-height:{{plsbvs-email-field-960-line-height}}px{{use-important}};
		-webkit-border-radius: {{plsbvs-email-field-960-border-radius}}px{{use-important}};
		-moz-border-radius: {{plsbvs-email-field-960-border-radius}}px{{use-important}};
		border-radius: {{plsbvs-email-field-960-border-radius}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .popupally-pro-center-plsbvs .content-pro-plsbvs input[type="submit"].submit-pro-plsbvs,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .popupally-pro-center-plsbvs .content-pro-plsbvs input[type="submit"].submit-pro-plsbvs {
		top:{{plsbvs-subscribe-button-960-top}}px{{use-important}};
		left:{{plsbvs-subscribe-button-960-left}}px{{use-important}};
		padding:{{plsbvs-subscribe-button-text-960-padding-top}}px 0 {{plsbvs-subscribe-button-text-960-padding-bottom}}px 0{{use-important}};
		width:{{plsbvs-subscribe-button-text-960-width}}{{use-important}};
		font-size:{{plsbvs-subscribe-button-text-960-font-size}}px{{use-important}};
		line-height:{{plsbvs-subscribe-button-text-960-line-height}}px{{use-important}};
		-webkit-border-radius: {{plsbvs-subscribe-button-text-960-border-radius}}px{{use-important}};
		-moz-border-radius: {{plsbvs-subscribe-button-text-960-border-radius}}px{{use-important}};
		border-radius: {{plsbvs-subscribe-button-text-960-border-radius}}px{{use-important}};
	}
}
@media (max-width: 640px) {
	#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-plsbvs-{{num}}{
		{{position-640-code}}
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-plsbvs-{{num}},
	#popup-embedded-box-pro-gfcr-{{num}}.popupally-pro-outer-embedded-plsbvs-{{num}}{
		width:{{plsbvs-width-640}}px{{use-important}};
		height:{{plsbvs-height-640}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .desc-pro-plsbvs,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .desc-pro-plsbvs{
		top:{{plsbvs-headline-640-top}}px{{use-important}};
		left:{{plsbvs-headline-640-left}}px{{use-important}};
		font-size:{{plsbvs-headline-640-font-size}}px{{use-important}};
		line-height:{{plsbvs-headline-640-line-height}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .popupally-pro-center-plsbvs .content-pro-plsbvs input[type="text"].field-pro-plsbvs-name,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .popupally-pro-center-plsbvs .content-pro-plsbvs input[type="text"].field-pro-plsbvs-name {
		top:{{plsbvs-name-field-640-top}}px{{use-important}};
		left:{{plsbvs-name-field-640-left}}px{{use-important}};
		padding:{{plsbvs-name-field-640-padding-top}}px {{plsbvs-name-field-640-padding-right}}px {{plsbvs-name-field-640-padding-bottom}}px {{plsbvs-name-field-640-padding-left}}px{{use-important}};
		width:{{plsbvs-name-field-640-width}}{{use-important}};
		font-size:{{plsbvs-name-field-640-font-size}}px{{use-important}};
		line-height:{{plsbvs-name-field-640-line-height}}px{{use-important}};
		-webkit-border-radius: {{plsbvs-name-field-640-border-radius}}px{{use-important}};
		-moz-border-radius: {{plsbvs-name-field-640-border-radius}}px{{use-important}};
		border-radius: {{plsbvs-name-field-640-border-radius}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .popupally-pro-center-plsbvs .content-pro-plsbvs input[type="email"].field-pro-plsbvs-email,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .popupally-pro-center-plsbvs .content-pro-plsbvs input[type="email"].field-pro-plsbvs-email {
		top:{{plsbvs-email-field-640-top}}px{{use-important}};
		left:{{plsbvs-email-field-640-left}}px{{use-important}};
		padding:{{plsbvs-email-field-640-padding-top}}px {{plsbvs-email-field-640-padding-right}}px {{plsbvs-email-field-640-padding-bottom}}px {{plsbvs-email-field-640-padding-left}}px{{use-important}};
		width:{{plsbvs-email-field-640-width}}{{use-important}};
		font-size:{{plsbvs-email-field-640-font-size}}px{{use-important}};
		line-height:{{plsbvs-email-field-640-line-height}}px{{use-important}};
		-webkit-border-radius: {{plsbvs-email-field-640-border-radius}}px{{use-important}};
		-moz-border-radius: {{plsbvs-email-field-640-border-radius}}px{{use-important}};
		border-radius: {{plsbvs-email-field-640-border-radius}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .popupally-pro-center-plsbvs .content-pro-plsbvs input[type="submit"].submit-pro-plsbvs,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-plsbvs-{{num}} .popupally-pro-center-plsbvs .content-pro-plsbvs input[type="submit"].submit-pro-plsbvs {
		top:{{plsbvs-subscribe-button-640-top}}px{{use-important}};
		left:{{plsbvs-subscribe-button-640-left}}px{{use-important}};
		padding:{{plsbvs-subscribe-button-text-640-padding-top}}px 0 {{plsbvs-subscribe-button-text-640-padding-bottom}}px 0{{use-important}};
		width:{{plsbvs-subscribe-button-text-640-width}}{{use-important}};
		font-size:{{plsbvs-subscribe-button-text-640-font-size}}px{{use-important}};
		line-height:{{plsbvs-subscribe-button-text-640-line-height}}px{{use-important}};
		-webkit-border-radius: {{plsbvs-subscribe-button-text-640-border-radius}}px{{use-important}};
		-moz-border-radius: {{plsbvs-subscribe-button-text-640-border-radius}}px{{use-important}};
		border-radius: {{plsbvs-subscribe-button-text-640-border-radius}}px{{use-important}};
	}
}