#popup-box-pro-gfcr-{{num}}.popupally-pro-overlay-khwybd-{{num}} {{{khwybd-background-overlay-css}}display:none;background-color:rgba({{khwybd-overlay-color-rgba}}){{use-important}};}
#popup-box-pro-gfcr-{{num}}.popupally-pro-opened-pro-gfcr-{{num}} {display:block{{use-important}};z-index:999999{{use-important}};}

#popup-box-pro-gfcr-{{num}} input,#popup-embedded-box-pro-gfcr-{{num}} input{
	min-width:initial{{use-important}};
	max-width:none{{use-important}};
	min-height:initial{{use-important}};
	max-height:none{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-khwybd-{{num}}, #popup-embedded-box-pro-gfcr-{{num}}.popupally-pro-outer-embedded-khwybd-{{num}}{
width:{{khwybd-width}}px{{use-important}};
height:{{khwybd-height}}px{{use-important}};
}
.popupally-pro-top-page-jehjsq-{{num}} {
	position:absolute{{use-important}};
	top:0{{use-important}};
	z-index:99999{{use-important}};
}
.popupally-pro-top-page-follow-jehjsq-{{num}} {
	position:fixed{{use-important}};
	top:0{{use-important}};
	z-index:99999{{use-important}};
}
.popupally-pro-end-page-follow-jehjsq-{{num}} {
	position:fixed{{use-important}};
	bottom:0{{use-important}};
	z-index:99999{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-khwybd-{{num}},
#popup-embedded-box-pro-gfcr-{{num}}.popupally-pro-outer-embedded-khwybd-{{num}}{
background-color:{{khwybd-background-color}}{{use-important}};
background-image:{{khwybd-background-image}}{{use-important}};
background-size:{{khwybd-background-image-size}}{{use-important}};
background-repeat:no-repeat{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-khwybd-{{num}}{
position:{{khwybd-content-box-position}}{{use-important}};
{{position-code}}
{{POPUP_BOX_SHADOW_CSS}}
-webkit-border-radius: 4px{{use-important}};
-moz-border-radius: 4px{{use-important}};
border-radius: 4px{{use-important}};
z-index:999999{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}}.popupally-pro-outer-embedded-khwybd-{{num}} {
margin:0 auto{{use-important}};
clear:both{{use-important}};
{{khwybd-embedded-border-css}}
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}},#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}}{
position:relative{{use-important}};
overflow:visible{{use-important}};
width:auto{{use-important}};
height:auto{{use-important}};
padding:0{{use-important}};
margin:0{{use-important}};
text-align:center{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} .desc-pro-khwybd,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} .desc-pro-khwybd {
position:absolute{{use-important}};
display:inline-block{{use-important}};
width:{{khwybd-headline-width}}px{{use-important}};
height:{{khwybd-headline-height}}px{{use-important}};
font-family:{{khwybd-headline-font}}{{use-important}};
font-size:{{khwybd-headline-font-size}}px{{use-important}};
line-height:{{khwybd-headline-line-height}}px{{use-important}};
font-weight:{{khwybd-headline-font-weight}}{{use-important}};
box-sizing:border-box{{use-important}};
-moz-box-sizing:border-box{{use-important}};
cursor:pointer{{use-important}};
text-align:{{khwybd-headline-align}}{{use-important}};
color:{{khwybd-headline-color}}{{use-important}};
top:{{khwybd-headline-top}}px{{use-important}};
left:{{khwybd-headline-left}}px{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} .textbox-1-pro-khwybd,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} .textbox-1-pro-khwybd {
position:absolute{{use-important}};
display:inline-block{{use-important}};
width:{{khwybd-textbox-1-width}}px{{use-important}};
height:{{khwybd-textbox-1-height}}px{{use-important}};
font-family:{{khwybd-textbox-1-font}}{{use-important}};
font-size:{{khwybd-textbox-1-font-size}}px{{use-important}};
line-height:{{khwybd-textbox-1-line-height}}px{{use-important}};
font-weight:{{khwybd-textbox-1-font-weight}}{{use-important}};
box-sizing:border-box{{use-important}};
-moz-box-sizing:border-box{{use-important}};
cursor:pointer{{use-important}};
text-align:{{khwybd-textbox-1-align}}{{use-important}};
color:{{khwybd-textbox-1-color}}{{use-important}};
top:{{khwybd-textbox-1-top}}px{{use-important}};
left:{{khwybd-textbox-1-left}}px{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} .textbox-2-pro-khwybd,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} .textbox-2-pro-khwybd {
position:absolute{{use-important}};
display:inline-block{{use-important}};
width:{{khwybd-textbox-2-width}}px{{use-important}};
height:{{khwybd-textbox-2-height}}px{{use-important}};
font-family:{{khwybd-textbox-2-font}}{{use-important}};
font-size:{{khwybd-textbox-2-font-size}}px{{use-important}};
line-height:{{khwybd-textbox-2-line-height}}px{{use-important}};
font-weight:{{khwybd-textbox-2-font-weight}}{{use-important}};
box-sizing:border-box{{use-important}};
-moz-box-sizing:border-box{{use-important}};
cursor:pointer{{use-important}};
text-align:{{khwybd-textbox-2-align}}{{use-important}};
color:{{khwybd-textbox-2-color}}{{use-important}};
top:{{khwybd-textbox-2-top}}px{{use-important}};
left:{{khwybd-textbox-2-left}}px{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} .image-1-pro-khwybd,
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} .image-2-pro-khwybd,
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} .image-1-pro-khwybd,
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} .image-2-pro-khwybd {
position:absolute{{use-important}};
display:inline-block{{use-important}};
box-sizing:border-box{{use-important}};
-moz-box-sizing:border-box{{use-important}};
background-size:cover{{use-important}};
background-repeat:no-repeat{{use-important}};
background-position:50%{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} .image-1-pro-khwybd,
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} .image-1-pro-khwybd {
top:{{khwybd-image-1-top}}px{{use-important}};
left:{{khwybd-image-1-left}}px{{use-important}};
background-image:{{khwybd-image-1}}{{use-important}};
width:{{khwybd-image-1-width}}px{{use-important}};
height:{{khwybd-image-1-height}}px{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} .image-2-pro-khwybd,
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} .image-2-pro-khwybd {
top:{{khwybd-image-2-top}}px{{use-important}};
left:{{khwybd-image-2-left}}px{{use-important}};
background-image:{{khwybd-image-2}}{{use-important}};
width:{{khwybd-image-2-width}}px{{use-important}};
height:{{khwybd-image-2-height}}px{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="text"].field-pro-khwybd-name,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="text"].field-pro-khwybd-name {
top:{{khwybd-name-field-top}}px{{use-important}};
left:{{khwybd-name-field-left}}px{{use-important}};
position:absolute{{use-important}};
display:inline-block{{use-important}};
padding:{{khwybd-name-field-padding-top}}px {{khwybd-name-field-padding-right}}px {{khwybd-name-field-padding-bottom}}px {{khwybd-name-field-padding-left}}px{{use-important}};
width:{{khwybd-name-field-width}}{{use-important}};
color:{{khwybd-name-field-color}}{{use-important}};
font-family:{{khwybd-name-field-font}}{{use-important}};
font-size:{{khwybd-name-field-font-size}}px{{use-important}};
line-height:{{khwybd-name-field-line-height}}px{{use-important}};
background:{{khwybd-name-field-background-color}}{{use-important}};
text-align:{{khwybd-name-field-align}}{{use-important}};
-webkit-box-shadow: none{{use-important}};
-moz-box-shadow: none{{use-important}};
box-shadow: none{{use-important}};
-webkit-border-radius: {{khwybd-name-field-border-radius}}px{{use-important}};
-moz-border-radius: {{khwybd-name-field-border-radius}}px{{use-important}};
border-radius: {{khwybd-name-field-border-radius}}px{{use-important}};
box-sizing:border-box{{use-important}};
-moz-box-sizing:border-box{{use-important}};
height:auto{{use-important}};
margin:0{{use-important}};
border-width:0{{use-important}};
font-weight:{{khwybd-name-field-font-weight}}{{use-important}};
float:none{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="text"].field-pro-khwybd-name::-webkit-input-placeholder{
color:{{khwybd-name-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="text"].field-pro-khwybd-name:-moz-placeholder{
color:{{khwybd-name-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="text"].field-pro-khwybd-name::-moz-placeholder{
color:{{khwybd-name-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="text"].field-pro-khwybd-name:-ms-input-placeholder{
color:{{khwybd-name-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="text"].field-pro-khwybd-name::-webkit-input-placeholder{
color:{{khwybd-name-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="text"].field-pro-khwybd-name:-moz-placeholder{
color:{{khwybd-name-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="text"].field-pro-khwybd-name::-moz-placeholder{
color:{{khwybd-name-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="text"].field-pro-khwybd-name:-ms-input-placeholder{
color:{{khwybd-name-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="text"].field-pro-khwybd-lname::-webkit-input-placeholder{
color:{{khwybd-lname-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="text"].field-pro-khwybd-lname:-moz-placeholder{
color:{{khwybd-lname-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="text"].field-pro-khwybd-lname::-moz-placeholder{
color:{{khwybd-lname-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="text"].field-pro-khwybd-lname:-ms-input-placeholder{
color:{{khwybd-lname-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="text"].field-pro-khwybd-lname::-webkit-input-placeholder{
color:{{khwybd-lname-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="text"].field-pro-khwybd-lname:-moz-placeholder{
color:{{khwybd-lname-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="text"].field-pro-khwybd-lname::-moz-placeholder{
color:{{khwybd-lname-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="text"].field-pro-khwybd-lname:-ms-input-placeholder{
color:{{khwybd-lname-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="email"].field-pro-khwybd-email::-webkit-input-placeholder{
color:{{khwybd-email-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="email"].field-pro-khwybd-email:-moz-placeholder{
color:{{khwybd-email-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="email"].field-pro-khwybd-email::-moz-placeholder{
color:{{khwybd-email-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="email"].field-pro-khwybd-email:-ms-input-placeholder{
color:{{khwybd-email-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="email"].field-pro-khwybd-email::-webkit-input-placeholder{
color:{{khwybd-email-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="email"].field-pro-khwybd-email:-moz-placeholder{
color:{{khwybd-email-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="email"].field-pro-khwybd-email::-moz-placeholder{
color:{{khwybd-email-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="email"].field-pro-khwybd-email:-ms-input-placeholder{
color:{{khwybd-email-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="text"].field-pro-khwybd-lname,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="text"].field-pro-khwybd-lname {
top:{{khwybd-lname-field-top}}px{{use-important}};
left:{{khwybd-lname-field-left}}px{{use-important}};
position:absolute{{use-important}};
display:inline-block{{use-important}};
padding:{{khwybd-lname-field-padding-top}}px {{khwybd-lname-field-padding-right}}px {{khwybd-lname-field-padding-bottom}}px {{khwybd-lname-field-padding-left}}px{{use-important}};
width:{{khwybd-lname-field-width}}{{use-important}};
color:{{khwybd-lname-field-color}}{{use-important}};
font-family:{{khwybd-lname-field-font}}{{use-important}};
font-size:{{khwybd-lname-field-font-size}}px{{use-important}};
line-height:{{khwybd-lname-field-line-height}}px{{use-important}};
background:{{khwybd-lname-field-background-color}}{{use-important}};
text-align:{{khwybd-lname-field-align}}{{use-important}};
-webkit-box-shadow: none{{use-important}};
-moz-box-shadow: none{{use-important}};
box-shadow: none{{use-important}};
-webkit-border-radius: {{khwybd-lname-field-border-radius}}px{{use-important}};
-moz-border-radius: {{khwybd-lname-field-border-radius}}px{{use-important}};
border-radius: {{khwybd-lname-field-border-radius}}px{{use-important}};
box-sizing:border-box{{use-important}};
-moz-box-sizing:border-box{{use-important}};
height:auto{{use-important}};
margin:0{{use-important}};
border-width:0{{use-important}};
font-weight:{{khwybd-lname-field-font-weight}}{{use-important}};
float:none{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="email"].field-pro-khwybd-email,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="email"].field-pro-khwybd-email {
top:{{khwybd-email-field-top}}px{{use-important}};
left:{{khwybd-email-field-left}}px{{use-important}};
position:absolute{{use-important}};
display:inline-block{{use-important}};
padding:{{khwybd-email-field-padding-top}}px {{khwybd-email-field-padding-right}}px {{khwybd-email-field-padding-bottom}}px {{khwybd-email-field-padding-left}}px{{use-important}};
width:{{khwybd-email-field-width}}{{use-important}};
color:{{khwybd-email-field-color}}{{use-important}};
font-family:{{khwybd-email-field-font}}{{use-important}};
font-size:{{khwybd-email-field-font-size}}px{{use-important}};
line-height:{{khwybd-email-field-line-height}}px{{use-important}};
background:{{khwybd-email-field-background-color}}{{use-important}};
text-align:{{khwybd-email-field-align}}{{use-important}};
-webkit-box-shadow: none{{use-important}};
-moz-box-shadow: none{{use-important}};
box-shadow: none{{use-important}};
-webkit-border-radius: {{khwybd-email-field-border-radius}}px{{use-important}};
-moz-border-radius: {{khwybd-email-field-border-radius}}px{{use-important}};
border-radius: {{khwybd-email-field-border-radius}}px{{use-important}};
box-sizing:border-box{{use-important}};
-moz-box-sizing:border-box{{use-important}};
height:auto{{use-important}};
margin:0{{use-important}};
border-width:0{{use-important}};
font-weight:{{khwybd-email-field-font-weight}}{{use-important}};
float:none{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="submit"].submit-pro-khwybd,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="submit"].submit-pro-khwybd {
position:absolute{{use-important}};
display:inline-block{{use-important}};
font-family:{{khwybd-subscribe-button-text-font}}{{use-important}};
font-size:{{khwybd-subscribe-button-text-font-size}}px{{use-important}};
line-height:{{khwybd-subscribe-button-text-line-height}}px{{use-important}};
background-color: {{khwybd-subscribe-button-color}}{{use-important}};
text-align:{{khwybd-subscribe-button-text-align}}{{use-important}};
border-style: solid{{use-important}};
border-width: 1px{{use-important}};
border-color:#C0C0C0{{use-important}};
-webkit-box-sizing: border-box{{use-important}};
-moz-box-sizing: border-box{{use-important}};
box-sizing: border-box{{use-important}};
color:{{khwybd-subscribe-button-text-color}}{{use-important}};
text-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3){{use-important}};
cursor: pointer{{use-important}};
-webkit-border-radius: {{khwybd-subscribe-button-text-border-radius}}px{{use-important}};
-moz-border-radius: {{khwybd-subscribe-button-text-border-radius}}px{{use-important}};
border-radius: {{khwybd-subscribe-button-text-border-radius}}px{{use-important}};
width:{{khwybd-subscribe-button-text-width}}{{use-important}};
height:auto{{use-important}};
padding:{{khwybd-subscribe-button-text-padding-top}}px 0 {{khwybd-subscribe-button-text-padding-bottom}}px 0{{use-important}};
box-sizing:border-box{{use-important}};
-moz-box-sizing:border-box{{use-important}};
background-image:none{{use-important}};
top:{{khwybd-subscribe-button-top}}px{{use-important}};
left:{{khwybd-subscribe-button-left}}px{{use-important}};
margin:0{{use-important}};
font-weight:{{khwybd-subscribe-button-text-font-weight}}{{use-important}};
float:none{{use-important}};
-webkit-appearance: none{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="submit"].submit-pro-khwybd:hover,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="submit"].submit-pro-khwybd:hover {
background-color:{{khwybd-subscribe-button-color}}{{use-important}};
color:{{khwybd-subscribe-button-text-color}}{{use-important}};
background-image:none{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-khwybd-{{num}} .popupally-pro-close-khwybd{
background-image:url('{{plugin_uri}}resource/frontend/img/fancy_close.png'){{use-important}};
background-size:cover{{use-important}};
display: block{{use-important}};
position: absolute{{use-important}};
top: -12px{{use-important}};
right: -12px{{use-important}};
width: 30px{{use-important}};
height: 30px{{use-important}};
color: white{{use-important}};
cursor: pointer{{use-important}};
z-index:999999{{use-important}};
}
@media (max-width: 960px) {
	#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-khwybd-{{num}}{
		{{position-960-code}}
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-khwybd-{{num}},
	#popup-embedded-box-pro-gfcr-{{num}}.popupally-pro-outer-embedded-khwybd-{{num}}{
		width:{{khwybd-width-960}}px{{use-important}};
		height:{{khwybd-height-960}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} .desc-pro-khwybd,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} .desc-pro-khwybd{
		top:{{khwybd-headline-960-top}}px{{use-important}};
		left:{{khwybd-headline-960-left}}px{{use-important}};
		font-size:{{khwybd-headline-960-font-size}}px{{use-important}};
		line-height:{{khwybd-headline-960-line-height}}px{{use-important}};
		width:{{khwybd-headline-960-width}}px{{use-important}};
		height:{{khwybd-headline-960-height}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} .textbox-1-pro-khwybd,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} .textbox-1-pro-khwybd{
		top:{{khwybd-textbox-1-960-top}}px{{use-important}};
		left:{{khwybd-textbox-1-960-left}}px{{use-important}};
		font-size:{{khwybd-textbox-1-960-font-size}}px{{use-important}};
		line-height:{{khwybd-textbox-1-960-line-height}}px{{use-important}};
		width:{{khwybd-textbox-1-960-width}}px{{use-important}};
		height:{{khwybd-textbox-1-960-height}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} .textbox-2-pro-khwybd,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} .textbox-2-pro-khwybd{
		top:{{khwybd-textbox-2-960-top}}px{{use-important}};
		left:{{khwybd-textbox-2-960-left}}px{{use-important}};
		font-size:{{khwybd-textbox-2-960-font-size}}px{{use-important}};
		line-height:{{khwybd-textbox-2-960-line-height}}px{{use-important}};
		width:{{khwybd-textbox-2-960-width}}px{{use-important}};
		height:{{khwybd-textbox-2-960-height}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} .image-1-pro-khwybd,
	#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} .image-1-pro-khwybd {
		top:{{khwybd-image-1-960-top}}px{{use-important}};
		left:{{khwybd-image-1-960-left}}px{{use-important}};
		width:{{khwybd-image-1-960-width}}px{{use-important}};
		height:{{khwybd-image-1-960-height}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} .image-2-pro-khwybd,
	#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} .image-2-pro-khwybd {
		top:{{khwybd-image-2-960-top}}px{{use-important}};
		left:{{khwybd-image-2-960-left}}px{{use-important}};
		width:{{khwybd-image-2-960-width}}px{{use-important}};
		height:{{khwybd-image-2-960-height}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="text"].field-pro-khwybd-name,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="text"].field-pro-khwybd-name {
		top:{{khwybd-name-field-960-top}}px{{use-important}};
		left:{{khwybd-name-field-960-left}}px{{use-important}};
		padding:{{khwybd-name-field-960-padding-top}}px {{khwybd-name-field-960-padding-right}}px {{khwybd-name-field-960-padding-bottom}}px {{khwybd-name-field-960-padding-left}}px{{use-important}};
		width:{{khwybd-name-field-960-width}}{{use-important}};
		font-size:{{khwybd-name-field-960-font-size}}px{{use-important}};
		line-height:{{khwybd-name-field-960-line-height}}px{{use-important}};
		-webkit-border-radius: {{khwybd-name-field-960-border-radius}}px{{use-important}};
		-moz-border-radius: {{khwybd-name-field-960-border-radius}}px{{use-important}};
		border-radius: {{khwybd-name-field-960-border-radius}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="text"].field-pro-khwybd-lname,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="text"].field-pro-khwybd-lname {
		top:{{khwybd-lname-field-960-top}}px{{use-important}};
		left:{{khwybd-lname-field-960-left}}px{{use-important}};
		padding:{{khwybd-lname-field-960-padding-top}}px {{khwybd-lname-field-960-padding-right}}px {{khwybd-lname-field-960-padding-bottom}}px {{khwybd-lname-field-960-padding-left}}px{{use-important}};
		width:{{khwybd-lname-field-960-width}}{{use-important}};
		font-size:{{khwybd-lname-field-960-font-size}}px{{use-important}};
		line-height:{{khwybd-lname-field-960-line-height}}px{{use-important}};
		-webkit-border-radius: {{khwybd-lname-field-960-border-radius}}px{{use-important}};
		-moz-border-radius: {{khwybd-lname-field-960-border-radius}}px{{use-important}};
		border-radius: {{khwybd-lname-field-960-border-radius}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="email"].field-pro-khwybd-email,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="email"].field-pro-khwybd-email {
		top:{{khwybd-email-field-960-top}}px{{use-important}};
		left:{{khwybd-email-field-960-left}}px{{use-important}};
		padding:{{khwybd-email-field-960-padding-top}}px {{khwybd-email-field-960-padding-right}}px {{khwybd-email-field-960-padding-bottom}}px {{khwybd-email-field-960-padding-left}}px{{use-important}};
		width:{{khwybd-email-field-960-width}}{{use-important}};
		font-size:{{khwybd-email-field-960-font-size}}px{{use-important}};
		line-height:{{khwybd-email-field-960-line-height}}px{{use-important}};
		-webkit-border-radius: {{khwybd-email-field-960-border-radius}}px{{use-important}};
		-moz-border-radius: {{khwybd-email-field-960-border-radius}}px{{use-important}};
		border-radius: {{khwybd-email-field-960-border-radius}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="submit"].submit-pro-khwybd,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="submit"].submit-pro-khwybd {
		top:{{khwybd-subscribe-button-960-top}}px{{use-important}};
		left:{{khwybd-subscribe-button-960-left}}px{{use-important}};
		padding:{{khwybd-subscribe-button-text-960-padding-top}}px 0 {{khwybd-subscribe-button-text-960-padding-bottom}}px 0{{use-important}};
		width:{{khwybd-subscribe-button-text-960-width}}{{use-important}};
		font-size:{{khwybd-subscribe-button-text-960-font-size}}px{{use-important}};
		line-height:{{khwybd-subscribe-button-text-960-line-height}}px{{use-important}};
		-webkit-border-radius: {{khwybd-subscribe-button-text-960-border-radius}}px{{use-important}};
		-moz-border-radius: {{khwybd-subscribe-button-text-960-border-radius}}px{{use-important}};
		border-radius: {{khwybd-subscribe-button-text-960-border-radius}}px{{use-important}};
	}
}
@media (max-width: 640px) {
	#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-khwybd-{{num}}{
		{{position-640-code}}
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-khwybd-{{num}},
	#popup-embedded-box-pro-gfcr-{{num}}.popupally-pro-outer-embedded-khwybd-{{num}}{
		width:{{khwybd-width-640}}px{{use-important}};
		height:{{khwybd-height-640}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} .desc-pro-khwybd,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} .desc-pro-khwybd{
		top:{{khwybd-headline-640-top}}px{{use-important}};
		left:{{khwybd-headline-640-left}}px{{use-important}};
		font-size:{{khwybd-headline-640-font-size}}px{{use-important}};
		line-height:{{khwybd-headline-640-line-height}}px{{use-important}};
		width:{{khwybd-headline-640-width}}px{{use-important}};
		height:{{khwybd-headline-640-height}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} .textbox-1-pro-khwybd,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} .textbox-1-pro-khwybd{
		top:{{khwybd-textbox-1-640-top}}px{{use-important}};
		left:{{khwybd-textbox-1-640-left}}px{{use-important}};
		font-size:{{khwybd-textbox-1-640-font-size}}px{{use-important}};
		line-height:{{khwybd-textbox-1-640-line-height}}px{{use-important}};
		width:{{khwybd-textbox-1-640-width}}px{{use-important}};
		height:{{khwybd-textbox-1-640-height}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} .textbox-2-pro-khwybd,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} .textbox-2-pro-khwybd{
		top:{{khwybd-textbox-2-640-top}}px{{use-important}};
		left:{{khwybd-textbox-2-640-left}}px{{use-important}};
		font-size:{{khwybd-textbox-2-640-font-size}}px{{use-important}};
		line-height:{{khwybd-textbox-2-640-line-height}}px{{use-important}};
		width:{{khwybd-textbox-2-640-width}}px{{use-important}};
		height:{{khwybd-textbox-2-640-height}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} .image-1-pro-khwybd,
	#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} .image-1-pro-khwybd {
		top:{{khwybd-image-1-640-top}}px{{use-important}};
		left:{{khwybd-image-1-640-left}}px{{use-important}};
		width:{{khwybd-image-1-640-width}}px{{use-important}};
		height:{{khwybd-image-1-640-height}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} .image-2-pro-khwybd,
	#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} .image-2-pro-khwybd {
		top:{{khwybd-image-2-640-top}}px{{use-important}};
		left:{{khwybd-image-2-640-left}}px{{use-important}};
		width:{{khwybd-image-2-640-width}}px{{use-important}};
		height:{{khwybd-image-2-640-height}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="text"].field-pro-khwybd-name,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="text"].field-pro-khwybd-name {
		top:{{khwybd-name-field-640-top}}px{{use-important}};
		left:{{khwybd-name-field-640-left}}px{{use-important}};
		padding:{{khwybd-name-field-640-padding-top}}px {{khwybd-name-field-640-padding-right}}px {{khwybd-name-field-640-padding-bottom}}px {{khwybd-name-field-640-padding-left}}px{{use-important}};
		width:{{khwybd-name-field-640-width}}{{use-important}};
		font-size:{{khwybd-name-field-640-font-size}}px{{use-important}};
		line-height:{{khwybd-name-field-640-line-height}}px{{use-important}};
		-webkit-border-radius: {{khwybd-name-field-640-border-radius}}px{{use-important}};
		-moz-border-radius: {{khwybd-name-field-640-border-radius}}px{{use-important}};
		border-radius: {{khwybd-name-field-640-border-radius}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="text"].field-pro-khwybd-lname,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="text"].field-pro-khwybd-lname {
		top:{{khwybd-lname-field-640-top}}px{{use-important}};
		left:{{khwybd-lname-field-640-left}}px{{use-important}};
		padding:{{khwybd-lname-field-640-padding-top}}px {{khwybd-lname-field-640-padding-right}}px {{khwybd-lname-field-640-padding-bottom}}px {{khwybd-lname-field-640-padding-left}}px{{use-important}};
		width:{{khwybd-lname-field-640-width}}{{use-important}};
		font-size:{{khwybd-lname-field-640-font-size}}px{{use-important}};
		line-height:{{khwybd-lname-field-640-line-height}}px{{use-important}};
		-webkit-border-radius: {{khwybd-lname-field-640-border-radius}}px{{use-important}};
		-moz-border-radius: {{khwybd-lname-field-640-border-radius}}px{{use-important}};
		border-radius: {{khwybd-lname-field-640-border-radius}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="email"].field-pro-khwybd-email,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="email"].field-pro-khwybd-email {
		top:{{khwybd-email-field-640-top}}px{{use-important}};
		left:{{khwybd-email-field-640-left}}px{{use-important}};
		padding:{{khwybd-email-field-640-padding-top}}px {{khwybd-email-field-640-padding-right}}px {{khwybd-email-field-640-padding-bottom}}px {{khwybd-email-field-640-padding-left}}px{{use-important}};
		width:{{khwybd-email-field-640-width}}{{use-important}};
		font-size:{{khwybd-email-field-640-font-size}}px{{use-important}};
		line-height:{{khwybd-email-field-640-line-height}}px{{use-important}};
		-webkit-border-radius: {{khwybd-email-field-640-border-radius}}px{{use-important}};
		-moz-border-radius: {{khwybd-email-field-640-border-radius}}px{{use-important}};
		border-radius: {{khwybd-email-field-640-border-radius}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="submit"].submit-pro-khwybd,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-khwybd-{{num}} input[type="submit"].submit-pro-khwybd {
		top:{{khwybd-subscribe-button-640-top}}px{{use-important}};
		left:{{khwybd-subscribe-button-640-left}}px{{use-important}};
		padding:{{khwybd-subscribe-button-text-640-padding-top}}px 0 {{khwybd-subscribe-button-text-640-padding-bottom}}px 0{{use-important}};
		width:{{khwybd-subscribe-button-text-640-width}}{{use-important}};
		font-size:{{khwybd-subscribe-button-text-640-font-size}}px{{use-important}};
		line-height:{{khwybd-subscribe-button-text-640-line-height}}px{{use-important}};
		-webkit-border-radius: {{khwybd-subscribe-button-text-640-border-radius}}px{{use-important}};
		-moz-border-radius: {{khwybd-subscribe-button-text-640-border-radius}}px{{use-important}};
		border-radius: {{khwybd-subscribe-button-text-640-border-radius}}px{{use-important}};
	}
}