/***************************************
General 
contains styling for larger layout components; 
e.g. nav, header, footer, etc.
***************************************/


#sidebar-nav {
	width:280px;
	top: 0;
	max-width:100%;
	height:100vh;
	background-color: $pink-light;
	color:white;
	padding: 30px 20px;
	box-sizing:border-box;
	overflow-y:auto;
	position:fixed;
	z-index:100;
    left:-280px;
    transition:200ms ease-in-out all;

    &.menu-open {
      left:0;
    }
    ul {
	    margin-top: 20px;
	    ul {
		    border-left: 1px solid #fff;
		    margin-top: 0;
		    padding-left: 15px;
	    }
    }
    .menu-item-has-children {
	    > a {
		    color: #fff;
	    }
    }
    li {
	    list-style: none;
	    font-family: $font-sub-header;
	    text-transform: uppercase;
	    font-weight: 500;
	    letter-spacing: .12em;
	    font-size: .9em;
	    a {
		    display: block;
		    width: 100%;
		    padding: 9px 0;
	    }
    }


}

#body-wrap {
	width:100%;
}

/****************************
Header
****************************/
.header {
	z-index: 9;
}
.searchmain {
	height: 0;
	overflow: hidden;
	transition: all 0.2s linear 0s;
	position: absolute;
	left: 0;
	right: 0;
	top: 72px;
	width: 100%;
	background: #fff;
	z-index: 9;
	::-webkit-input-placeholder {
	    color: $grey-medium;
	}
	:-moz-placeholder {
	   color: $grey-medium;
	   opacity:  1;
	}
	::-moz-placeholder {
	   color: $grey-medium;
	   opacity:  1;
	}
	:-ms-input-placeholder {
	   color: $grey-medium;
	}
	:placeholder-shown {
	  color: $grey-medium;
	}
	&.showthis {
		height: 130px;
		border-bottom: 1px solid $grey-medium;
		.search-input {
			margin-top: 35px;
		}
	}
	.search-input {
		font-family: $font-header;
		width: 90%;
		text-align: left;
		font-size: 2em;
		line-height: 1.8;
		border: none;
		letter-spacing: .06em;
	}
	.search-submit {
		border: none;
		background: none;
		float: right;
		font-family: $font-sub-header;
		letter-spacing: .18em;
		text-transform: uppercase;
		font-size: .67em;
		margin-top: 60px;
		font-weight: 500;
	}
}
.mainlogo {
	padding-top: 71px;
	margin: 70px 0;
	text-align: center;
	.wrapper {
		max-width: 590px;
	}
	.tagline {
		margin-top: 25px;
		width: 450px;
	}
}
#nav-trigger {
	display: block;
	float: left;
	margin-top: 19px;
	margin-left: 20px;
	width: 23px;
	height: 30px;	
	div {
		height: 1px;
		width: 23px;
		background-color: $grey-dark;
		margin-bottom: 6px;
	}
	@media screen and (min-width: 761px) {
		display:none;
	}
}

#nav-close {
	display:block;
	position:absolute;
	top: 10px;
	left: 15px;
	width:30px;
	height:30px;
	
	div {
		height:1px;
		width:24px;
		background-color:$text-color;
		position:absolute;
	
		&:nth-of-type(1) {
			transform:rotate(45deg);
			top:15px;
		}
	
		&:nth-of-type(2) {
			transform:rotate(-45deg);
			top:15px;
		}
	}
	
}

.mainbar {
	border-bottom: 1px solid $grey-medium;
	font-family: $font-sub-header;
	text-transform: uppercase;
	z-index: 8;
	font-weight: 500;
	background: #fff;
	position: fixed;
	left: 0;
	right: 0;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		li.homelink a {
			position: relative;
		}
		li.homelink a:after {
		    background-size: cover;
		    content: " ";
		    display: block;
		    height: 51px;
		    left: 0;
		    margin: 0 auto;
		    opacity: .5;
		    position: absolute;
		    right: 0;
		    top: 8px;
		    width: 22px;
		    z-index: -1;
			-webkit-filter: grayscale(100%);
			filter: grayscale(100%);

		}
		&#main-left,
		&#main-right {
			float: left;
			font-size: .66em;
			letter-spacing: .18em;
			li {
				float: left;
				a {
					display: block;
					color: $grey-dark;
					padding: 30px;
					border-right: 1px solid $grey-medium;
					&:hover {
						color: $pink;
					}
				}
				&.current-menu-item {
					a {
						color: $pink;
					}
				}
			}
		}
		li a:hover {
			color: $pink;
		}
		li.current-menu-item {
			a {
				color: $pink;
			}
		}

		&#main-right {
			float: right;
			li {
				a {
					border-right: none;
					border-left: 1px solid $grey-medium;
				}
			}
		}
		&#main-center {
			position: absolute;
			left: 50%;
			margin: 0 auto;
			text-align: center;
			font-size: .8em;
			letter-spacing: .18em;
			top: 50%;
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			li {
				display: inline-block;
				position: relative;
				margin-left: 60px;
				&.menu-item-has-children {
					&:after {
						width: 100%;
						height: 29px;
						content: " ";
						display: block;
						position: absolute;
						z-index: 422;
					}
					> a {
					}
				}
				&:first-child {
					margin-left: 0;
				}
				.sub-menu {
				    background: $pink-light;
				    border-top: none;
				    left: 50%;
				    margin-top: 0;
				    padding: 10px 30px 25px;
				    top: 39px;
				    width: 200px;
					z-index: 5;
					visibility: hidden; /* hides sub-menu */
					opacity: 0;
					position: absolute;
					-moz-transform: translateX(-50%) translateY(-0.5em);
					-webkit-transform: translateX(-50%) translateY(-0.5em);
					-ms-transform: translateX(-50%) translateY(-0.5em);
					transform: translateX(-50%) translateY(-0.5em);
					-moz-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
					-webkit-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
					-ms-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
					transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
					&:before {
					    border-bottom: 9px solid $pink-light;
					    border-left: 10px solid transparent;
					    border-right: 10px solid transparent;
					    content: " ";
					    display: table;
					    font-size: 0;
					    height: 0;
					    left: 0;
					    line-height: 0;
					    margin: 0 auto;
					    position: absolute;
					    right: 0;
					    top: -8px;
					    width: 0;
					}
					li {
						display: table;
						width: 100%;
						font-size: .83em;
						padding: 0;
						margin: 0 !important;
						text-align: center;
						a {
							display: table;
							width: auto;
							margin: 0 auto;
							padding: 12px 0 2px;
							&:hover {
							}
						}
					}
				}
				&.hover {
					.sub-menu {
						visibility: visible; /* shows sub-menu */
						opacity: 1;
						-moz-transform: translateX(-50%) translateY(0%);
						-webkit-transform: translateX(-50%) translateY(0%);
						-ms-transform: translateX(-50%) translateY(0%);
						transform: translateX(-50%) translateY(0%);
						transition-delay: 0s, 0s, 0.3s;
					}
				}

			}
		}
	}
}

/****************************
Footer
****************************/

.site-footer {
	font-family: $font-sub-header;
	padding: 70px 0 50px;
	font-size: .66em;
	text-transform: uppercase;
	font-weight: 500 !important;
	letter-spacing: .18em;
	overflow: hidden;
	display: block;
	.copyright {
		margin-top: 70px;
		color: $grey-medium;
		a {
			color: $grey-medium;
		}
		a:hover {
			color: $pink;
		}
	}
	.footer-logonav {
		border-top: 1px solid $grey-medium;
		padding: 30px 0 0;
		z-index: 3;
		.icon {
			width: 20px;
			float: left;
		}
		.logo {
			width: 225px;
			float: left;
			margin-left: 20px;
			margin-top: 9px;
		}
		ul {
			list-style: none;
			padding: 0;
			margin: 20px 0 0;
			float: right;
			text-transform: uppercase;
			li {
				margin-left: 60px;
				float: left;
				a {
					display: block;
					&:hover {
						color: $pink;
					}
				}
			}
		}
	}
}
.large-icon {
	bottom: 0;
	margin-bottom: -65px;
	opacity: 0.15;
	position: absolute;
	right: 180px;
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	transform: rotate(10deg);
	width: 175px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

/****************************
Post - General
****************************/

.postcats {
	font-family: $font-sub-header;
	font-size: .67em;
	text-transform: uppercase;
	letter-spacing: 0;
	color: $grey-dark;
	margin: 26px 0 21px;
	a {
		color: $grey-dark;
		letter-spacing: .14em;
		margin-left: 6px;
		&:first-child {
			margin-left: 0;
			margin-right: 6px;
		}
		&:hover {
			color: $pink;
		}
	}
}
.recipe-meta {
	font-family: $font-sub-header;
	font-size: .74em;
	font-weight: 500;
	letter-spacing: .14em;
	margin: 40px 0 30px;
	text-transform: uppercase;
	> div {
		margin: 10px 0;
	}
	a {
		color: $grey-medium;
		margin-left: 10px;
		border-bottom: 1px solid;
	}
}
.instruction-steps,
.ingredients {
	background: #f7f7f7;
	padding: 32px;
	ul {
		padding: 0;
		line-height: 1.3;
		list-style: none;
		li {
			margin: 10px 0;
			padding-left: 15px;
			position: relative;
			&:before {
				content: '• ';
				display: inline-block;
				position: absolute;
				left: 0;
			}
		}
	}
	.ingr-title {
		font-family: $font-sub-header;
		font-size: 0.8em;
		font-weight: 500;
		letter-spacing: 0.2em;
		margin: -38px 0 32px;
		text-align: center;
		text-transform: uppercase;
		
	}
}
/****************************
Post - Home
****************************/
.alm-reveal {
	margin-top: 50px;
	&:first-child {
		margin-top: 0;
	}
}
.postimgcol {
	width: 62%;
	float: left;
	.swapimgs {
		img:nth-child(2) {
			display: none;
		}
		&:hover {
			img:first-child {
				display: none;
			}
			img:nth-child(2) {
				display: block;
			}
		}		
	}
}

.posttxtcol {
	width: 34.5%;
	float: right;
}
.excerpt {
	max-width: 310px;
}
.view-post {
	font-family: $font-script;
	font-size: 3.13em;
	line-height: 1;
	display: block;
	margin-bottom: 46px;
	&:before {
		background: $grey-medium;
		content: " ";
		display: block;
		float: left;
		height: 1px;
		margin: 37px 10px 0 -50px;
		position: relative;
		width: 62%;
	}
	&:hover {
		color: $pink;
	}
}

.homeshop {
	text-align: center;
	font-family: $font-sub-header;
	text-transform: uppercase;
	padding: 80px 0;
	font-weight: 500;
	.homeshoptitle {
		font-size: 1.4em;
		letter-spacing: .16em;
	}
	.homeshoplink {
		font-size: .67em;
		letter-spacing: .2em;
		color: $grey-medium;
		display: block;
		margin: 24px auto 46px;
	}
	.homeshoplist {
		> div {
			display: table;
			width: 20%;
			float: left;
			a {
				display: block;
				max-width: 180px;
				margin: 0 auto;
				img {
					max-height: 190px;
				}
			}			
		}
	}
}
.home-season-toggle {
	top: 50px;
	left: 50px;
	position: absolute;
	z-index: 5;
}
.home-season-slide {
	position: relative;
	&:after {
		width: 100%;
		content: " ";
		display: table;
	}
}
.mostlovedwhite,
.inseasonwhite {
	background: #fff;
	display: table;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
.home-season-loved {
	margin-bottom: 80px;
	.owl-dot {
		font-family: $font-sub-header;
		letter-spacing: .2em;
		font-weight: 500;
		text-transform: uppercase;
		background: #fff;
		padding: 12px 20px;
		font-size: .67em;
		display: inline-block;
		cursor: pointer;
		&.active {
			background: $pink;
			color: #fff;
		}
		&:first-child:after {
			content: "In Season";
		}
		&:nth-child(2):after {
			content: "Most Loved";
		}
	}
	.wrapper {
		background: #f7f7f7;
	}
	.mostloved,
	.inseason {
		display: table;
		padding: 50px 50px 0;
	}
	.hsl-titles {
		width: 40%;
		clear: left;
		float: left;		
	}
	.hsl-title {
		margin-top: 27px;
		position: relative;
		&.featured:after {
		    background: $grey-medium;
			content: " ";
			display: block;
			height: 1px;
			position: absolute;
			right: -48%;
			top: 12px;
			z-index: 3;
			width: 50%;
		}
		&:first-of-type {
			margin-top: 80px;
		}
		span {
			font-family: $font-sub-header;
			display: inline-block;
			font-weight: 500;
			letter-spacing: 0.24em;
			margin-top: 7px;
			vertical-align: top;
			width: 11%;
		}
		h2 {
			font-family: $font-header;
			display: inline-block;
			font-size: 1.4em;
			font-weight: 900;
			letter-spacing: 0.04em;
			line-height: 1.5;
			margin: 0;
			vertical-align: top;
			width: 82%;
		}
		&:hover h2 {
			color: $pink;
		}
	}
	.hsl-image {
		width: 45.5%;
		position: relative;
		z-index: 3;
		float: right;
		img {
			width: 100%;
			height: auto;
		}
	}
}
.homeftvideo {
	margin-top: 90px;
	.section {
		background: #f7f7f7;
		padding: 50px 50px 70px;
		.postimgcol {
			width: 45%;
			position: relative;
			a {
				display: block;
				&:after {
					background-image: url(../../images/icon-play.png);
					background-size: contain;
					background-position: 50% 50%;
					background-repeat: no-repeat;
					content: " ";
					width: 50px;
					height: 50px;
					display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					-moz-transform: translateX(-50%) translateY(-0.5em);
					-webkit-transform: translateX(-50%) translateY(-0.5em);
					-ms-transform: translateX(-50%) translateY(-0.5em);
					transform: translateX(-50%) translateY(-0.5em);
					opacity: .8;
					-webkit-transition: all 0.2s linear 0s;
					-moz-transition: all 0.2s linear 0s;
					transition: all 0.2s linear 0s;
				}
				&:hover {
					&:after {
						opacity: 1;
					}
				}
			}
		}		
	}
	.posttxtcol {
		width: 46%;
	}
	.view-post::before {
		margin: 37px 10px 0 0;
		width: 54%;
	}
	.fttag {
		font-family: $font-sub-header;
		letter-spacing: .2em;
		font-weight: 500;
		text-transform: uppercase;
		margin-bottom: 10px;
		padding: 12px 20px;
		font-size: .67em;
		display: inline-block;
		cursor: pointer;
		background: $pink;
		color: #fff;

	}
	.excerpt {
		max-width: 390px;
	}
	.view-post {
		margin: 50px 0 0;
	}
}
.instawrap {
	h5 {
		border-top: 1px solid $grey-medium;
		padding-top: 60px;
		margin: 0 0 60px;
		text-align: center;
		text-transform: uppercase;
		font-size: 1.4em;
		font-weight: 500;
		letter-spacing: .16em;
	}
	.instatag {
		text-align: right;
		margin-top: 30px;
		letter-spacing: .2em;
		color: $grey-dark;
		font-family: $font-sub-header;
		font-size: .67em;
		font-weight: 500;
		text-transform: uppercase;
		a {
			color: $grey-dark;
			&:hover {
				color: $pink;
			}
		}
	}
}
.homesubscribe {
	padding: 100px 0;
	text-align: center;
	text-transform: uppercase;
	h5 {
		font-size: 1.4em;
		font-weight: 500;
		letter-spacing: .16em;
	}
	p {
		font-size: .67em;
		letter-spacing: .2em;
		color: $grey-dark;
		display: block;
		font-weight: 500;
		margin: 24px auto 38px;
	}
	.large-icon {
		top: 0;
		margin: 0 auto;
		opacity: 0.15;
		left: 0;
		right: 0;
		position: absolute;
		-webkit-transform: rotate(10deg);
		-moz-transform: rotate(10deg);
		-ms-transform: rotate(10deg);
		transform: rotate(10deg);
		width: 175px;
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
		z-index: -2;
	}
	form {
		input {
			display: inline-block;
			vertical-align: middle;
			margin: 6px;
		}
	}
	#mce-EMAIL {
		background: #f2f3f5;
		padding: 14px 10px 10px;
		width: 360px;
		height: 57px;
		text-transform: uppercase;
		font-size: .73em;
		letter-spacing: .16em;
		border: none;
		text-align: center;
	}
	#mc-embedded-subscribe {
		font-family: $font-script;
		background: none;
		border: 1px solid $grey-medium;
		line-height: .8;
		font-size: 3.13em;
		padding: 0 10px 8px;
		height: 57px;
		cursor: pointer;
		-webkit-transition: all 0.2s linear 0s;
		-moz-transition: all 0.2s linear 0s;
		transition: all 0.2s linear 0s;
		&:hover {
			color: $pink;
		}
	}

}
.alm-btn-wrap {
	text-align: center;
}
.alm-load-more-btn.more {
	background: none;
	font-size: .73em;
	border: none;
	font-family: $font-sub-header;
	text-transform: uppercase;
	margin: 80px auto;
	letter-spacing: .24em;
	font-weight: 500;
	cursor: pointer;
	&:hover {
		color: $pink;
	}
}
.about-quote {
	max-width: 685px;
	text-align: center;
	margin: 55px auto;
	line-height: 1.5;
}
.comments-title,
#reply-title,
.section-title,
.about-title {
    font-family: $font-sub-header;
    font-size: 1.4em;
    font-weight: 500;
    letter-spacing: .14em;
    text-transform: uppercase;
}
.about-banner {
	z-index: 4;
}
.about-main {
	.about-text {
		padding-bottom: 40px;
	}
	.large-icon {
		top: 0;
		left: 0;
		right: 0;
		margin: -70px auto 0;
	}
	.about-title {
		padding-left: 7%;
		margin: 70px 0 20px;
	}
}
.signature {
	font-family: $font-script;
	display: table;
	clear: both;
	float: right;
	font-size: 3.13em;
	background: #fff;
	padding-left: 20px;
	margin-bottom: -55px;
	margin-top: 20px;
	position: relative;
	z-index: 3;
}
.about-press {
	padding: 70px 0;
	text-align: center;
	.press-list {
		border-bottom: 1px solid $grey-medium;
		> * {
			width: 18%;
			display: inline-block;
			vertical-align: middle;
			margin: 0.8%;
		}
	}
}
.about-faq {
	.section {
		padding-left: 7%;
	}
	.about-title {
		margin: 10px 0 25px;
	}
	.about-text {
		border-bottom: none;
		padding-bottom: 125px;
	}
}
.about-text {
	padding-left: 7%;
	border-bottom: 1px solid $grey-medium;
	.text-col {
		line-height: 1.8;
		width: 48%;
		float: right;
		&:first-child {
			float: left;
		}
		h3 {
			font-size: 1em;
			margin: 40px 0 0;
			+ div p:first-child {
				margin-top: 0;
			}
		}
	}
}

.post-banner-imgs {
	.two-col-imgs {
		img {
			width: 48.5%;
			float: right;
			&:first-child {
				float: left;
			}
		}
	}
	.single-img {
		text-align: center;
		img {
			margin: 0 auto;
		}
	}
}
.post-header {
	text-align: center;
	padding: 40px 0;
	.date {
		font-family: $font-sub-header;
		letter-spacing: .14em;
		font-size: .73em;
		text-transform: uppercase;
		font-weight: 500;
	}
}
.post-main {
	line-height: 1.8;
	.wrapper {
		max-width: 750px;
		img {
			margin: 40px -25px;
			max-width: none;
		}
	}
}
.sponsor-info {
	font-family: $font-sub-header;
	font-size: .73em;
	text-align: center;
	padding: 55px 0;
	font-weight: 500;
	color: $grey-dark;
	letter-spacing: .18em;
	text-transform: uppercase;
	a {
		color: $pink;
	}
}
.recipe-materials {
	text-align: center;
	margin-bottom: 65px;
	.wrapper {
		border-top: 1px solid $grey-medium;
		border-bottom: 1px solid $grey-medium;
		padding: 65px 0;
	}
	.materials-title {
	    font-family: $font-sub-header;
	    font-size: 1.4em;
	    font-weight: 500;
	    letter-spacing: .14em;
	    text-transform: uppercase;
	}
	.materials-list {
		margin: 60px 0 20px;
		> div {
			display: inline-block;
			vertical-align: middle;
			width: 13%;
			a {
				display: table;
				max-width: 150px;
				width: 95%;
				margin: 0 auto;
			}
		}
	}
}
.recipe-2col {
	> * {
		width: 48.5%;
		float: right;
		&:first-child {
			float: left;
		}
	}
	.recipe-meta {
		letter-spacing: .2em;
	}
	.instruction-steps,
	.ingredients {
		padding-left: 40px;
		padding-right: 40px;
		.ingr-title {
			margin: -40px 0 32px;
			font-size: 1.4em;
		}
	}
	.print-share {
		display: table;
		margin: 0 auto 60px;
		background: #ebebeb;
		position: relative;
		> *:not(.sharetogglebox) {
			font-family: $font-sub-header;
			letter-spacing: .2em;
			font-weight: 500;
			text-transform: uppercase;
			background: #ebebeb;
			padding: 12px 20px;
			font-size: .67em;
			width: 125px;
			display: inline-block;
			cursor: pointer;
			text-align: center;
			&.print {
				background: $pink;
				color: #fff;
			}
		}
		.sharewrap {
			position: relative;
		}
		.sharetogglebox {
		    background: $pink-light;
		    border-top: none;
		    left: 50%;
		    margin-top: 0;
		    padding: 5px 10px 15px;
		    text-align: center;
		    top: 60px;
		    display: none;
		    width: 130px;
			z-index: 5;
			position: absolute;
			-moz-transform: translateX(-50%) translateY(-0.5em);
			-webkit-transform: translateX(-50%) translateY(-0.5em);
			-ms-transform: translateX(-50%) translateY(-0.5em);
			transform: translateX(-50%) translateY(-0.5em);
			&:before {
			    border-bottom: 9px solid $pink-light;
			    border-left: 10px solid transparent;
			    border-right: 10px solid transparent;
			    content: " ";
			    display: table;
			    font-size: 0;
			    height: 0;
			    left: 0;
			    line-height: 0;
			    margin: 0 auto;
			    position: absolute;
			    right: 0;
			    top: -8px;
			    width: 0;
			}
		}
		.essb_links li, .essb_links li a, .essb_links li a .essb_icon, .essb_links li a .essb_network_name {
			font-family: $font-sub-header !important;
			color: $text-color !important;
			font-size: 10px !important;
			text-transform: uppercase;
			opacity: 1 !important;
			font-weight: 500 !important;
		}
		.essb_links .essb_hide_icon .essb_network_name {
			padding: 7px !important;
		}
	}
	.instruction-steps {
		ul {
			margin: 0;
		}
		.instruction-list {
			margin-top: 5px;
		}
		ul li {
			margin-top: 24px;
			line-height: 1.8;
			padding-left: 0;
			&:before {
				display: none;
			}
			&:first-child {
				margin-top: 0;
			}
		}
	}
	.instruction-group {
		margin-top: 30px;
		&:nth-child(2) {
			margin-top: 0;
		}
	}
	.post-recipe-img {
		width: 30%;
		float: left;
	}
	.post-recipe-title {
		width: 64%;
		float: right;
		h2 {
			margin: 0;
		}
	}
	.recipe-meta {
		max-width: 435px;
		margin: 50px auto;
	}
}
.recipe-note {
	line-height: 1.8;
	margin-top: 34px;
}
.post-nav {
	.wrapper {
		border-top: 1px solid $grey-medium;
		border-bottom: 1px solid $grey-medium;
		padding: 80px 0 50px;
		margin-top: 40px;
	}
	.screen-reader-text {
		display: none;
		visibility: hidden;
	}
	.nav-links {
		display: table;
		width: 100%;
		content: " ";
		letter-spacing: 0;
		.nav-previous {
			float: left;
			span {
				margin-left: 6px;
			}
		}
		.nav-next {
			float: right;
			span {
				margin-right: 6px;
			}
		}
		a {
			font-family: $font-sub-header;
			color: $grey-dark;
			font-weight: 500;
			font-size: .8em;
			text-transform: uppercase;
			span {
				letter-spacing: .24em;
			}
		}
	}
}
.alsolike {
	text-align: center;
	.wrapper {
		margin: 55px auto;
		border: 1px solid $grey-medium;
		padding-top: 65px;
	}
	.also-list {
		max-width: 940px;
		margin: 50px auto 75px;
		> div {
			width: 33.33%;
			float: left;
			a {
				display: table;
				margin: 0 auto;
				width: 95%;
				max-width: 265px;
				position: relative;
				&:hover {
					.alsohover {
						opacity: 1;
					}
				}
			}
			.alsohover {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: rgba(255,255,255,.8);
				width: 100%;
				height: 100%;
				opacity: 0;
				-webkit-transition: all 0.2s linear 0s;
				-moz-transition: all 0.2s linear 0s;
				transition: all 0.2s linear 0s;
				> div {
					position: absolute;
					left: 50%;
					margin: 0 auto;
					top: 50%;
					width: 95%;
					max-width: 200px;
					letter-spacing: .08em;
					line-height: 1.5;
					-webkit-transform: translate(-50%, -50%);
					-moz-transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
				}
				h3 {
					margin: 0;
					font-size: 1.2em;
					font-family: $font-header;
				}
				span {
					display: table;
					margin: 30px auto 0;
					font-family: $font-sub-header;
					font-size: .8em;
					text-transform: uppercase;
					letter-spacing: .2em;
					font-weight: 500;
				}
			}
		}
	}
}

#comments {
	.wrapper {
		max-width: 760px;
	}
}
.comments-title,
.comment-reply-title {
	text-align: center;	
}
.comments-title {
	margin: 65px 0;
}
.comment-list {
	padding: 0;
	margin: 0;
	list-style: none;
	padding-bottom: 100px;
	li {
		border-top: 1px solid $grey-medium;
		padding-top: 40px;
		margin-top: 40px;
	}
	> li {
		&:first-child {
			border-top: none;
		}
	}
	ul {
		list-style: none;
		padding: 0;
		li {
			padding-left: 40px;
		}
	}
}
.comment-awaiting-moderation {
	font-size: .8em;
}
.comment-metadata {
	display: none;
}
.comment-author {
	font-size: .67em;
	letter-spacing: .2em;
	color: $grey-dark;
	font-style: normal !important;
	cite {
		font-style: normal !important;
	}
	a {
		color: $grey-dark;;
	}
	text-transform: uppercase;
	b {
		font-weight: normal !important;
	}
}

.comment-content {
	line-height: 1.8;
	> * {
		margin: 25px 0;
	}
}
.comment-meta,
.reply {
	display: inline-block;
}
.reply {
	&:before {
		content: " • ";
		display: inline-block;
		float: left;
		font-size: 10px;
		color: $grey-dark;
		margin: 0 9px 0 6px;
		vertical-align: middle;
    }
}
.comment-meta a,
.comment-reply-link {
	display: table;
	font-size: .67em;
	letter-spacing: .2em;
	color: $grey-dark;;
	text-transform: uppercase;
}
.respondlink {
	display: table;
	padding: 0 5px 10px;
	margin: 30px auto 50px;
	letter-spacing: .05em;

}
#commentform {
	::-webkit-input-placeholder {
	    color: $grey-medium;
	    text-transform: uppercase;
		letter-spacing: .18em;
	}
	:-moz-placeholder {
	   color: $grey-medium;
	   opacity:  1;
	    text-transform: uppercase;
		letter-spacing: .18em;
	}
	::-moz-placeholder {
	   color: $grey-medium;
	   opacity:  1;
	    text-transform: uppercase;
		letter-spacing: .18em;
	}
	:-ms-input-placeholder {
	   color: $grey-medium;
	    text-transform: uppercase;
		letter-spacing: .18em;
	}
	:placeholder-shown {
	  color: $grey-medium;
	    text-transform: uppercase;
		letter-spacing: .18em;
	}
	> textarea,
	> input {
		background: #f7f7f7;
		border: none;
		font-size: .67em;
		padding: 15px 25px;
		letter-spacing: .08em;
		font-family: $font-sub-header;
	}
	> input {
		float: left;
		display: table;
		width: 31.8%;
		margin-left: 2.3%;
		&:first-child {
			margin-left: 0;
		}
	}
	> textarea {
		width: 100%;
		margin-top: 15px;
	}
	.form-submit {
		display: table;
		width: 100%;
		text-align: center;
		clear: both;
		margin: 0;
		input {
			background: $pink;
			border: none;
			color: #fff;
			letter-spacing: .08em;
			margin: 15px 0 0;
			display: table;
			width: 100%;
			padding: 15px 25px;
			letter-spacing: .18em;
			font-size: .73em;
			text-transform: uppercase;
			font-family: $font-sub-header;
			-webkit-transition: all 0.1s linear 0s;
			-moz-transition: all 0.1s linear 0s;
			transition: all 0.1s linear 0s;
			&:hover {
				background: $pink-light;
				color: $text-color;
			}
		}
	}
}
#nutritionlightbox:not(.featherlight-inner) {
	display: none;
}
.catwrap {
	h2.page-title {
		text-align: center;
		margin: -20px 0 54px;
	}
	.filterbytitle {
		font-family: $font-sub-header;
		text-transform: uppercase;
		letter-spacing: .2em;
		font-size: .86em;
		padding: 10px 0 10px 18px;
	}
	.catsidefilter {
		width: 19%;
		float: left;
		padding-right: 2%;
		.sf-label-checkbox,
		h4 {
			font-size: .67em;
			letter-spacing: .2em;
			text-transform: uppercase;
			font-weight: 500;
			font-family: $font-sub-header;
		}
		h4 {
			background: #f7f7f7;
			margin: 10px 0 10px;
			padding: 14px 18px;
			position: relative;
			cursor: pointer;
			&:after {
				content: " ";
				display: block;
				width: 14px;
				height: 8px;
				background-image: url(../../images/icon-catarrow.png);
				background-size: contain;
				position: absolute;
				right: 0;
				content: " ";
				display: block;
				height: 8px;
				position: absolute;
				right: 20px;
				top: 17px;
				width: 14px;
			}
			&.up {
				margin-bottom: 0;
			}
		}
		ul {
			padding: 0;
		}
	}
	.section {
		margin-bottom: 80px;
	}
	.searchandfilter li[data-sf-field-input-type="checkbox"] label, .searchandfilter li[data-sf-field-input-type="radio"] label, .searchandfilter li[data-sf-field-input-type="range-radio"] label, .searchandfilter li[data-sf-field-input-type="range-checkbox"] label {
		padding: 4px 0 4px 40px;
	}
	.searchandfilter ul li li {
		padding: 7px 0;
	}
	.catpostlist {
		width: 81%;
		float: left;
		border-left: 1px solid $grey-medium;
		h2 {
			&:hover {
				color: $pink;
			}
		}
		> div {
			width: 29.6%;
			display: inline-block;
			vertical-align: top;
			margin: 0 0 40px 3.32%;
			.imgbox {
				position: relative;
				padding: 77% 0;
				span {
					position: absolute;
					top: 50%;
					left: 50%;
					-webkit-transform: translate(-50%, -50%);
					-moz-transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					background: $text-color;
					color: #fff;
					text-transform: uppercase;
					font-family: $font-sub-header;
					letter-spacing: .22em;
					padding: 12px 24px;
					z-index: 3;
					font-size: .67em;
					-webkit-transition: all 0.2s linear 0s;
					-moz-transition: all 0.2s linear 0s;
					transition: all 0.2s linear 0s;
					opacity: 0;
				}
				img {
					position: absolute;
					top: 50%;
					left: 50%;
					-webkit-transform: translate(-50%, -50%);
					-moz-transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					min-width: 100%;
					min-height: 100%;
				}
			}
			a:hover {
				.imgbox span {
					opacity: 1;
				}
			}
			h2 {
				font-family: $font-header;
				font-weight: 900;
				letter-spacing: .04em;
				line-height: 1.4;
				margin: 10px 0;
			}
		}
	}
	input[type="checkbox"] {
	    position: absolute;
	    left: -9999px;
	}
	input[type="checkbox"] + label {
		font-size: 1.42em;
	}
	input[type="checkbox"] + label span {
	    display:inline-block;
	    width:18px;
	    height:18px;
	    position: absolute;
	    margin:-2px 12px 0 0;
	    vertical-align:middle;
	    cursor:pointer;
	    left: 8px;
	    border: 1px solid #fff;
	    outline: 1px solid $grey-medium;
	}
	
	input[type="checkbox"] + label span {
	}
	input[type="checkbox"]:checked + label {
		font-weight: normal !important;
	}
	input[type="checkbox"]:checked + label span{
		background-image: url(../../images/check-x.png);
		background-repeat: no-repeat;
		background-size: 10px;
		background-position: 50% 50%;
	}
}
.search-results {
	.catwrap .catpostlist {
		width: 100%;
		float: none;
		border: none;
	}
}
.shopwrap {
	.page-title {
		text-align: center;
		margin: -20px 0 50px;
	}
}
.shoppostlist {
	> div {
		width: 21.6%;
		display: inline-block;
		vertical-align: top;
		margin: 0 1.5% 80px;
		.imgbox {
			position: relative;
			padding: 52% 0;
			img {
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				-moz-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
			}
		}
		h2 {
			font-family: $font-sub-header;
			font-weight: 500;
			letter-spacing: .24em;
			font-size: .8em;
			line-height: 1.4;
			margin: 24px 0;
			text-transform: uppercase;
		}
		div {
			line-height: 1.8;
		}
	}
}
#popup-box-pro-gfcr-1 #popupally-fluid-1-fluid_zwgsqa-16[type="checkbox"],
#popup-embedded-box-pro-gfcr-1 #popupally-fluid-1-fluid_zwgsqa-16[type="checkbox"],
#popup-box-pro-gfcr-1 #popupally-fluid-1-fluid_zwgsqa-14[type="checkbox"],
#popup-embedded-box-pro-gfcr-1 #popupally-fluid-1-fluid_zwgsqa-14[type="checkbox"],
#popup-box-pro-gfcr-1 #popupally-fluid-1-fluid_zwgsqa-12[type="checkbox"],
#popup-embedded-box-pro-gfcr-1 #popupally-fluid-1-fluid_zwgsqa-12[type="checkbox"] {
    position: absolute !important;
    left: -9999px !important;
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}
#popup-box-pro-gfcr-1 #popupally-fluid-1-fluid_zwgsqa-2, #popup-embedded-box-pro-gfcr-1 #popupally-fluid-1-fluid_zwgsqa-2 {
	letter-spacing: .04em;
}
#popup-box-pro-gfcr-1 #popupally-fluid-1-fluid_zwgsqa-7, #popup-embedded-box-pro-gfcr-1 #popupally-fluid-1-fluid_zwgsqa-7,
#popup-box-pro-gfcr-1 #popupally-fluid-1-fluid_zwgsqa-8, #popup-embedded-box-pro-gfcr-1 #popupally-fluid-1-fluid_zwgsqa-8 {
	letter-spacing: .2em;
}
.popupally-pro-outer-1-fluid_zwgsqa {
	input[type="checkbox"] + div label span {
	    display:inline-block;
	    width:17px;
	    height:17px;
	    margin:-2px 12px 0 0;
	    vertical-align:middle;
	    cursor:pointer;
	    position: relative;
	    border: 1px solid #fff;
	    outline: 1px solid $grey-medium;
	}
	input[type="checkbox"] + div label {
		cursor: pointer;
		letter-spacing: 0.16em;
	}
	input[type="checkbox"] + div label span {
	}
	input[type="checkbox"]:checked + div label {
		font-weight: normal !important;
	}
	input[type="checkbox"]:checked + div label span{
		background-image: url(../../images/check-x.png);
		background-repeat: no-repeat;
		background-size: 10px;
		background-position: 50% 50%;
	}	
}
body #popup-box-pro-gfcr-1 .popupally-pro-outer-1-fluid_zwgsqa .popupally-pro-close {
	background-image: url(../../images/popup_close.png) !important;
	width: 20px !important;
	height: 20px !important;
	top: 20px !important;
	right: 20px !important;
}
.social-float {
	position: fixed;
	background: #fff;
	left: 0;
	width: 45px;
	text-align: center;
	top: 380px;
	z-index: 7;
	a {
		display: table;
		margin: 25px auto;
		&:hover {
			color: $pink !important;
			i {
				color: $pink !important;
			}
		}
	}
}
.page-template-default {
	.page-title {
		text-align: center;
		margin: -20px 0 50px;
	}
	.default-content {
		margin-bottom: 80px;
		.wrapper {
			max-width: 700px;
		}
	}
}
@media only screen and (max-width: 960px) {
	.mainbar ul#main-center li {
		margin-left: 35px;
	}
	.mainbar ul#main-left li a, .mainbar ul#main-right li a {
		padding: 20px;
	}
	.mainbar ul li.homelink a::after {
		height: 39px;
		top: 6px;
		width: 17px;
	}
	.mainlogo {
		margin: 50px 0;
	}
	.mainlogo .wrapper {
		max-width: 440px;
	}
	.mainlogo .tagline {
		width: 410px;
	}
}
@media only screen and (max-width: 900px) {
	.home-post:not(.homeftvideo) {
		.posttxtcol,
		.postimgcol {
			float: none;
			width: 100%;
		}		
		.postimgcol {
			text-align: center;
			img {
				margin: 0 auto;
			}
		}
		.posttxtcol {
			margin: 20px auto;
			max-width: 600px;
		}
	}
	.homeftvideo {
		.posttxtcol {
			width: 50%;
		}
		.view-post {
			margin-top: 30px;
		}
		.view-post::before {
			width: 50% !important;
		}
		.section {
			padding: 30px;
		}
	}
	.excerpt {
		max-width: none;
	}
	.view-post {
		text-align: right;
		&:before {
			margin: 37px 10px 0 0 !important;
			width: 73% !important;
		}
	}
	.mostlovedwhite,
	.inseasonwhite {
		display: none;
	}
	.home-season-loved .mostloved,
	.home-season-loved .inseason {
		padding: 50px;
	}
	.home-season-loved .hsl-title.featured::after {
	    bottom: 40px;
	    height: 400px;
	    left: auto;
	    right: 15px;
	    top: auto;
	    width: 1px;
	}
	.home-season-loved .hsl-title.featured a:before {
		background: $grey-medium;
		bottom: 40px;
		content: " ";
		display: block;
		height: 1px;
		right: 15px;
		position: absolute;
		width: 40px;
		z-index: 3;
	}
	.home-season-loved .mostloved,
	.home-season-loved .inseason {
		margin: 0 auto;
	}
	.home-season-loved .hsl-title:first-of-type {
		margin-top: 40px !important;
	}
	.home-season-loved .hsl-image,
	.home-season-loved .hsl-titles {
		display: table;
		float: none;
		margin: 0 auto;
		max-width: 600px;
		width: 100%;
	}
	.page-title {
		font-size: 1.8em;
	}
	.mainlogo {
		padding-top: 51px;
	}
	.site-footer .footer-logonav ul li {
		margin-left: 25px;
	}
	.site-footer {
		padding-bottom: 70px;
	}
	.home-season-toggle {
	    display: table;
	    left: 0;
	    margin: 0 auto;
	    right: 0;
	    top: -15px;
	}
	.home-season-loved .mostloved, .home-season-loved .inseason {
		padding-top: 50px;
	}
	.catwrap.catwrap-recipes .filterbytitle {
		padding: 10px 0;
	}
	.catwrap-recipes .catsidefilter .searchandfilter > ul {
		text-align: center;
		> li {
			width: 25%;
			padding: 0 1%;
			display: inline-block;
			text-align: left;
			vertical-align: top;
			position: relative;
			ul {
				display: none;
				position: absolute;
				background: #fff;
				border: 1px solid #eee;
				z-index: 3;
				padding: 10px 0;
				width: 91.2%;
				border-top: none;
			}
		}
	}
	.catwrap-guides .filterbytitle {
		text-align: center;
		padding: 10px 0;
	}
	.catwrap-guides ul {
		text-align: center;
	}
	.catwrap-guides ul li li {
		width: 24%;
		text-align: left;
		position: relative;
		max-width: 180px;
		display: inline-block;
	}
	.catwrap.catwrap-recipes .catpostlist > div {
		margin: 0 1.66% 40px;
	}
	.catwrap .catpostlist,
	.catwrap .catsidefilter {
		width: 100%;
		border: none;
		padding-right: 0;
	}
	.catwrap.catwrap-guides .catsidefilter,
	.catwrap.catwrap-recipes .catsidefilter {
		text-align: center;
		margin-bottom: 50px;
		border-bottom: 1px solid $grey-medium;
		padding-bottom: 15px;
	}
	.post-main .wrapper img {
		margin: 40px auto;
		max-width: 100%;
	}
}
@media only screen and (max-width: 760px) {
	.shoppostlist > div {
		width: 29.8%;
	}
	.mainbar ul#main-left,
	.mainbar ul#main-right li:first-child {
		display: none;
	}
	.mainbar ul#main-center {
		display: none;
	}
	.social-float {
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		position: fixed;
		top: auto;
		a {
			display: inline-block;
			margin: 10px 16px;
		}
	}
	.site-footer .copyright {
		text-align: center;
	}
	.site-footer .footer-logonav ul {
		width: 100%;
		text-align: center;
		li {
			display: inline-block;
			float: none;
			margin-left: 20px;
			&:first-child {
				margin-left: 0;
			}
		}
	}
	.site-footer .icon-logo {
		display: table;
		margin: 0 auto 30px;
	}
	.homeftvideo .section .postimgcol,
	.homeftvideo .section .posttxtcol {
		width: 100% !important;
		max-width: 550px;
		margin: 0 auto;
		float: none;
	}
	.homeftvideo .section {
		padding-top: 50px !important;
	}
	.homeftvideo .fttag {
		position: absolute;
		display: table;
		left: 0;
		right: 0;
		top: -15px;
		margin: 0 auto;
	}
	.about-faq .section,
	.about-main .about-title,
	.about-main .about-text {
		padding-left: 0;
	}
	.catwrap.catwrap-recipes .catsidefilter h4 {
		padding: 14px 10px;
	}
	.catwrap.catwrap-recipes .catsidefilter h4::after {
		right: 10px;
	}
	.catwrap.catwrap-recipes .catpostlist > div {
		width: 46.2%;
	}
	.recipe-2col > * {
		width: 100%;
		float: none !important;
	}
	.recipe-2col .recipe-meta {
		width: 100%;
		max-width: none;
		border-top: 1px solid $grey-medium;
		border-bottom: 1px solid $grey-medium;
		margin: 35px 0;
		padding: 25px 0;
	}
}
@media only screen and (max-width: 600px) {
	.view-post::before {
		width: 62% !important;
		margin-top: 31px !important;
	}
	.view-post {
		font-size: 2.8em;
	}
	.homesubscribe #mce-EMAIL {
		width: 270px;
	}
	.home-season-loved .mostloved, .home-season-loved .inseason {
		padding: 50px 20px 20px;
	}
	.about-text .text-col {
		width: 100%;
	}
	.about-press .press-list > * {
		width: 23%;
	}
	.catwrap-recipes .catsidefilter .searchandfilter > ul > li {
		width: 50%;
	}
	.alsolike .also-list {
		text-align: center;
	}
	.alsolike .also-list > div {
		display: inline-block;
		float: none;
		width: 47%;
		margin: 15px 1%;
	}
	#commentform > input {
		width: 100% !important;
		margin: 10px 0 !important;
	}
	.shoppostlist > div {
		width: 46.5%;
	}
	.searchmain .search-input {
		font-size: 1.6em;
	}
	.searchmain.showthis {
		height: 110px;
	}
	.searchmain.showthis .search-input {
		margin-top: 20px;
	}
}
@media only screen and (max-width: 450px) {
	.catwrap .catpostlist > div {
		display: block;
		margin: 0 auto 40px;
		max-width: 360px;
		width: 100%;
	}
}
@media only screen and (max-width: 420px) {
	.shoppostlist {
		max-width: 260px;
		margin: 0 auto;
	}
	.shoppostlist > div {
		width: 100%;
		margin: 0 auto 60px;
	}
	.shoppostlist > div .imgbox {
		padding: 45% 0;
	}
}
@media only screen and (max-width: 400px) {
	.view-post::before {
		width: 50% !important;
	}
	.mainlogo .tagline {
		width: 300px;
	}
	.homeftvideo .view-post::before {
		width: 37% !important;
	}
	.recipe-2col .instruction-steps, .recipe-2col .ingredients {
		padding-left: 20px;
		padding-right: 20px;
	}
	.alsolike .also-list > div {
		width: 100%;
		margin: 15px 0;
	}
}