/*
Theme Name: Jessica in the Kitchen
Description: Custom theme for Jessica in the Kitchen
Author: Alchemy + Aim
Author URI: http://www.alchemyandaim.com
*/
/**
 * Main Style.scss
 * output file that brings together all of the parts,
 * then contains the most specific styles.
 * The parts are imported in order of specificty.
 */
/****************************
Variables (colors etc.)
****************************/
/* Colors */
/* Type */
@font-face {
  font-family: 'Foxglow-Regular';
  src: url("../../fonts/Foxglow-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Foxglow-Regular.otf") format("opentype"), url("../../fonts/Foxglow-Regular.woff") format("woff"), url("../../fonts/Foxglow-Regular.ttf") format("truetype"), url("../../fonts/Foxglow-Regular.svg#Foxglow-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/***************************************
Mixins
contains global mixins, functions, helper selectors, etc.
***************************************/
/* Self-clearing float mixin */
/* hover color mixin */
/* hover background-color mixin */
/* Convert px values to rems */
/* Remove default styling on UL elements */
/* Center an element */
/***/
/* Media Queries */
/* Placeholder Color */
/***/
/* Fonts */
/****************************
Base
contains base element global styles,
such as h1, h2, p, a, blockquote etc.
****************************/
/* normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* line 9, ../sass/_base/_base.scss */
button, hr, input {
  overflow: visible;
}

/* line 9, ../sass/_base/_base.scss */
audio, canvas, progress, video {
  display: inline-block;
}

/* line 9, ../sass/_base/_base.scss */
progress, sub, sup {
  vertical-align: baseline;
}

/* line 9, ../sass/_base/_base.scss */
[type=checkbox], [type=radio], legend {
  box-sizing: border-box;
  padding: 0;
}

/* line 9, ../sass/_base/_base.scss */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 9, ../sass/_base/_base.scss */
body {
  margin: 0;
}

/* line 9, ../sass/_base/_base.scss */
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {
  display: block;
}

/* line 9, ../sass/_base/_base.scss */
h1 {
  font-size: 2em;
  margin: .67em 0;
}

/* line 9, ../sass/_base/_base.scss */
figure {
  margin: 1em 40px;
}

/* line 9, ../sass/_base/_base.scss */
hr {
  box-sizing: content-box;
  height: 0;
}

/* line 9, ../sass/_base/_base.scss */
code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

/* line 9, ../sass/_base/_base.scss */
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

/* line 9, ../sass/_base/_base.scss */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

/* line 9, ../sass/_base/_base.scss */
b, strong {
  font-weight: bolder;
}

/* line 9, ../sass/_base/_base.scss */
dfn {
  font-style: italic;
}

/* line 9, ../sass/_base/_base.scss */
mark {
  background-color: #ff0;
  color: #000;
}

/* line 9, ../sass/_base/_base.scss */
small {
  font-size: 80%;
}

/* line 9, ../sass/_base/_base.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

/* line 9, ../sass/_base/_base.scss */
sub {
  bottom: -0.25em;
}

/* line 9, ../sass/_base/_base.scss */
sup {
  top: -0.5em;
}

/* line 9, ../sass/_base/_base.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 9, ../sass/_base/_base.scss */
img {
  border-style: none;
}

/* line 9, ../sass/_base/_base.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 9, ../sass/_base/_base.scss */
button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

/* line 9, ../sass/_base/_base.scss */
button, select {
  text-transform: none;
}

/* line 9, ../sass/_base/_base.scss */
[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
}

/* line 9, ../sass/_base/_base.scss */
[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* line 9, ../sass/_base/_base.scss */
[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: ButtonText dotted 1px;
}

/* line 9, ../sass/_base/_base.scss */
fieldset {
  padding: .35em .75em .625em;
}

/* line 9, ../sass/_base/_base.scss */
legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

/* line 9, ../sass/_base/_base.scss */
textarea {
  overflow: auto;
}

/* line 9, ../sass/_base/_base.scss */
[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

/* line 9, ../sass/_base/_base.scss */
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 9, ../sass/_base/_base.scss */
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 9, ../sass/_base/_base.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* line 9, ../sass/_base/_base.scss */
summary {
  display: list-item;
}

/* line 9, ../sass/_base/_base.scss */
[hidden], template {
  display: none;
}

/* line 11, ../sass/_base/_base.scss */
* {
  box-sizing: border-box;
}

/* line 16, ../sass/_base/_base.scss */
a,
a *,
a:hover {
  text-decoration: none !important;
  color: #303133;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

/* line 24, ../sass/_base/_base.scss */
::selection {
  background: #888;
  color: white;
}

/* line 28, ../sass/_base/_base.scss */
::-moz-selection {
  background: #888;
  color: white;
}

/* line 32, ../sass/_base/_base.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 36, ../sass/_base/_base.scss */
body {
  font-size: 15px;
  font-family: "proxima-nova", sans-serif;
  position: relative;
}

/* line 41, ../sass/_base/_base.scss */
.section {
  clear: both;
  content: " ";
  display: table;
  position: relative;
  width: 100%;
}

/* line 48, ../sass/_base/_base.scss */
.wrapper {
  margin: 0 auto;
  max-width: 1060px;
  padding: 0;
  position: relative;
  width: 92%;
}

/* line 55, ../sass/_base/_base.scss */
.page-title {
  font-family: "Playfair Display", serif;
  font-weight: normal !important;
  font-size: 2em;
  line-height: 1.35;
  letter-spacing: .04em;
}
/* line 61, ../sass/_base/_base.scss */
.page-title a {
  color: #303133;
}
/* line 63, ../sass/_base/_base.scss */
.page-title a:hover {
  color: #ff6e5f;
}

/* line 70, ../sass/_base/_base.scss */
.excerpt,
.default-content,
.post-content {
  line-height: 1.8;
}
/* line 72, ../sass/_base/_base.scss */
.excerpt a,
.default-content a,
.post-content a {
  color: #ff6e5f;
  position: relative;
}
/* line 75, ../sass/_base/_base.scss */
.excerpt a:after,
.default-content a:after,
.post-content a:after {
  position: absolute;
  content: " ";
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: #ff6e5f;
  -webkit-transition: all 0.1s linear 0s;
  -moz-transition: all 0.1s linear 0s;
  transition: all 0.1s linear 0s;
}
/* line 88, ../sass/_base/_base.scss */
.excerpt a:hover:after,
.default-content a:hover:after,
.post-content a:hover:after {
  left: 100%;
}

/****************************
Components
contains each self-contained components
****************************/
/* group clearfix */
/* line 8, ../sass/_layout/_components.scss */
.group:before,
.group:after {
  content: "";
  display: table;
}

/* line 12, ../sass/_layout/_components.scss */
.group:after {
  clear: both;
}

/* line 15, ../sass/_layout/_components.scss */
.group {
  zoom: 1;
}

/***************************************
General 
contains styling for larger layout components; 
e.g. nav, header, footer, etc.
***************************************/
/* line 8, ../sass/_layout/_layout.scss */
#sidebar-nav {
  width: 280px;
  top: 0;
  max-width: 100%;
  height: 100vh;
  background-color: #f9e6dd;
  color: white;
  padding: 30px 20px;
  box-sizing: border-box;
  overflow-y: auto;
  position: fixed;
  z-index: 100;
  left: -280px;
  transition: 200ms ease-in-out all;
}
/* line 23, ../sass/_layout/_layout.scss */
#sidebar-nav.menu-open {
  left: 0;
}
/* line 26, ../sass/_layout/_layout.scss */
#sidebar-nav ul {
  margin-top: 20px;
}
/* line 28, ../sass/_layout/_layout.scss */
#sidebar-nav ul ul {
  border-left: 1px solid #fff;
  margin-top: 0;
  padding-left: 15px;
}
/* line 35, ../sass/_layout/_layout.scss */
#sidebar-nav .menu-item-has-children > a {
  color: #fff;
}
/* line 39, ../sass/_layout/_layout.scss */
#sidebar-nav li {
  list-style: none;
  font-family: "brandon-grotesque", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: .12em;
  font-size: .9em;
}
/* line 46, ../sass/_layout/_layout.scss */
#sidebar-nav li a {
  display: block;
  width: 100%;
  padding: 9px 0;
}

/* line 56, ../sass/_layout/_layout.scss */
#body-wrap {
  width: 100%;
}

/****************************
Header
****************************/
/* line 63, ../sass/_layout/_layout.scss */
.header {
  z-index: 9;
}

/* line 66, ../sass/_layout/_layout.scss */
.searchmain {
  height: 0;
  overflow: hidden;
  transition: all 0.2s linear 0s;
  position: absolute;
  left: 0;
  right: 0;
  top: 72px;
  width: 100%;
  background: #fff;
  z-index: 9;
}
/* line 77, ../sass/_layout/_layout.scss */
.searchmain ::-webkit-input-placeholder {
  color: #bec2cd;
}
/* line 80, ../sass/_layout/_layout.scss */
.searchmain :-moz-placeholder {
  color: #bec2cd;
  opacity: 1;
}
/* line 84, ../sass/_layout/_layout.scss */
.searchmain ::-moz-placeholder {
  color: #bec2cd;
  opacity: 1;
}
/* line 88, ../sass/_layout/_layout.scss */
.searchmain :-ms-input-placeholder {
  color: #bec2cd;
}
/* line 91, ../sass/_layout/_layout.scss */
.searchmain :placeholder-shown {
  color: #bec2cd;
}
/* line 94, ../sass/_layout/_layout.scss */
.searchmain.showthis {
  height: 130px;
  border-bottom: 1px solid #bec2cd;
}
/* line 97, ../sass/_layout/_layout.scss */
.searchmain.showthis .search-input {
  margin-top: 35px;
}
/* line 101, ../sass/_layout/_layout.scss */
.searchmain .search-input {
  font-family: "Playfair Display", serif;
  width: 90%;
  text-align: left;
  font-size: 2em;
  line-height: 1.8;
  border: none;
  letter-spacing: .06em;
}
/* line 110, ../sass/_layout/_layout.scss */
.searchmain .search-submit {
  border: none;
  background: none;
  float: right;
  font-family: "brandon-grotesque", sans-serif;
  letter-spacing: .18em;
  text-transform: uppercase;
  font-size: .67em;
  margin-top: 60px;
  font-weight: 500;
}

/* line 122, ../sass/_layout/_layout.scss */
.mainlogo {
  padding-top: 71px;
  margin: 70px 0;
  text-align: center;
}
/* line 126, ../sass/_layout/_layout.scss */
.mainlogo .wrapper {
  max-width: 590px;
}
/* line 129, ../sass/_layout/_layout.scss */
.mainlogo .tagline {
  margin-top: 25px;
  width: 450px;
}

/* line 134, ../sass/_layout/_layout.scss */
#nav-trigger {
  display: block;
  float: left;
  margin-top: 19px;
  margin-left: 20px;
  width: 23px;
  height: 30px;
}
/* line 141, ../sass/_layout/_layout.scss */
#nav-trigger div {
  height: 1px;
  width: 23px;
  background-color: #8f929a;
  margin-bottom: 6px;
}
@media screen and (min-width: 761px) {
  /* line 134, ../sass/_layout/_layout.scss */
  #nav-trigger {
    display: none;
  }
}

/* line 152, ../sass/_layout/_layout.scss */
#nav-close {
  display: block;
  position: absolute;
  top: 10px;
  left: 15px;
  width: 30px;
  height: 30px;
}
/* line 160, ../sass/_layout/_layout.scss */
#nav-close div {
  height: 1px;
  width: 24px;
  background-color: #303133;
  position: absolute;
}
/* line 166, ../sass/_layout/_layout.scss */
#nav-close div:nth-of-type(1) {
  transform: rotate(45deg);
  top: 15px;
}
/* line 171, ../sass/_layout/_layout.scss */
#nav-close div:nth-of-type(2) {
  transform: rotate(-45deg);
  top: 15px;
}

/* line 179, ../sass/_layout/_layout.scss */
.mainbar {
  border-bottom: 1px solid #bec2cd;
  font-family: "brandon-grotesque", sans-serif;
  text-transform: uppercase;
  z-index: 8;
  font-weight: 500;
  background: #fff;
  position: fixed;
  left: 0;
  right: 0;
}
/* line 189, ../sass/_layout/_layout.scss */
.mainbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 193, ../sass/_layout/_layout.scss */
.mainbar ul li.homelink a {
  position: relative;
}
/* line 196, ../sass/_layout/_layout.scss */
.mainbar ul li.homelink a:after {
  background-size: cover;
  content: " ";
  display: block;
  height: 51px;
  left: 0;
  margin: 0 auto;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 8px;
  width: 22px;
  z-index: -1;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
/* line 214, ../sass/_layout/_layout.scss */
.mainbar ul#main-left, .mainbar ul#main-right {
  float: left;
  font-size: .66em;
  letter-spacing: .18em;
}
/* line 218, ../sass/_layout/_layout.scss */
.mainbar ul#main-left li, .mainbar ul#main-right li {
  float: left;
}
/* line 220, ../sass/_layout/_layout.scss */
.mainbar ul#main-left li a, .mainbar ul#main-right li a {
  display: block;
  color: #8f929a;
  padding: 30px;
  border-right: 1px solid #bec2cd;
}
/* line 225, ../sass/_layout/_layout.scss */
.mainbar ul#main-left li a:hover, .mainbar ul#main-right li a:hover {
  color: #ff6e5f;
}
/* line 230, ../sass/_layout/_layout.scss */
.mainbar ul#main-left li.current-menu-item a, .mainbar ul#main-right li.current-menu-item a {
  color: #ff6e5f;
}
/* line 236, ../sass/_layout/_layout.scss */
.mainbar ul li a:hover {
  color: #ff6e5f;
}
/* line 240, ../sass/_layout/_layout.scss */
.mainbar ul li.current-menu-item a {
  color: #ff6e5f;
}
/* line 245, ../sass/_layout/_layout.scss */
.mainbar ul#main-right {
  float: right;
}
/* line 248, ../sass/_layout/_layout.scss */
.mainbar ul#main-right li a {
  border-right: none;
  border-left: 1px solid #bec2cd;
}
/* line 254, ../sass/_layout/_layout.scss */
.mainbar ul#main-center {
  position: absolute;
  left: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: .8em;
  letter-spacing: .18em;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 266, ../sass/_layout/_layout.scss */
.mainbar ul#main-center li {
  display: inline-block;
  position: relative;
  margin-left: 60px;
}
/* line 271, ../sass/_layout/_layout.scss */
.mainbar ul#main-center li.menu-item-has-children:after {
  width: 100%;
  height: 29px;
  content: " ";
  display: block;
  position: absolute;
  z-index: 422;
}
/* line 282, ../sass/_layout/_layout.scss */
.mainbar ul#main-center li:first-child {
  margin-left: 0;
}
/* line 285, ../sass/_layout/_layout.scss */
.mainbar ul#main-center li .sub-menu {
  background: #f9e6dd;
  border-top: none;
  left: 50%;
  margin-top: 0;
  padding: 10px 30px 25px;
  top: 39px;
  width: 200px;
  z-index: 5;
  visibility: hidden;
  /* hides sub-menu */
  opacity: 0;
  position: absolute;
  -moz-transform: translateX(-50%) translateY(-0.5em);
  -webkit-transform: translateX(-50%) translateY(-0.5em);
  -ms-transform: translateX(-50%) translateY(-0.5em);
  transform: translateX(-50%) translateY(-0.5em);
  -moz-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  -webkit-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  -ms-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}
/* line 305, ../sass/_layout/_layout.scss */
.mainbar ul#main-center li .sub-menu:before {
  border-bottom: 9px solid #f9e6dd;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: " ";
  display: table;
  font-size: 0;
  height: 0;
  left: 0;
  line-height: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: -8px;
  width: 0;
}
/* line 321, ../sass/_layout/_layout.scss */
.mainbar ul#main-center li .sub-menu li {
  display: table;
  width: 100%;
  font-size: .83em;
  padding: 0;
  margin: 0 !important;
  text-align: center;
}
/* line 328, ../sass/_layout/_layout.scss */
.mainbar ul#main-center li .sub-menu li a {
  display: table;
  width: auto;
  margin: 0 auto;
  padding: 12px 0 2px;
}
/* line 339, ../sass/_layout/_layout.scss */
.mainbar ul#main-center li.hover .sub-menu {
  visibility: visible;
  /* shows sub-menu */
  opacity: 1;
  -moz-transform: translateX(-50%) translateY(0%);
  -webkit-transform: translateX(-50%) translateY(0%);
  -ms-transform: translateX(-50%) translateY(0%);
  transform: translateX(-50%) translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

/****************************
Footer
****************************/
/* line 359, ../sass/_layout/_layout.scss */
.site-footer {
  font-family: "brandon-grotesque", sans-serif;
  padding: 70px 0 50px;
  font-size: .66em;
  text-transform: uppercase;
  font-weight: 500 !important;
  letter-spacing: .18em;
  overflow: hidden;
  display: block;
}
/* line 368, ../sass/_layout/_layout.scss */
.site-footer .copyright {
  margin-top: 70px;
  color: #bec2cd;
}
/* line 371, ../sass/_layout/_layout.scss */
.site-footer .copyright a {
  color: #bec2cd;
}
/* line 374, ../sass/_layout/_layout.scss */
.site-footer .copyright a:hover {
  color: #ff6e5f;
}
/* line 378, ../sass/_layout/_layout.scss */
.site-footer .footer-logonav {
  border-top: 1px solid #bec2cd;
  padding: 30px 0 0;
  z-index: 3;
}
/* line 382, ../sass/_layout/_layout.scss */
.site-footer .footer-logonav .icon {
  width: 20px;
  float: left;
}
/* line 386, ../sass/_layout/_layout.scss */
.site-footer .footer-logonav .logo {
  width: 225px;
  float: left;
  margin-left: 20px;
  margin-top: 9px;
}
/* line 392, ../sass/_layout/_layout.scss */
.site-footer .footer-logonav ul {
  list-style: none;
  padding: 0;
  margin: 20px 0 0;
  float: right;
  text-transform: uppercase;
}
/* line 398, ../sass/_layout/_layout.scss */
.site-footer .footer-logonav ul li {
  margin-left: 60px;
  float: left;
}
/* line 401, ../sass/_layout/_layout.scss */
.site-footer .footer-logonav ul li a {
  display: block;
}
/* line 403, ../sass/_layout/_layout.scss */
.site-footer .footer-logonav ul li a:hover {
  color: #ff6e5f;
}

/* line 411, ../sass/_layout/_layout.scss */
.large-icon {
  bottom: 0;
  margin-bottom: -65px;
  opacity: 0.15;
  position: absolute;
  right: 180px;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
  width: 175px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/****************************
Post - General
****************************/
/* line 430, ../sass/_layout/_layout.scss */
.postcats {
  font-family: "brandon-grotesque", sans-serif;
  font-size: .67em;
  text-transform: uppercase;
  letter-spacing: 0;
  color: #8f929a;
  margin: 26px 0 21px;
}
/* line 437, ../sass/_layout/_layout.scss */
.postcats a {
  color: #8f929a;
  letter-spacing: .14em;
  margin-left: 6px;
}
/* line 441, ../sass/_layout/_layout.scss */
.postcats a:first-child {
  margin-left: 0;
  margin-right: 6px;
}
/* line 445, ../sass/_layout/_layout.scss */
.postcats a:hover {
  color: #ff6e5f;
}

/* line 450, ../sass/_layout/_layout.scss */
.recipe-meta {
  font-family: "brandon-grotesque", sans-serif;
  font-size: .74em;
  font-weight: 500;
  letter-spacing: .14em;
  margin: 40px 0 30px;
  text-transform: uppercase;
}
/* line 457, ../sass/_layout/_layout.scss */
.recipe-meta > div {
  margin: 10px 0;
}
/* line 460, ../sass/_layout/_layout.scss */
.recipe-meta a {
  color: #bec2cd;
  margin-left: 10px;
  border-bottom: 1px solid;
}

/* line 467, ../sass/_layout/_layout.scss */
.instruction-steps,
.ingredients {
  background: #f7f7f7;
  padding: 32px;
}
/* line 470, ../sass/_layout/_layout.scss */
.instruction-steps ul,
.ingredients ul {
  padding: 0;
  line-height: 1.3;
  list-style: none;
}
/* line 474, ../sass/_layout/_layout.scss */
.instruction-steps ul li,
.ingredients ul li {
  margin: 10px 0;
  padding-left: 15px;
  position: relative;
}
/* line 478, ../sass/_layout/_layout.scss */
.instruction-steps ul li:before,
.ingredients ul li:before {
  content: '• ';
  display: inline-block;
  position: absolute;
  left: 0;
}
/* line 486, ../sass/_layout/_layout.scss */
.instruction-steps .ingr-title,
.ingredients .ingr-title {
  font-family: "brandon-grotesque", sans-serif;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 0.2em;
  margin: -38px 0 32px;
  text-align: center;
  text-transform: uppercase;
}

/****************************
Post - Home
****************************/
/* line 500, ../sass/_layout/_layout.scss */
.alm-reveal {
  margin-top: 50px;
}
/* line 502, ../sass/_layout/_layout.scss */
.alm-reveal:first-child {
  margin-top: 0;
}

/* line 506, ../sass/_layout/_layout.scss */
.postimgcol {
  width: 62%;
  float: left;
}
/* line 510, ../sass/_layout/_layout.scss */
.postimgcol .swapimgs img:nth-child(2) {
  display: none;
}
/* line 514, ../sass/_layout/_layout.scss */
.postimgcol .swapimgs:hover img:first-child {
  display: none;
}
/* line 517, ../sass/_layout/_layout.scss */
.postimgcol .swapimgs:hover img:nth-child(2) {
  display: block;
}

/* line 524, ../sass/_layout/_layout.scss */
.posttxtcol {
  width: 34.5%;
  float: right;
}

/* line 528, ../sass/_layout/_layout.scss */
.excerpt {
  max-width: 310px;
}

/* line 531, ../sass/_layout/_layout.scss */
.view-post {
  font-family: "Foxglow-Regular";
  font-size: 3.13em;
  line-height: 1;
  display: block;
  margin-bottom: 46px;
}
/* line 537, ../sass/_layout/_layout.scss */
.view-post:before {
  background: #bec2cd;
  content: " ";
  display: block;
  float: left;
  height: 1px;
  margin: 37px 10px 0 -50px;
  position: relative;
  width: 62%;
}
/* line 547, ../sass/_layout/_layout.scss */
.view-post:hover {
  color: #ff6e5f;
}

/* line 552, ../sass/_layout/_layout.scss */
.homeshop {
  text-align: center;
  font-family: "brandon-grotesque", sans-serif;
  text-transform: uppercase;
  padding: 80px 0;
  font-weight: 500;
}
/* line 558, ../sass/_layout/_layout.scss */
.homeshop .homeshoptitle {
  font-size: 1.4em;
  letter-spacing: .16em;
}
/* line 562, ../sass/_layout/_layout.scss */
.homeshop .homeshoplink {
  font-size: .67em;
  letter-spacing: .2em;
  color: #bec2cd;
  display: block;
  margin: 24px auto 46px;
}
/* line 570, ../sass/_layout/_layout.scss */
.homeshop .homeshoplist > div {
  display: table;
  width: 20%;
  float: left;
}
/* line 574, ../sass/_layout/_layout.scss */
.homeshop .homeshoplist > div a {
  display: block;
  max-width: 180px;
  margin: 0 auto;
}
/* line 578, ../sass/_layout/_layout.scss */
.homeshop .homeshoplist > div a img {
  max-height: 190px;
}

/* line 585, ../sass/_layout/_layout.scss */
.home-season-toggle {
  top: 50px;
  left: 50px;
  position: absolute;
  z-index: 5;
}

/* line 591, ../sass/_layout/_layout.scss */
.home-season-slide {
  position: relative;
}
/* line 593, ../sass/_layout/_layout.scss */
.home-season-slide:after {
  width: 100%;
  content: " ";
  display: table;
}

/* line 600, ../sass/_layout/_layout.scss */
.mostlovedwhite,
.inseasonwhite {
  background: #fff;
  display: table;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

/* line 610, ../sass/_layout/_layout.scss */
.home-season-loved {
  margin-bottom: 80px;
}
/* line 612, ../sass/_layout/_layout.scss */
.home-season-loved .owl-dot {
  font-family: "brandon-grotesque", sans-serif;
  letter-spacing: .2em;
  font-weight: 500;
  text-transform: uppercase;
  background: #fff;
  padding: 12px 20px;
  font-size: .67em;
  display: inline-block;
  cursor: pointer;
}
/* line 622, ../sass/_layout/_layout.scss */
.home-season-loved .owl-dot.active {
  background: #ff6e5f;
  color: #fff;
}
/* line 626, ../sass/_layout/_layout.scss */
.home-season-loved .owl-dot:first-child:after {
  content: "In Season";
}
/* line 629, ../sass/_layout/_layout.scss */
.home-season-loved .owl-dot:nth-child(2):after {
  content: "Most Loved";
}
/* line 633, ../sass/_layout/_layout.scss */
.home-season-loved .wrapper {
  background: #f7f7f7;
}
/* line 637, ../sass/_layout/_layout.scss */
.home-season-loved .mostloved,
.home-season-loved .inseason {
  display: table;
  padding: 50px 50px 0;
}
/* line 641, ../sass/_layout/_layout.scss */
.home-season-loved .hsl-titles {
  width: 40%;
  clear: left;
  float: left;
}
/* line 646, ../sass/_layout/_layout.scss */
.home-season-loved .hsl-title {
  margin-top: 27px;
  position: relative;
}
/* line 649, ../sass/_layout/_layout.scss */
.home-season-loved .hsl-title.featured:after {
  background: #bec2cd;
  content: " ";
  display: block;
  height: 1px;
  position: absolute;
  right: -48%;
  top: 12px;
  z-index: 3;
  width: 50%;
}
/* line 660, ../sass/_layout/_layout.scss */
.home-season-loved .hsl-title:first-of-type {
  margin-top: 80px;
}
/* line 663, ../sass/_layout/_layout.scss */
.home-season-loved .hsl-title span {
  font-family: "brandon-grotesque", sans-serif;
  display: inline-block;
  font-weight: 500;
  letter-spacing: 0.24em;
  margin-top: 7px;
  vertical-align: top;
  width: 11%;
}
/* line 672, ../sass/_layout/_layout.scss */
.home-season-loved .hsl-title h2 {
  font-family: "Playfair Display", serif;
  display: inline-block;
  font-size: 1.4em;
  font-weight: 900;
  letter-spacing: 0.04em;
  line-height: 1.5;
  margin: 0;
  vertical-align: top;
  width: 82%;
}
/* line 683, ../sass/_layout/_layout.scss */
.home-season-loved .hsl-title:hover h2 {
  color: #ff6e5f;
}
/* line 687, ../sass/_layout/_layout.scss */
.home-season-loved .hsl-image {
  width: 45.5%;
  position: relative;
  z-index: 3;
  float: right;
}
/* line 692, ../sass/_layout/_layout.scss */
.home-season-loved .hsl-image img {
  width: 100%;
  height: auto;
}

/* line 698, ../sass/_layout/_layout.scss */
.homeftvideo {
  margin-top: 90px;
}
/* line 700, ../sass/_layout/_layout.scss */
.homeftvideo .section {
  background: #f7f7f7;
  padding: 50px 50px 70px;
}
/* line 703, ../sass/_layout/_layout.scss */
.homeftvideo .section .postimgcol {
  width: 45%;
  position: relative;
}
/* line 706, ../sass/_layout/_layout.scss */
.homeftvideo .section .postimgcol a {
  display: block;
}
/* line 708, ../sass/_layout/_layout.scss */
.homeftvideo .section .postimgcol a:after {
  background-image: url(../../images/icon-play.png);
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  content: " ";
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-0.5em);
  -webkit-transform: translateX(-50%) translateY(-0.5em);
  -ms-transform: translateX(-50%) translateY(-0.5em);
  transform: translateX(-50%) translateY(-0.5em);
  opacity: .8;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
/* line 730, ../sass/_layout/_layout.scss */
.homeftvideo .section .postimgcol a:hover:after {
  opacity: 1;
}
/* line 737, ../sass/_layout/_layout.scss */
.homeftvideo .posttxtcol {
  width: 46%;
}
/* line 740, ../sass/_layout/_layout.scss */
.homeftvideo .view-post::before {
  margin: 37px 10px 0 0;
  width: 54%;
}
/* line 744, ../sass/_layout/_layout.scss */
.homeftvideo .fttag {
  font-family: "brandon-grotesque", sans-serif;
  letter-spacing: .2em;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding: 12px 20px;
  font-size: .67em;
  display: inline-block;
  cursor: pointer;
  background: #ff6e5f;
  color: #fff;
}
/* line 758, ../sass/_layout/_layout.scss */
.homeftvideo .excerpt {
  max-width: 390px;
}
/* line 761, ../sass/_layout/_layout.scss */
.homeftvideo .view-post {
  margin: 50px 0 0;
}

/* line 766, ../sass/_layout/_layout.scss */
.instawrap h5 {
  border-top: 1px solid #bec2cd;
  padding-top: 60px;
  margin: 0 0 60px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: 500;
  letter-spacing: .16em;
}
/* line 776, ../sass/_layout/_layout.scss */
.instawrap .instatag {
  text-align: right;
  margin-top: 30px;
  letter-spacing: .2em;
  color: #8f929a;
  font-family: "brandon-grotesque", sans-serif;
  font-size: .67em;
  font-weight: 500;
  text-transform: uppercase;
}
/* line 785, ../sass/_layout/_layout.scss */
.instawrap .instatag a {
  color: #8f929a;
}
/* line 787, ../sass/_layout/_layout.scss */
.instawrap .instatag a:hover {
  color: #ff6e5f;
}

/* line 793, ../sass/_layout/_layout.scss */
.homesubscribe {
  padding: 100px 0;
  text-align: center;
  text-transform: uppercase;
}
/* line 797, ../sass/_layout/_layout.scss */
.homesubscribe h5 {
  font-size: 1.4em;
  font-weight: 500;
  letter-spacing: .16em;
}
/* line 802, ../sass/_layout/_layout.scss */
.homesubscribe p {
  font-size: .67em;
  letter-spacing: .2em;
  color: #8f929a;
  display: block;
  font-weight: 500;
  margin: 24px auto 38px;
}
/* line 810, ../sass/_layout/_layout.scss */
.homesubscribe .large-icon {
  top: 0;
  margin: 0 auto;
  opacity: 0.15;
  left: 0;
  right: 0;
  position: absolute;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
  width: 175px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  z-index: -2;
}
/* line 827, ../sass/_layout/_layout.scss */
.homesubscribe form input {
  display: inline-block;
  vertical-align: middle;
  margin: 6px;
}
/* line 833, ../sass/_layout/_layout.scss */
.homesubscribe #mce-EMAIL {
  background: #f2f3f5;
  padding: 14px 10px 10px;
  width: 360px;
  height: 57px;
  text-transform: uppercase;
  font-size: .73em;
  letter-spacing: .16em;
  border: none;
  text-align: center;
}
/* line 844, ../sass/_layout/_layout.scss */
.homesubscribe #mc-embedded-subscribe {
  font-family: "Foxglow-Regular";
  background: none;
  border: 1px solid #bec2cd;
  line-height: .8;
  font-size: 3.13em;
  padding: 0 10px 8px;
  height: 57px;
  cursor: pointer;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
/* line 856, ../sass/_layout/_layout.scss */
.homesubscribe #mc-embedded-subscribe:hover {
  color: #ff6e5f;
}

/* line 862, ../sass/_layout/_layout.scss */
.alm-btn-wrap {
  text-align: center;
}

/* line 865, ../sass/_layout/_layout.scss */
.alm-load-more-btn.more {
  background: none;
  font-size: .73em;
  border: none;
  font-family: "brandon-grotesque", sans-serif;
  text-transform: uppercase;
  margin: 80px auto;
  letter-spacing: .24em;
  font-weight: 500;
  cursor: pointer;
}
/* line 875, ../sass/_layout/_layout.scss */
.alm-load-more-btn.more:hover {
  color: #ff6e5f;
}

/* line 879, ../sass/_layout/_layout.scss */
.about-quote {
  max-width: 685px;
  text-align: center;
  margin: 55px auto;
  line-height: 1.5;
}

/* line 888, ../sass/_layout/_layout.scss */
.comments-title,
#reply-title,
.section-title,
.about-title {
  font-family: "brandon-grotesque", sans-serif;
  font-size: 1.4em;
  font-weight: 500;
  letter-spacing: .14em;
  text-transform: uppercase;
}

/* line 895, ../sass/_layout/_layout.scss */
.about-banner {
  z-index: 4;
}

/* line 899, ../sass/_layout/_layout.scss */
.about-main .about-text {
  padding-bottom: 40px;
}
/* line 902, ../sass/_layout/_layout.scss */
.about-main .large-icon {
  top: 0;
  left: 0;
  right: 0;
  margin: -70px auto 0;
}
/* line 908, ../sass/_layout/_layout.scss */
.about-main .about-title {
  padding-left: 7%;
  margin: 70px 0 20px;
}

/* line 913, ../sass/_layout/_layout.scss */
.signature {
  font-family: "Foxglow-Regular";
  display: table;
  clear: both;
  float: right;
  font-size: 3.13em;
  background: #fff;
  padding-left: 20px;
  margin-bottom: -55px;
  margin-top: 20px;
  position: relative;
  z-index: 3;
}

/* line 926, ../sass/_layout/_layout.scss */
.about-press {
  padding: 70px 0;
  text-align: center;
}
/* line 929, ../sass/_layout/_layout.scss */
.about-press .press-list {
  border-bottom: 1px solid #bec2cd;
}
/* line 931, ../sass/_layout/_layout.scss */
.about-press .press-list > * {
  width: 18%;
  display: inline-block;
  vertical-align: middle;
  margin: 0.8%;
}

/* line 940, ../sass/_layout/_layout.scss */
.about-faq .section {
  padding-left: 7%;
}
/* line 943, ../sass/_layout/_layout.scss */
.about-faq .about-title {
  margin: 10px 0 25px;
}
/* line 946, ../sass/_layout/_layout.scss */
.about-faq .about-text {
  border-bottom: none;
  padding-bottom: 125px;
}

/* line 951, ../sass/_layout/_layout.scss */
.about-text {
  padding-left: 7%;
  border-bottom: 1px solid #bec2cd;
}
/* line 954, ../sass/_layout/_layout.scss */
.about-text .text-col {
  line-height: 1.8;
  width: 48%;
  float: right;
}
/* line 958, ../sass/_layout/_layout.scss */
.about-text .text-col:first-child {
  float: left;
}
/* line 961, ../sass/_layout/_layout.scss */
.about-text .text-col h3 {
  font-size: 1em;
  margin: 40px 0 0;
}
/* line 964, ../sass/_layout/_layout.scss */
.about-text .text-col h3 + div p:first-child {
  margin-top: 0;
}

/* line 973, ../sass/_layout/_layout.scss */
.post-banner-imgs .two-col-imgs img {
  width: 48.5%;
  float: right;
}
/* line 976, ../sass/_layout/_layout.scss */
.post-banner-imgs .two-col-imgs img:first-child {
  float: left;
}
/* line 981, ../sass/_layout/_layout.scss */
.post-banner-imgs .single-img {
  text-align: center;
}
/* line 983, ../sass/_layout/_layout.scss */
.post-banner-imgs .single-img img {
  margin: 0 auto;
}

/* line 988, ../sass/_layout/_layout.scss */
.post-header {
  text-align: center;
  padding: 40px 0;
}
/* line 991, ../sass/_layout/_layout.scss */
.post-header .date {
  font-family: "brandon-grotesque", sans-serif;
  letter-spacing: .14em;
  font-size: .73em;
  text-transform: uppercase;
  font-weight: 500;
}

/* line 999, ../sass/_layout/_layout.scss */
.post-main {
  line-height: 1.8;
}
/* line 1001, ../sass/_layout/_layout.scss */
.post-main .wrapper {
  max-width: 750px;
}
/* line 1003, ../sass/_layout/_layout.scss */
.post-main .wrapper img {
  margin: 40px -25px;
  max-width: none;
}

/* line 1009, ../sass/_layout/_layout.scss */
.sponsor-info {
  font-family: "brandon-grotesque", sans-serif;
  font-size: .73em;
  text-align: center;
  padding: 55px 0;
  font-weight: 500;
  color: #8f929a;
  letter-spacing: .18em;
  text-transform: uppercase;
}
/* line 1018, ../sass/_layout/_layout.scss */
.sponsor-info a {
  color: #ff6e5f;
}

/* line 1022, ../sass/_layout/_layout.scss */
.recipe-materials {
  text-align: center;
  margin-bottom: 65px;
}
/* line 1025, ../sass/_layout/_layout.scss */
.recipe-materials .wrapper {
  border-top: 1px solid #bec2cd;
  border-bottom: 1px solid #bec2cd;
  padding: 65px 0;
}
/* line 1030, ../sass/_layout/_layout.scss */
.recipe-materials .materials-title {
  font-family: "brandon-grotesque", sans-serif;
  font-size: 1.4em;
  font-weight: 500;
  letter-spacing: .14em;
  text-transform: uppercase;
}
/* line 1037, ../sass/_layout/_layout.scss */
.recipe-materials .materials-list {
  margin: 60px 0 20px;
}
/* line 1039, ../sass/_layout/_layout.scss */
.recipe-materials .materials-list > div {
  display: inline-block;
  vertical-align: middle;
  width: 13%;
}
/* line 1043, ../sass/_layout/_layout.scss */
.recipe-materials .materials-list > div a {
  display: table;
  max-width: 150px;
  width: 95%;
  margin: 0 auto;
}

/* line 1053, ../sass/_layout/_layout.scss */
.recipe-2col > * {
  width: 48.5%;
  float: right;
}
/* line 1056, ../sass/_layout/_layout.scss */
.recipe-2col > *:first-child {
  float: left;
}
/* line 1060, ../sass/_layout/_layout.scss */
.recipe-2col .recipe-meta {
  letter-spacing: .2em;
}
/* line 1064, ../sass/_layout/_layout.scss */
.recipe-2col .instruction-steps,
.recipe-2col .ingredients {
  padding-left: 40px;
  padding-right: 40px;
}
/* line 1067, ../sass/_layout/_layout.scss */
.recipe-2col .instruction-steps .ingr-title,
.recipe-2col .ingredients .ingr-title {
  margin: -40px 0 32px;
  font-size: 1.4em;
}
/* line 1072, ../sass/_layout/_layout.scss */
.recipe-2col .print-share {
  display: table;
  margin: 0 auto 60px;
  background: #ebebeb;
  position: relative;
}
/* line 1077, ../sass/_layout/_layout.scss */
.recipe-2col .print-share > *:not(.sharetogglebox) {
  font-family: "brandon-grotesque", sans-serif;
  letter-spacing: .2em;
  font-weight: 500;
  text-transform: uppercase;
  background: #ebebeb;
  padding: 12px 20px;
  font-size: .67em;
  width: 125px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
/* line 1089, ../sass/_layout/_layout.scss */
.recipe-2col .print-share > *:not(.sharetogglebox).print {
  background: #ff6e5f;
  color: #fff;
}
/* line 1094, ../sass/_layout/_layout.scss */
.recipe-2col .print-share .sharewrap {
  position: relative;
}
/* line 1097, ../sass/_layout/_layout.scss */
.recipe-2col .print-share .sharetogglebox {
  background: #f9e6dd;
  border-top: none;
  left: 50%;
  margin-top: 0;
  padding: 5px 10px 15px;
  text-align: center;
  top: 60px;
  display: none;
  width: 130px;
  z-index: 5;
  position: absolute;
  -moz-transform: translateX(-50%) translateY(-0.5em);
  -webkit-transform: translateX(-50%) translateY(-0.5em);
  -ms-transform: translateX(-50%) translateY(-0.5em);
  transform: translateX(-50%) translateY(-0.5em);
}
/* line 1113, ../sass/_layout/_layout.scss */
.recipe-2col .print-share .sharetogglebox:before {
  border-bottom: 9px solid #f9e6dd;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: " ";
  display: table;
  font-size: 0;
  height: 0;
  left: 0;
  line-height: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: -8px;
  width: 0;
}
/* line 1130, ../sass/_layout/_layout.scss */
.recipe-2col .print-share .essb_links li, .recipe-2col .print-share .essb_links li a, .recipe-2col .print-share .essb_links li a .essb_icon, .recipe-2col .print-share .essb_links li a .essb_network_name {
  font-family: "brandon-grotesque", sans-serif !important;
  color: #303133 !important;
  font-size: 10px !important;
  text-transform: uppercase;
  opacity: 1 !important;
  font-weight: 500 !important;
}
/* line 1138, ../sass/_layout/_layout.scss */
.recipe-2col .print-share .essb_links .essb_hide_icon .essb_network_name {
  padding: 7px !important;
}
/* line 1143, ../sass/_layout/_layout.scss */
.recipe-2col .instruction-steps ul {
  margin: 0;
}
/* line 1146, ../sass/_layout/_layout.scss */
.recipe-2col .instruction-steps .instruction-list {
  margin-top: 5px;
}
/* line 1149, ../sass/_layout/_layout.scss */
.recipe-2col .instruction-steps ul li {
  margin-top: 24px;
  line-height: 1.8;
  padding-left: 0;
}
/* line 1153, ../sass/_layout/_layout.scss */
.recipe-2col .instruction-steps ul li:before {
  display: none;
}
/* line 1156, ../sass/_layout/_layout.scss */
.recipe-2col .instruction-steps ul li:first-child {
  margin-top: 0;
}
/* line 1161, ../sass/_layout/_layout.scss */
.recipe-2col .instruction-group {
  margin-top: 30px;
}
/* line 1163, ../sass/_layout/_layout.scss */
.recipe-2col .instruction-group:nth-child(2) {
  margin-top: 0;
}
/* line 1167, ../sass/_layout/_layout.scss */
.recipe-2col .post-recipe-img {
  width: 30%;
  float: left;
}
/* line 1171, ../sass/_layout/_layout.scss */
.recipe-2col .post-recipe-title {
  width: 64%;
  float: right;
}
/* line 1174, ../sass/_layout/_layout.scss */
.recipe-2col .post-recipe-title h2 {
  margin: 0;
}
/* line 1178, ../sass/_layout/_layout.scss */
.recipe-2col .recipe-meta {
  max-width: 435px;
  margin: 50px auto;
}

/* line 1183, ../sass/_layout/_layout.scss */
.recipe-note {
  line-height: 1.8;
  margin-top: 34px;
}

/* line 1188, ../sass/_layout/_layout.scss */
.post-nav .wrapper {
  border-top: 1px solid #bec2cd;
  border-bottom: 1px solid #bec2cd;
  padding: 80px 0 50px;
  margin-top: 40px;
}
/* line 1194, ../sass/_layout/_layout.scss */
.post-nav .screen-reader-text {
  display: none;
  visibility: hidden;
}
/* line 1198, ../sass/_layout/_layout.scss */
.post-nav .nav-links {
  display: table;
  width: 100%;
  content: " ";
  letter-spacing: 0;
}
/* line 1203, ../sass/_layout/_layout.scss */
.post-nav .nav-links .nav-previous {
  float: left;
}
/* line 1205, ../sass/_layout/_layout.scss */
.post-nav .nav-links .nav-previous span {
  margin-left: 6px;
}
/* line 1209, ../sass/_layout/_layout.scss */
.post-nav .nav-links .nav-next {
  float: right;
}
/* line 1211, ../sass/_layout/_layout.scss */
.post-nav .nav-links .nav-next span {
  margin-right: 6px;
}
/* line 1215, ../sass/_layout/_layout.scss */
.post-nav .nav-links a {
  font-family: "brandon-grotesque", sans-serif;
  color: #8f929a;
  font-weight: 500;
  font-size: .8em;
  text-transform: uppercase;
}
/* line 1221, ../sass/_layout/_layout.scss */
.post-nav .nav-links a span {
  letter-spacing: .24em;
}

/* line 1227, ../sass/_layout/_layout.scss */
.alsolike {
  text-align: center;
}
/* line 1229, ../sass/_layout/_layout.scss */
.alsolike .wrapper {
  margin: 55px auto;
  border: 1px solid #bec2cd;
  padding-top: 65px;
}
/* line 1234, ../sass/_layout/_layout.scss */
.alsolike .also-list {
  max-width: 940px;
  margin: 50px auto 75px;
}
/* line 1237, ../sass/_layout/_layout.scss */
.alsolike .also-list > div {
  width: 33.33%;
  float: left;
}
/* line 1240, ../sass/_layout/_layout.scss */
.alsolike .also-list > div a {
  display: table;
  margin: 0 auto;
  width: 95%;
  max-width: 265px;
  position: relative;
}
/* line 1247, ../sass/_layout/_layout.scss */
.alsolike .also-list > div a:hover .alsohover {
  opacity: 1;
}
/* line 1252, ../sass/_layout/_layout.scss */
.alsolike .also-list > div .alsohover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
/* line 1265, ../sass/_layout/_layout.scss */
.alsolike .also-list > div .alsohover > div {
  position: absolute;
  left: 50%;
  margin: 0 auto;
  top: 50%;
  width: 95%;
  max-width: 200px;
  letter-spacing: .08em;
  line-height: 1.5;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 1279, ../sass/_layout/_layout.scss */
.alsolike .also-list > div .alsohover h3 {
  margin: 0;
  font-size: 1.2em;
  font-family: "Playfair Display", serif;
}
/* line 1284, ../sass/_layout/_layout.scss */
.alsolike .also-list > div .alsohover span {
  display: table;
  margin: 30px auto 0;
  font-family: "brandon-grotesque", sans-serif;
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 500;
}

/* line 1299, ../sass/_layout/_layout.scss */
#comments .wrapper {
  max-width: 760px;
}

/* line 1304, ../sass/_layout/_layout.scss */
.comments-title,
.comment-reply-title {
  text-align: center;
}

/* line 1307, ../sass/_layout/_layout.scss */
.comments-title {
  margin: 65px 0;
}

/* line 1310, ../sass/_layout/_layout.scss */
.comment-list {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-bottom: 100px;
}
/* line 1315, ../sass/_layout/_layout.scss */
.comment-list li {
  border-top: 1px solid #bec2cd;
  padding-top: 40px;
  margin-top: 40px;
}
/* line 1321, ../sass/_layout/_layout.scss */
.comment-list > li:first-child {
  border-top: none;
}
/* line 1325, ../sass/_layout/_layout.scss */
.comment-list ul {
  list-style: none;
  padding: 0;
}
/* line 1328, ../sass/_layout/_layout.scss */
.comment-list ul li {
  padding-left: 40px;
}

/* line 1333, ../sass/_layout/_layout.scss */
.comment-awaiting-moderation {
  font-size: .8em;
}

/* line 1336, ../sass/_layout/_layout.scss */
.comment-metadata {
  display: none;
}

/* line 1339, ../sass/_layout/_layout.scss */
.comment-author {
  font-size: .67em;
  letter-spacing: .2em;
  color: #8f929a;
  font-style: normal !important;
  text-transform: uppercase;
}
/* line 1344, ../sass/_layout/_layout.scss */
.comment-author cite {
  font-style: normal !important;
}
/* line 1347, ../sass/_layout/_layout.scss */
.comment-author a {
  color: #8f929a;
}
/* line 1351, ../sass/_layout/_layout.scss */
.comment-author b {
  font-weight: normal !important;
}

/* line 1356, ../sass/_layout/_layout.scss */
.comment-content {
  line-height: 1.8;
}
/* line 1358, ../sass/_layout/_layout.scss */
.comment-content > * {
  margin: 25px 0;
}

/* line 1363, ../sass/_layout/_layout.scss */
.comment-meta,
.reply {
  display: inline-block;
}

/* line 1367, ../sass/_layout/_layout.scss */
.reply:before {
  content: " • ";
  display: inline-block;
  float: left;
  font-size: 10px;
  color: #8f929a;
  margin: 0 9px 0 6px;
  vertical-align: middle;
}

/* line 1378, ../sass/_layout/_layout.scss */
.comment-meta a,
.comment-reply-link {
  display: table;
  font-size: .67em;
  letter-spacing: .2em;
  color: #8f929a;
  text-transform: uppercase;
}

/* line 1385, ../sass/_layout/_layout.scss */
.respondlink {
  display: table;
  padding: 0 5px 10px;
  margin: 30px auto 50px;
  letter-spacing: .05em;
}

/* line 1393, ../sass/_layout/_layout.scss */
#commentform ::-webkit-input-placeholder {
  color: #bec2cd;
  text-transform: uppercase;
  letter-spacing: .18em;
}
/* line 1398, ../sass/_layout/_layout.scss */
#commentform :-moz-placeholder {
  color: #bec2cd;
  opacity: 1;
  text-transform: uppercase;
  letter-spacing: .18em;
}
/* line 1404, ../sass/_layout/_layout.scss */
#commentform ::-moz-placeholder {
  color: #bec2cd;
  opacity: 1;
  text-transform: uppercase;
  letter-spacing: .18em;
}
/* line 1410, ../sass/_layout/_layout.scss */
#commentform :-ms-input-placeholder {
  color: #bec2cd;
  text-transform: uppercase;
  letter-spacing: .18em;
}
/* line 1415, ../sass/_layout/_layout.scss */
#commentform :placeholder-shown {
  color: #bec2cd;
  text-transform: uppercase;
  letter-spacing: .18em;
}
/* line 1421, ../sass/_layout/_layout.scss */
#commentform > textarea,
#commentform > input {
  background: #f7f7f7;
  border: none;
  font-size: .67em;
  padding: 15px 25px;
  letter-spacing: .08em;
  font-family: "brandon-grotesque", sans-serif;
}
/* line 1429, ../sass/_layout/_layout.scss */
#commentform > input {
  float: left;
  display: table;
  width: 31.8%;
  margin-left: 2.3%;
}
/* line 1434, ../sass/_layout/_layout.scss */
#commentform > input:first-child {
  margin-left: 0;
}
/* line 1438, ../sass/_layout/_layout.scss */
#commentform > textarea {
  width: 100%;
  margin-top: 15px;
}
/* line 1442, ../sass/_layout/_layout.scss */
#commentform .form-submit {
  display: table;
  width: 100%;
  text-align: center;
  clear: both;
  margin: 0;
}
/* line 1448, ../sass/_layout/_layout.scss */
#commentform .form-submit input {
  background: #ff6e5f;
  border: none;
  color: #fff;
  letter-spacing: .08em;
  margin: 15px 0 0;
  display: table;
  width: 100%;
  padding: 15px 25px;
  letter-spacing: .18em;
  font-size: .73em;
  text-transform: uppercase;
  font-family: "brandon-grotesque", sans-serif;
  -webkit-transition: all 0.1s linear 0s;
  -moz-transition: all 0.1s linear 0s;
  transition: all 0.1s linear 0s;
}
/* line 1464, ../sass/_layout/_layout.scss */
#commentform .form-submit input:hover {
  background: #f9e6dd;
  color: #303133;
}

/* line 1471, ../sass/_layout/_layout.scss */
#nutritionlightbox:not(.featherlight-inner) {
  display: none;
}

/* line 1475, ../sass/_layout/_layout.scss */
.catwrap h2.page-title {
  text-align: center;
  margin: -20px 0 54px;
}
/* line 1479, ../sass/_layout/_layout.scss */
.catwrap .filterbytitle {
  font-family: "brandon-grotesque", sans-serif;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: .86em;
  padding: 10px 0 10px 18px;
}
/* line 1486, ../sass/_layout/_layout.scss */
.catwrap .catsidefilter {
  width: 19%;
  float: left;
  padding-right: 2%;
}
/* line 1491, ../sass/_layout/_layout.scss */
.catwrap .catsidefilter .sf-label-checkbox,
.catwrap .catsidefilter h4 {
  font-size: .67em;
  letter-spacing: .2em;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "brandon-grotesque", sans-serif;
}
/* line 1498, ../sass/_layout/_layout.scss */
.catwrap .catsidefilter h4 {
  background: #f7f7f7;
  margin: 10px 0 10px;
  padding: 14px 18px;
  position: relative;
  cursor: pointer;
}
/* line 1504, ../sass/_layout/_layout.scss */
.catwrap .catsidefilter h4:after {
  content: " ";
  display: block;
  width: 14px;
  height: 8px;
  background-image: url(../../images/icon-catarrow.png);
  background-size: contain;
  position: absolute;
  right: 0;
  content: " ";
  display: block;
  height: 8px;
  position: absolute;
  right: 20px;
  top: 17px;
  width: 14px;
}
/* line 1521, ../sass/_layout/_layout.scss */
.catwrap .catsidefilter h4.up {
  margin-bottom: 0;
}
/* line 1525, ../sass/_layout/_layout.scss */
.catwrap .catsidefilter ul {
  padding: 0;
}
/* line 1529, ../sass/_layout/_layout.scss */
.catwrap .section {
  margin-bottom: 80px;
}
/* line 1532, ../sass/_layout/_layout.scss */
.catwrap .searchandfilter li[data-sf-field-input-type="checkbox"] label, .catwrap .searchandfilter li[data-sf-field-input-type="radio"] label, .catwrap .searchandfilter li[data-sf-field-input-type="range-radio"] label, .catwrap .searchandfilter li[data-sf-field-input-type="range-checkbox"] label {
  padding: 4px 0 4px 40px;
}
/* line 1535, ../sass/_layout/_layout.scss */
.catwrap .searchandfilter ul li li {
  padding: 7px 0;
}
/* line 1538, ../sass/_layout/_layout.scss */
.catwrap .catpostlist {
  width: 81%;
  float: left;
  border-left: 1px solid #bec2cd;
}
/* line 1543, ../sass/_layout/_layout.scss */
.catwrap .catpostlist h2:hover {
  color: #ff6e5f;
}
/* line 1547, ../sass/_layout/_layout.scss */
.catwrap .catpostlist > div {
  width: 29.6%;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 40px 3.32%;
}
/* line 1552, ../sass/_layout/_layout.scss */
.catwrap .catpostlist > div .imgbox {
  position: relative;
  padding: 77% 0;
}
/* line 1555, ../sass/_layout/_layout.scss */
.catwrap .catpostlist > div .imgbox span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #303133;
  color: #fff;
  text-transform: uppercase;
  font-family: "brandon-grotesque", sans-serif;
  letter-spacing: .22em;
  padding: 12px 24px;
  z-index: 3;
  font-size: .67em;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  opacity: 0;
}
/* line 1576, ../sass/_layout/_layout.scss */
.catwrap .catpostlist > div .imgbox img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}
/* line 1589, ../sass/_layout/_layout.scss */
.catwrap .catpostlist > div a:hover .imgbox span {
  opacity: 1;
}
/* line 1593, ../sass/_layout/_layout.scss */
.catwrap .catpostlist > div h2 {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  letter-spacing: .04em;
  line-height: 1.4;
  margin: 10px 0;
}
/* line 1602, ../sass/_layout/_layout.scss */
.catwrap input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}
/* line 1606, ../sass/_layout/_layout.scss */
.catwrap input[type="checkbox"] + label {
  font-size: 1.42em;
}
/* line 1609, ../sass/_layout/_layout.scss */
.catwrap input[type="checkbox"] + label span {
  display: inline-block;
  width: 18px;
  height: 18px;
  position: absolute;
  margin: -2px 12px 0 0;
  vertical-align: middle;
  cursor: pointer;
  left: 8px;
  border: 1px solid #fff;
  outline: 1px solid #bec2cd;
}
/* line 1624, ../sass/_layout/_layout.scss */
.catwrap input[type="checkbox"]:checked + label {
  font-weight: normal !important;
}
/* line 1627, ../sass/_layout/_layout.scss */
.catwrap input[type="checkbox"]:checked + label span {
  background-image: url(../../images/check-x.png);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: 50% 50%;
}

/* line 1635, ../sass/_layout/_layout.scss */
.search-results .catwrap .catpostlist {
  width: 100%;
  float: none;
  border: none;
}

/* line 1642, ../sass/_layout/_layout.scss */
.shopwrap .page-title {
  text-align: center;
  margin: -20px 0 50px;
}

/* line 1648, ../sass/_layout/_layout.scss */
.shoppostlist > div {
  width: 21.6%;
  display: inline-block;
  vertical-align: top;
  margin: 0 1.5% 80px;
}
/* line 1653, ../sass/_layout/_layout.scss */
.shoppostlist > div .imgbox {
  position: relative;
  padding: 52% 0;
}
/* line 1656, ../sass/_layout/_layout.scss */
.shoppostlist > div .imgbox img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 1666, ../sass/_layout/_layout.scss */
.shoppostlist > div h2 {
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 500;
  letter-spacing: .24em;
  font-size: .8em;
  line-height: 1.4;
  margin: 24px 0;
  text-transform: uppercase;
}
/* line 1675, ../sass/_layout/_layout.scss */
.shoppostlist > div div {
  line-height: 1.8;
}

/* line 1685, ../sass/_layout/_layout.scss */
#popup-box-pro-gfcr-1 #popupally-fluid-1-fluid_zwgsqa-16[type="checkbox"],
#popup-embedded-box-pro-gfcr-1 #popupally-fluid-1-fluid_zwgsqa-16[type="checkbox"],
#popup-box-pro-gfcr-1 #popupally-fluid-1-fluid_zwgsqa-14[type="checkbox"],
#popup-embedded-box-pro-gfcr-1 #popupally-fluid-1-fluid_zwgsqa-14[type="checkbox"],
#popup-box-pro-gfcr-1 #popupally-fluid-1-fluid_zwgsqa-12[type="checkbox"],
#popup-embedded-box-pro-gfcr-1 #popupally-fluid-1-fluid_zwgsqa-12[type="checkbox"] {
  position: absolute !important;
  left: -9999px !important;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

/* line 1692, ../sass/_layout/_layout.scss */
#popup-box-pro-gfcr-1 #popupally-fluid-1-fluid_zwgsqa-2, #popup-embedded-box-pro-gfcr-1 #popupally-fluid-1-fluid_zwgsqa-2 {
  letter-spacing: .04em;
}

/* line 1696, ../sass/_layout/_layout.scss */
#popup-box-pro-gfcr-1 #popupally-fluid-1-fluid_zwgsqa-7, #popup-embedded-box-pro-gfcr-1 #popupally-fluid-1-fluid_zwgsqa-7,
#popup-box-pro-gfcr-1 #popupally-fluid-1-fluid_zwgsqa-8, #popup-embedded-box-pro-gfcr-1 #popupally-fluid-1-fluid_zwgsqa-8 {
  letter-spacing: .2em;
}

/* line 1700, ../sass/_layout/_layout.scss */
.popupally-pro-outer-1-fluid_zwgsqa input[type="checkbox"] + div label span {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin: -2px 12px 0 0;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  border: 1px solid #fff;
  outline: 1px solid #bec2cd;
}
/* line 1711, ../sass/_layout/_layout.scss */
.popupally-pro-outer-1-fluid_zwgsqa input[type="checkbox"] + div label {
  cursor: pointer;
  letter-spacing: 0.16em;
}
/* line 1717, ../sass/_layout/_layout.scss */
.popupally-pro-outer-1-fluid_zwgsqa input[type="checkbox"]:checked + div label {
  font-weight: normal !important;
}
/* line 1720, ../sass/_layout/_layout.scss */
.popupally-pro-outer-1-fluid_zwgsqa input[type="checkbox"]:checked + div label span {
  background-image: url(../../images/check-x.png);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: 50% 50%;
}

/* line 1727, ../sass/_layout/_layout.scss */
body #popup-box-pro-gfcr-1 .popupally-pro-outer-1-fluid_zwgsqa .popupally-pro-close {
  background-image: url(../../images/popup_close.png) !important;
  width: 20px !important;
  height: 20px !important;
  top: 20px !important;
  right: 20px !important;
}

/* line 1734, ../sass/_layout/_layout.scss */
.social-float {
  position: fixed;
  background: #fff;
  left: 0;
  width: 45px;
  text-align: center;
  top: 380px;
  z-index: 7;
}
/* line 1742, ../sass/_layout/_layout.scss */
.social-float a {
  display: table;
  margin: 25px auto;
}
/* line 1745, ../sass/_layout/_layout.scss */
.social-float a:hover {
  color: #ff6e5f !important;
}
/* line 1747, ../sass/_layout/_layout.scss */
.social-float a:hover i {
  color: #ff6e5f !important;
}

/* line 1754, ../sass/_layout/_layout.scss */
.page-template-default .page-title {
  text-align: center;
  margin: -20px 0 50px;
}
/* line 1758, ../sass/_layout/_layout.scss */
.page-template-default .default-content {
  margin-bottom: 80px;
}
/* line 1760, ../sass/_layout/_layout.scss */
.page-template-default .default-content .wrapper {
  max-width: 700px;
}

@media only screen and (max-width: 960px) {
  /* line 1766, ../sass/_layout/_layout.scss */
  .mainbar ul#main-center li {
    margin-left: 35px;
  }

  /* line 1769, ../sass/_layout/_layout.scss */
  .mainbar ul#main-left li a, .mainbar ul#main-right li a {
    padding: 20px;
  }

  /* line 1772, ../sass/_layout/_layout.scss */
  .mainbar ul li.homelink a::after {
    height: 39px;
    top: 6px;
    width: 17px;
  }

  /* line 1777, ../sass/_layout/_layout.scss */
  .mainlogo {
    margin: 50px 0;
  }

  /* line 1780, ../sass/_layout/_layout.scss */
  .mainlogo .wrapper {
    max-width: 440px;
  }

  /* line 1783, ../sass/_layout/_layout.scss */
  .mainlogo .tagline {
    width: 410px;
  }
}
@media only screen and (max-width: 900px) {
  /* line 1790, ../sass/_layout/_layout.scss */
  .home-post:not(.homeftvideo) .posttxtcol,
  .home-post:not(.homeftvideo) .postimgcol {
    float: none;
    width: 100%;
  }
  /* line 1794, ../sass/_layout/_layout.scss */
  .home-post:not(.homeftvideo) .postimgcol {
    text-align: center;
  }
  /* line 1796, ../sass/_layout/_layout.scss */
  .home-post:not(.homeftvideo) .postimgcol img {
    margin: 0 auto;
  }
  /* line 1800, ../sass/_layout/_layout.scss */
  .home-post:not(.homeftvideo) .posttxtcol {
    margin: 20px auto;
    max-width: 600px;
  }

  /* line 1806, ../sass/_layout/_layout.scss */
  .homeftvideo .posttxtcol {
    width: 50%;
  }
  /* line 1809, ../sass/_layout/_layout.scss */
  .homeftvideo .view-post {
    margin-top: 30px;
  }
  /* line 1812, ../sass/_layout/_layout.scss */
  .homeftvideo .view-post::before {
    width: 50% !important;
  }
  /* line 1815, ../sass/_layout/_layout.scss */
  .homeftvideo .section {
    padding: 30px;
  }

  /* line 1819, ../sass/_layout/_layout.scss */
  .excerpt {
    max-width: none;
  }

  /* line 1822, ../sass/_layout/_layout.scss */
  .view-post {
    text-align: right;
  }
  /* line 1824, ../sass/_layout/_layout.scss */
  .view-post:before {
    margin: 37px 10px 0 0 !important;
    width: 73% !important;
  }

  /* line 1830, ../sass/_layout/_layout.scss */
  .mostlovedwhite,
  .inseasonwhite {
    display: none;
  }

  /* line 1834, ../sass/_layout/_layout.scss */
  .home-season-loved .mostloved,
  .home-season-loved .inseason {
    padding: 50px;
  }

  /* line 1837, ../sass/_layout/_layout.scss */
  .home-season-loved .hsl-title.featured::after {
    bottom: 40px;
    height: 400px;
    left: auto;
    right: 15px;
    top: auto;
    width: 1px;
  }

  /* line 1845, ../sass/_layout/_layout.scss */
  .home-season-loved .hsl-title.featured a:before {
    background: #bec2cd;
    bottom: 40px;
    content: " ";
    display: block;
    height: 1px;
    right: 15px;
    position: absolute;
    width: 40px;
    z-index: 3;
  }

  /* line 1857, ../sass/_layout/_layout.scss */
  .home-season-loved .mostloved,
  .home-season-loved .inseason {
    margin: 0 auto;
  }

  /* line 1860, ../sass/_layout/_layout.scss */
  .home-season-loved .hsl-title:first-of-type {
    margin-top: 40px !important;
  }

  /* line 1864, ../sass/_layout/_layout.scss */
  .home-season-loved .hsl-image,
  .home-season-loved .hsl-titles {
    display: table;
    float: none;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
  }

  /* line 1871, ../sass/_layout/_layout.scss */
  .page-title {
    font-size: 1.8em;
  }

  /* line 1874, ../sass/_layout/_layout.scss */
  .mainlogo {
    padding-top: 51px;
  }

  /* line 1877, ../sass/_layout/_layout.scss */
  .site-footer .footer-logonav ul li {
    margin-left: 25px;
  }

  /* line 1880, ../sass/_layout/_layout.scss */
  .site-footer {
    padding-bottom: 70px;
  }

  /* line 1883, ../sass/_layout/_layout.scss */
  .home-season-toggle {
    display: table;
    left: 0;
    margin: 0 auto;
    right: 0;
    top: -15px;
  }

  /* line 1890, ../sass/_layout/_layout.scss */
  .home-season-loved .mostloved, .home-season-loved .inseason {
    padding-top: 50px;
  }

  /* line 1893, ../sass/_layout/_layout.scss */
  .catwrap.catwrap-recipes .filterbytitle {
    padding: 10px 0;
  }

  /* line 1896, ../sass/_layout/_layout.scss */
  .catwrap-recipes .catsidefilter .searchandfilter > ul {
    text-align: center;
  }
  /* line 1898, ../sass/_layout/_layout.scss */
  .catwrap-recipes .catsidefilter .searchandfilter > ul > li {
    width: 25%;
    padding: 0 1%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    position: relative;
  }
  /* line 1905, ../sass/_layout/_layout.scss */
  .catwrap-recipes .catsidefilter .searchandfilter > ul > li ul {
    display: none;
    position: absolute;
    background: #fff;
    border: 1px solid #eee;
    z-index: 3;
    padding: 10px 0;
    width: 91.2%;
    border-top: none;
  }

  /* line 1917, ../sass/_layout/_layout.scss */
  .catwrap-guides .filterbytitle {
    text-align: center;
    padding: 10px 0;
  }

  /* line 1921, ../sass/_layout/_layout.scss */
  .catwrap-guides ul {
    text-align: center;
  }

  /* line 1924, ../sass/_layout/_layout.scss */
  .catwrap-guides ul li li {
    width: 24%;
    text-align: left;
    position: relative;
    max-width: 180px;
    display: inline-block;
  }

  /* line 1931, ../sass/_layout/_layout.scss */
  .catwrap.catwrap-recipes .catpostlist > div {
    margin: 0 1.66% 40px;
  }

  /* line 1935, ../sass/_layout/_layout.scss */
  .catwrap .catpostlist,
  .catwrap .catsidefilter {
    width: 100%;
    border: none;
    padding-right: 0;
  }

  /* line 1941, ../sass/_layout/_layout.scss */
  .catwrap.catwrap-guides .catsidefilter,
  .catwrap.catwrap-recipes .catsidefilter {
    text-align: center;
    margin-bottom: 50px;
    border-bottom: 1px solid #bec2cd;
    padding-bottom: 15px;
  }

  /* line 1947, ../sass/_layout/_layout.scss */
  .post-main .wrapper img {
    margin: 40px auto;
    max-width: 100%;
  }
}
@media only screen and (max-width: 760px) {
  /* line 1953, ../sass/_layout/_layout.scss */
  .shoppostlist > div {
    width: 29.8%;
  }

  /* line 1957, ../sass/_layout/_layout.scss */
  .mainbar ul#main-left,
  .mainbar ul#main-right li:first-child {
    display: none;
  }

  /* line 1960, ../sass/_layout/_layout.scss */
  .mainbar ul#main-center {
    display: none;
  }

  /* line 1963, ../sass/_layout/_layout.scss */
  .social-float {
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    position: fixed;
    top: auto;
  }
  /* line 1970, ../sass/_layout/_layout.scss */
  .social-float a {
    display: inline-block;
    margin: 10px 16px;
  }

  /* line 1975, ../sass/_layout/_layout.scss */
  .site-footer .copyright {
    text-align: center;
  }

  /* line 1978, ../sass/_layout/_layout.scss */
  .site-footer .footer-logonav ul {
    width: 100%;
    text-align: center;
  }
  /* line 1981, ../sass/_layout/_layout.scss */
  .site-footer .footer-logonav ul li {
    display: inline-block;
    float: none;
    margin-left: 20px;
  }
  /* line 1985, ../sass/_layout/_layout.scss */
  .site-footer .footer-logonav ul li:first-child {
    margin-left: 0;
  }

  /* line 1990, ../sass/_layout/_layout.scss */
  .site-footer .icon-logo {
    display: table;
    margin: 0 auto 30px;
  }

  /* line 1995, ../sass/_layout/_layout.scss */
  .homeftvideo .section .postimgcol,
  .homeftvideo .section .posttxtcol {
    width: 100% !important;
    max-width: 550px;
    margin: 0 auto;
    float: none;
  }

  /* line 2001, ../sass/_layout/_layout.scss */
  .homeftvideo .section {
    padding-top: 50px !important;
  }

  /* line 2004, ../sass/_layout/_layout.scss */
  .homeftvideo .fttag {
    position: absolute;
    display: table;
    left: 0;
    right: 0;
    top: -15px;
    margin: 0 auto;
  }

  /* line 2014, ../sass/_layout/_layout.scss */
  .about-faq .section,
  .about-main .about-title,
  .about-main .about-text {
    padding-left: 0;
  }

  /* line 2017, ../sass/_layout/_layout.scss */
  .catwrap.catwrap-recipes .catsidefilter h4 {
    padding: 14px 10px;
  }

  /* line 2020, ../sass/_layout/_layout.scss */
  .catwrap.catwrap-recipes .catsidefilter h4::after {
    right: 10px;
  }

  /* line 2023, ../sass/_layout/_layout.scss */
  .catwrap.catwrap-recipes .catpostlist > div {
    width: 46.2%;
  }

  /* line 2026, ../sass/_layout/_layout.scss */
  .recipe-2col > * {
    width: 100%;
    float: none !important;
  }

  /* line 2030, ../sass/_layout/_layout.scss */
  .recipe-2col .recipe-meta {
    width: 100%;
    max-width: none;
    border-top: 1px solid #bec2cd;
    border-bottom: 1px solid #bec2cd;
    margin: 35px 0;
    padding: 25px 0;
  }
}
@media only screen and (max-width: 600px) {
  /* line 2040, ../sass/_layout/_layout.scss */
  .view-post::before {
    width: 62% !important;
    margin-top: 31px !important;
  }

  /* line 2044, ../sass/_layout/_layout.scss */
  .view-post {
    font-size: 2.8em;
  }

  /* line 2047, ../sass/_layout/_layout.scss */
  .homesubscribe #mce-EMAIL {
    width: 270px;
  }

  /* line 2050, ../sass/_layout/_layout.scss */
  .home-season-loved .mostloved, .home-season-loved .inseason {
    padding: 50px 20px 20px;
  }

  /* line 2053, ../sass/_layout/_layout.scss */
  .about-text .text-col {
    width: 100%;
  }

  /* line 2056, ../sass/_layout/_layout.scss */
  .about-press .press-list > * {
    width: 23%;
  }

  /* line 2059, ../sass/_layout/_layout.scss */
  .catwrap-recipes .catsidefilter .searchandfilter > ul > li {
    width: 50%;
  }

  /* line 2062, ../sass/_layout/_layout.scss */
  .alsolike .also-list {
    text-align: center;
  }

  /* line 2065, ../sass/_layout/_layout.scss */
  .alsolike .also-list > div {
    display: inline-block;
    float: none;
    width: 47%;
    margin: 15px 1%;
  }

  /* line 2071, ../sass/_layout/_layout.scss */
  #commentform > input {
    width: 100% !important;
    margin: 10px 0 !important;
  }

  /* line 2075, ../sass/_layout/_layout.scss */
  .shoppostlist > div {
    width: 46.5%;
  }

  /* line 2078, ../sass/_layout/_layout.scss */
  .searchmain .search-input {
    font-size: 1.6em;
  }

  /* line 2081, ../sass/_layout/_layout.scss */
  .searchmain.showthis {
    height: 110px;
  }

  /* line 2084, ../sass/_layout/_layout.scss */
  .searchmain.showthis .search-input {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 450px) {
  /* line 2089, ../sass/_layout/_layout.scss */
  .catwrap .catpostlist > div {
    display: block;
    margin: 0 auto 40px;
    max-width: 360px;
    width: 100%;
  }
}
@media only screen and (max-width: 420px) {
  /* line 2097, ../sass/_layout/_layout.scss */
  .shoppostlist {
    max-width: 260px;
    margin: 0 auto;
  }

  /* line 2101, ../sass/_layout/_layout.scss */
  .shoppostlist > div {
    width: 100%;
    margin: 0 auto 60px;
  }

  /* line 2105, ../sass/_layout/_layout.scss */
  .shoppostlist > div .imgbox {
    padding: 45% 0;
  }
}
@media only screen and (max-width: 400px) {
  /* line 2110, ../sass/_layout/_layout.scss */
  .view-post::before {
    width: 50% !important;
  }

  /* line 2113, ../sass/_layout/_layout.scss */
  .mainlogo .tagline {
    width: 300px;
  }

  /* line 2116, ../sass/_layout/_layout.scss */
  .homeftvideo .view-post::before {
    width: 37% !important;
  }

  /* line 2119, ../sass/_layout/_layout.scss */
  .recipe-2col .instruction-steps, .recipe-2col .ingredients {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* line 2123, ../sass/_layout/_layout.scss */
  .alsolike .also-list > div {
    width: 100%;
    margin: 15px 0;
  }
}
/***************************************
Vendor custom styles
contains custom styling overrides for plugins/dependancies
***************************************/
/**
 * Owl Carousel v2.2.0
 * Copyright 2013-2016 David Deutsch
 * Licensed under MIT (https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE)
 */
/*
 *  Owl Carousel - Core
 */
/* line 15, ../sass/_vendor/_owl.scss */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  overflow: hidden;
  z-index: 1;
}

/* line 23, ../sass/_vendor/_owl.scss */
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}

/* line 26, ../sass/_vendor/_owl.scss */
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 33, ../sass/_vendor/_owl.scss */
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

/* line 38, ../sass/_vendor/_owl.scss */
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

/* line 45, ../sass/_vendor/_owl.scss */
.owl-carousel .owl-item img {
  display: block;
  -webkit-transform-style: preserve-3d;
}

/* line 49, ../sass/_vendor/_owl.scss */
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}

/* line 53, ../sass/_vendor/_owl.scss */
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 61, ../sass/_vendor/_owl.scss */
.owl-carousel.owl-loaded {
  display: block;
}

/* line 63, ../sass/_vendor/_owl.scss */
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

/* line 66, ../sass/_vendor/_owl.scss */
.owl-carousel.owl-hidden {
  opacity: 0;
}

/* line 68, ../sass/_vendor/_owl.scss */
.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

/* line 70, ../sass/_vendor/_owl.scss */
.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 75, ../sass/_vendor/_owl.scss */
.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}

/* line 78, ../sass/_vendor/_owl.scss */
.owl-carousel.owl-rtl {
  direction: rtl;
}

/* line 80, ../sass/_vendor/_owl.scss */
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
/* line 84, ../sass/_vendor/_owl.scss */
.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
/* line 90, ../sass/_vendor/_owl.scss */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 96, ../sass/_vendor/_owl.scss */
.owl-carousel .owl-animated-in {
  z-index: 0;
}

/* line 99, ../sass/_vendor/_owl.scss */
.owl-carousel .owl-animated-out {
  z-index: 1;
}

/* line 102, ../sass/_vendor/_owl.scss */
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  /* line 107, ../sass/_vendor/_owl.scss */
  0% {
    opacity: 1;
  }

  /* line 109, ../sass/_vendor/_owl.scss */
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  /* line 113, ../sass/_vendor/_owl.scss */
  0% {
    opacity: 1;
  }

  /* line 115, ../sass/_vendor/_owl.scss */
  100% {
    opacity: 0;
  }
}

/*
 * 	Owl Carousel - Auto Height Plugin
 */
/* line 121, ../sass/_vendor/_owl.scss */
.owl-height {
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
/* line 127, ../sass/_vendor/_owl.scss */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}

/* line 131, ../sass/_vendor/_owl.scss */
.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
/* line 138, ../sass/_vendor/_owl.scss */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

/* line 143, ../sass/_vendor/_owl.scss */
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: -webkit-transform 100ms ease;
  transition: transform 100ms ease;
}

/* line 158, ../sass/_vendor/_owl.scss */
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}

/* line 164, ../sass/_vendor/_owl.scss */
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

/* line 167, ../sass/_vendor/_owl.scss */
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease;
}

/* line 175, ../sass/_vendor/_owl.scss */
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/**
 * Featherlight – ultra slim jQuery lightbox
 * Version 1.7.1 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2017, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/
@media all {
  /* line 9, ../sass/_vendor/_featherlight.scss */
  .featherlight {
    display: none;
    /* dimensions: spanning the background from edge to edge */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2147483647;
    /* z-index needs to be >= elements on the site. */
    /* position: centering content */
    text-align: center;
    /* insures that the ::before pseudo element doesn't force wrap with fixed width content; */
    white-space: nowrap;
    /* styling */
    cursor: pointer;
    background: #fff;
    /* IE8 "hack" for nested featherlights */
    background: rgba(255, 255, 255, 0);
  }

  /* support for nested featherlights. Does not work in IE8 (use JS to fix) */
  /* line 31, ../sass/_vendor/_featherlight.scss */
  .featherlight:last-of-type {
    background: rgba(255, 255, 255, 0.9);
  }

  /* line 35, ../sass/_vendor/_featherlight.scss */
  .featherlight:before {
    /* position: trick to center content vertically */
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  /* line 43, ../sass/_vendor/_featherlight.scss */
  .featherlight .featherlight-content {
    /* make content container for positioned elements (close button) */
    position: relative;
    /* position: centering vertical and horizontal */
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    /* dimensions: cut off images */
    overflow: auto;
    padding: 25px 25px 0;
    border-bottom: 25px solid transparent;
    /* dimensions: handling large content */
    margin-left: 5%;
    margin-right: 5%;
    max-height: 95%;
    /* styling */
    background: transparent;
    cursor: auto;
    /* reset white-space wrapping */
    white-space: normal;
  }

  /* contains the content */
  /* line 71, ../sass/_vendor/_featherlight.scss */
  .featherlight .featherlight-inner {
    /* make sure its visible */
    display: block;
  }

  /* line 76, ../sass/_vendor/_featherlight.scss */
  .featherlight .featherlight-close-icon {
    /* position: centering vertical and horizontal */
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    /* dimensions: 25px x 25px */
    line-height: 25px;
    width: 25px;
    /* styling */
    cursor: pointer;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    background: transparent;
    /* Set the background in case it overlaps the content */
    color: #000;
    border: none;
    padding: 0;
  }

  /* See http://stackoverflow.com/questions/16077341/how-to-reset-all-default-styles-of-the-html5-button-element */
  /* line 99, ../sass/_vendor/_featherlight.scss */
  .featherlight .featherlight-close-icon::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  /* line 104, ../sass/_vendor/_featherlight.scss */
  .featherlight .featherlight-image {
    /* styling */
    width: 100%;
  }

  /* line 110, ../sass/_vendor/_featherlight.scss */
  .featherlight-iframe .featherlight-content {
    /* removed the border for image croping since iframe is edge to edge */
    border-bottom: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
  }

  /* line 118, ../sass/_vendor/_featherlight.scss */
  .featherlight iframe {
    /* styling */
    border: none;
  }

  /* line 123, ../sass/_vendor/_featherlight.scss */
  .featherlight * {
    /* See https://github.com/noelboss/featherlight/issues/42 */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
/* handling phones and small screens */
@media only screen and (max-width: 1024px) {
  /* line 132, ../sass/_vendor/_featherlight.scss */
  .featherlight .featherlight-content {
    /* dimensions: maximize lightbox with for small screens */
    margin-left: 0;
    margin-right: 0;
    max-height: 98%;
    padding: 10px 10px 0;
    border-bottom: 10px solid transparent;
  }
}
