/****************************
Variables (colors etc.)
****************************/

/* Colors */
// $grey: #ddd;

/* Type */

@font-face {
  font-family: 'Foxglow-Regular';
  src: url('../../fonts/Foxglow-Regular.eot?#iefix') format('embedded-opentype'),  url('../../fonts/Foxglow-Regular.otf')  format('opentype'),
	     url('../../fonts/Foxglow-Regular.woff') format('woff'), url('../../fonts/Foxglow-Regular.ttf')  format('truetype'), url('../../fonts/Foxglow-Regular.svg#Foxglow-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

$text-color: #303133;
$grey-medium: #bec2cd;
$grey-dark: #8f929a;
$pink-light: #f9e6dd;
$pink: #ff6e5f;

$font-size-base: 15px !default;

$font-body: "proxima-nova", sans-serif;
$font-sub-header: "brandon-grotesque", sans-serif;
$font-header: "Playfair Display", serif;
$font-script: "Foxglow-Regular";