#popup-box-pro-gfcr-{{num}}.popupally-pro-overlay-vtgjid-{{num}} {{{vtgjid-background-overlay-css}}display:none;background-color:rgba({{vtgjid-overlay-color-rgba}}){{use-important}};}
#popup-box-pro-gfcr-{{num}}.popupally-pro-opened-pro-gfcr-{{num}} {display:block !important;z-index:999999{{use-important}};}

#popup-box-pro-gfcr-{{num}} input,#popup-embedded-box-pro-gfcr-{{num}} input{
	min-width:initial{{use-important}};
	max-width:none{{use-important}};
	min-height:initial{{use-important}};
	max-height:none{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-vtgjid-{{num}}, #popup-embedded-box-pro-gfcr-{{num}}.popupally-pro-outer-embedded-vtgjid-{{num}}{
width:{{vtgjid-width}}px{{use-important}};
height:{{vtgjid-height}}px{{use-important}};
}
.popupally-pro-top-page-jehjsq-{{num}} {
	position:absolute{{use-important}};
	top:0{{use-important}};
	z-index:99999{{use-important}};
}
.popupally-pro-top-page-follow-jehjsq-{{num}} {
	position:fixed{{use-important}};
	top:0{{use-important}};
	z-index:99999{{use-important}};
}
.popupally-pro-end-page-follow-jehjsq-{{num}} {
	position:fixed{{use-important}};
	bottom:0{{use-important}};
	z-index:99999{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-vtgjid-{{num}},
#popup-embedded-box-pro-gfcr-{{num}}.popupally-pro-outer-embedded-vtgjid-{{num}}{
background-color:{{vtgjid-background-color}}{{use-important}};
background-image:{{vtgjid-background-image}}{{use-important}};
background-size:{{vtgjid-background-image-size}}{{use-important}};
background-repeat:no-repeat{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-vtgjid-{{num}}{
position:{{vtgjid-content-box-position}}{{use-important}};
{{position-code}}
{{POPUP_BOX_SHADOW_CSS}}
-webkit-border-radius: 4px{{use-important}};
-moz-border-radius: 4px{{use-important}};
border-radius: 4px{{use-important}};
z-index:999999{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}}.popupally-pro-outer-embedded-vtgjid-{{num}} {
margin:0 auto{{use-important}};
clear:both{{use-important}};
{{vtgjid-embedded-border-css}}
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}},#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}}{
position:relative{{use-important}};
overflow:visible{{use-important}};
width:auto{{use-important}};
height:auto{{use-important}};
padding:0{{use-important}};
margin:0{{use-important}};
text-align:center{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} .desc-pro-vtgjid,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} .desc-pro-vtgjid {
position:absolute{{use-important}};
display:inline-block{{use-important}};
width:{{vtgjid-headline-width}}px{{use-important}};
height:{{vtgjid-headline-height}}px{{use-important}};
font-family:{{vtgjid-headline-font}}{{use-important}};
font-size:{{vtgjid-headline-font-size}}px{{use-important}};
line-height:{{vtgjid-headline-line-height}}px{{use-important}};
font-weight:{{vtgjid-headline-font-weight}}{{use-important}};
box-sizing:border-box{{use-important}};
-moz-box-sizing:border-box{{use-important}};
cursor:pointer{{use-important}};
text-align:{{vtgjid-headline-align}}{{use-important}};
color:{{vtgjid-headline-color}}{{use-important}};
top:{{vtgjid-headline-top}}px{{use-important}};
left:{{vtgjid-headline-left}}px{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} .textbox-1-pro-vtgjid,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} .textbox-1-pro-vtgjid {
position:absolute{{use-important}};
display:inline-block{{use-important}};
width:{{vtgjid-textbox-1-width}}px{{use-important}};
height:{{vtgjid-textbox-1-height}}px{{use-important}};
font-family:{{vtgjid-textbox-1-font}}{{use-important}};
font-size:{{vtgjid-textbox-1-font-size}}px{{use-important}};
line-height:{{vtgjid-textbox-1-line-height}}px{{use-important}};
font-weight:{{vtgjid-textbox-1-font-weight}}{{use-important}};
box-sizing:border-box{{use-important}};
-moz-box-sizing:border-box{{use-important}};
cursor:pointer{{use-important}};
text-align:{{vtgjid-textbox-1-align}}{{use-important}};
color:{{vtgjid-textbox-1-color}}{{use-important}};
top:{{vtgjid-textbox-1-top}}px{{use-important}};
left:{{vtgjid-textbox-1-left}}px{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} .textbox-2-pro-vtgjid,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} .textbox-2-pro-vtgjid {
position:absolute{{use-important}};
display:inline-block{{use-important}};
width:{{vtgjid-textbox-2-width}}px{{use-important}};
height:{{vtgjid-textbox-2-height}}px{{use-important}};
font-family:{{vtgjid-textbox-2-font}}{{use-important}};
font-size:{{vtgjid-textbox-2-font-size}}px{{use-important}};
line-height:{{vtgjid-textbox-2-line-height}}px{{use-important}};
font-weight:{{vtgjid-textbox-2-font-weight}}{{use-important}};
box-sizing:border-box{{use-important}};
-moz-box-sizing:border-box{{use-important}};
cursor:pointer{{use-important}};
text-align:{{vtgjid-textbox-2-align}}{{use-important}};
color:{{vtgjid-textbox-2-color}}{{use-important}};
top:{{vtgjid-textbox-2-top}}px{{use-important}};
left:{{vtgjid-textbox-2-left}}px{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} .image-1-pro-vtgjid,
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} .image-2-pro-vtgjid,
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} .image-1-pro-vtgjid,
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} .image-2-pro-vtgjid {
position:absolute{{use-important}};
display:inline-block{{use-important}};
box-sizing:border-box{{use-important}};
-moz-box-sizing:border-box{{use-important}};
background-size:cover{{use-important}};
background-repeat:no-repeat{{use-important}};
background-position:50%{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} .image-1-pro-vtgjid,
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} .image-1-pro-vtgjid {
top:{{vtgjid-image-1-top}}px{{use-important}};
left:{{vtgjid-image-1-left}}px{{use-important}};
background-image:{{vtgjid-image-1}}{{use-important}};
width:{{vtgjid-image-1-width}}px{{use-important}};
height:{{vtgjid-image-1-height}}px{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} .image-2-pro-vtgjid,
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} .image-2-pro-vtgjid {
top:{{vtgjid-image-2-top}}px{{use-important}};
left:{{vtgjid-image-2-left}}px{{use-important}};
background-image:{{vtgjid-image-2}}{{use-important}};
width:{{vtgjid-image-2-width}}px{{use-important}};
height:{{vtgjid-image-2-height}}px{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="text"].field-pro-vtgjid-name::-webkit-input-placeholder{
color:{{vtgjid-name-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="text"].field-pro-vtgjid-name:-moz-placeholder{
color:{{vtgjid-name-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="text"].field-pro-vtgjid-name::-moz-placeholder{
color:{{vtgjid-name-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="text"].field-pro-vtgjid-name:-ms-input-placeholder{
color:{{vtgjid-name-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="text"].field-pro-vtgjid-name::-webkit-input-placeholder{
color:{{vtgjid-name-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="text"].field-pro-vtgjid-name:-moz-placeholder{
color:{{vtgjid-name-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="text"].field-pro-vtgjid-name::-moz-placeholder{
color:{{vtgjid-name-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="text"].field-pro-vtgjid-name:-ms-input-placeholder{
color:{{vtgjid-name-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="text"].field-pro-vtgjid-lname::-webkit-input-placeholder{
color:{{vtgjid-lname-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="text"].field-pro-vtgjid-lname:-moz-placeholder{
color:{{vtgjid-lname-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="text"].field-pro-vtgjid-lname::-moz-placeholder{
color:{{vtgjid-lname-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="text"].field-pro-vtgjid-lname:-ms-input-placeholder{
color:{{vtgjid-lname-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="text"].field-pro-vtgjid-lname::-webkit-input-placeholder{
color:{{vtgjid-lname-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="text"].field-pro-vtgjid-lname:-moz-placeholder{
color:{{vtgjid-lname-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="text"].field-pro-vtgjid-lname::-moz-placeholder{
color:{{vtgjid-lname-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="text"].field-pro-vtgjid-lname:-ms-input-placeholder{
color:{{vtgjid-lname-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="email"].field-pro-vtgjid-email::-webkit-input-placeholder{
color:{{vtgjid-email-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="email"].field-pro-vtgjid-email:-moz-placeholder{
color:{{vtgjid-email-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="email"].field-pro-vtgjid-email::-moz-placeholder{
color:{{vtgjid-email-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="email"].field-pro-vtgjid-email:-ms-input-placeholder{
color:{{vtgjid-email-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="email"].field-pro-vtgjid-email::-webkit-input-placeholder{
color:{{vtgjid-email-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="email"].field-pro-vtgjid-email:-moz-placeholder{
color:{{vtgjid-email-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="email"].field-pro-vtgjid-email::-moz-placeholder{
color:{{vtgjid-email-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="email"].field-pro-vtgjid-email:-ms-input-placeholder{
color:{{vtgjid-email-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="text"].field-pro-vtgjid-name,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="text"].field-pro-vtgjid-name {
top:{{vtgjid-name-field-top}}px{{use-important}};
left:{{vtgjid-name-field-left}}px{{use-important}};
position:absolute{{use-important}};
display:inline-block{{use-important}};
padding:{{vtgjid-name-field-padding-top}}px {{vtgjid-name-field-padding-right}}px {{vtgjid-name-field-padding-bottom}}px {{vtgjid-name-field-padding-left}}px{{use-important}};
width:{{vtgjid-name-field-width}}{{use-important}};
color:{{vtgjid-name-field-color}}{{use-important}};
font-family:{{vtgjid-name-field-font}}{{use-important}};
font-size:{{vtgjid-name-field-font-size}}px{{use-important}};
line-height:{{vtgjid-name-field-line-height}}px{{use-important}};
background:{{vtgjid-name-field-background-color}}{{use-important}};
text-align:{{vtgjid-name-field-align}}{{use-important}};
-webkit-box-shadow: none{{use-important}};
-moz-box-shadow: none{{use-important}};
box-shadow: none{{use-important}};
-webkit-border-radius: {{vtgjid-name-field-border-radius}}px{{use-important}};
-moz-border-radius: {{vtgjid-name-field-border-radius}}px{{use-important}};
border-radius: {{vtgjid-name-field-border-radius}}px{{use-important}};
box-sizing:border-box{{use-important}};
-moz-box-sizing:border-box{{use-important}};
height:auto{{use-important}};
margin:0{{use-important}};
border-width:0{{use-important}};
font-weight:{{vtgjid-name-field-font-weight}}{{use-important}};
float:none{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="text"].field-pro-vtgjid-lname,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="text"].field-pro-vtgjid-lname {
top:{{vtgjid-lname-field-top}}px{{use-important}};
left:{{vtgjid-lname-field-left}}px{{use-important}};
position:absolute{{use-important}};
display:inline-block{{use-important}};
padding:{{vtgjid-lname-field-padding-top}}px {{vtgjid-lname-field-padding-right}}px {{vtgjid-lname-field-padding-bottom}}px {{vtgjid-lname-field-padding-left}}px{{use-important}};
width:{{vtgjid-lname-field-width}}{{use-important}};
color:{{vtgjid-lname-field-color}}{{use-important}};
font-family:{{vtgjid-lname-field-font}}{{use-important}};
font-size:{{vtgjid-lname-field-font-size}}px{{use-important}};
line-height:{{vtgjid-lname-field-line-height}}px{{use-important}};
background:{{vtgjid-lname-field-background-color}}{{use-important}};
text-align:{{vtgjid-lname-field-align}}{{use-important}};
-webkit-box-shadow: none{{use-important}};
-moz-box-shadow: none{{use-important}};
box-shadow: none{{use-important}};
-webkit-border-radius: {{vtgjid-lname-field-border-radius}}px{{use-important}};
-moz-border-radius: {{vtgjid-lname-field-border-radius}}px{{use-important}};
border-radius: {{vtgjid-lname-field-border-radius}}px{{use-important}};
box-sizing:border-box{{use-important}};
-moz-box-sizing:border-box{{use-important}};
height:auto{{use-important}};
margin:0{{use-important}};
border-width:0{{use-important}};
font-weight:{{vtgjid-lname-field-font-weight}}{{use-important}};
float:none{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="email"].field-pro-vtgjid-email,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="email"].field-pro-vtgjid-email {
top:{{vtgjid-email-field-top}}px{{use-important}};
left:{{vtgjid-email-field-left}}px{{use-important}};
position:absolute{{use-important}};
display:inline-block{{use-important}};
padding:{{vtgjid-email-field-padding-top}}px {{vtgjid-email-field-padding-right}}px {{vtgjid-email-field-padding-bottom}}px {{vtgjid-email-field-padding-left}}px{{use-important}};
width:{{vtgjid-email-field-width}}{{use-important}};
color:{{vtgjid-email-field-color}}{{use-important}};
font-family:{{vtgjid-email-field-font}}{{use-important}};
font-size:{{vtgjid-email-field-font-size}}px{{use-important}};
line-height:{{vtgjid-email-field-line-height}}px{{use-important}};
background:{{vtgjid-email-field-background-color}}{{use-important}};
text-align:{{vtgjid-email-field-align}}{{use-important}};
-webkit-box-shadow: none{{use-important}};
-moz-box-shadow: none{{use-important}};
box-shadow: none{{use-important}};
-webkit-border-radius: {{vtgjid-email-field-border-radius}}px{{use-important}};
-moz-border-radius: {{vtgjid-email-field-border-radius}}px{{use-important}};
border-radius: {{vtgjid-email-field-border-radius}}px{{use-important}};
box-sizing:border-box{{use-important}};
-moz-box-sizing:border-box{{use-important}};
height:auto{{use-important}};
margin:0{{use-important}};
border-width:0{{use-important}};
font-weight:{{vtgjid-email-field-font-weight}}{{use-important}};
float:none{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="submit"].submit-pro-vtgjid,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="submit"].submit-pro-vtgjid {
position:absolute{{use-important}};
display:inline-block{{use-important}};
font-family:{{vtgjid-subscribe-button-text-font}}{{use-important}};
font-size:{{vtgjid-subscribe-button-text-font-size}}px{{use-important}};
line-height:{{vtgjid-subscribe-button-text-line-height}}px{{use-important}};
background-color: {{vtgjid-subscribe-button-color}}{{use-important}};
text-align:{{vtgjid-subscribe-button-text-align}}{{use-important}};
border-style: solid{{use-important}};
border-width: 1px{{use-important}};
border-color:#C0C0C0{{use-important}};
-webkit-box-sizing: border-box{{use-important}};
-moz-box-sizing: border-box{{use-important}};
box-sizing: border-box{{use-important}};
color:{{vtgjid-subscribe-button-text-color}}{{use-important}};
text-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3){{use-important}};
cursor: pointer{{use-important}};
-webkit-border-radius: {{vtgjid-subscribe-button-text-border-radius}}px{{use-important}};
-moz-border-radius: {{vtgjid-subscribe-button-text-border-radius}}px{{use-important}};
border-radius: {{vtgjid-subscribe-button-text-border-radius}}px{{use-important}};
width:{{vtgjid-subscribe-button-text-width}}{{use-important}};
height:auto{{use-important}};
padding:{{vtgjid-subscribe-button-text-padding-top}}px 0 {{vtgjid-subscribe-button-text-padding-bottom}}px 0{{use-important}};
box-sizing:border-box{{use-important}};
-moz-box-sizing:border-box{{use-important}};
background-image:none{{use-important}};
top:{{vtgjid-subscribe-button-top}}px{{use-important}};
left:{{vtgjid-subscribe-button-left}}px{{use-important}};
margin:0{{use-important}};
font-weight:{{vtgjid-subscribe-button-text-font-weight}}{{use-important}};
float:none{{use-important}};
-webkit-appearance: none{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="submit"].submit-pro-vtgjid:hover,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="submit"].submit-pro-vtgjid:hover {
background-color:{{vtgjid-subscribe-button-color}}{{use-important}};
color:{{vtgjid-subscribe-button-text-color}}{{use-important}};
background-image:none{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-vtgjid-{{num}} .popupally-pro-close-vtgjid{
background-image:url('{{plugin_uri}}resource/frontend/img/fancy_close.png'){{use-important}};
background-size:cover{{use-important}};
display: block{{use-important}};
position: absolute{{use-important}};
top: -12px{{use-important}};
right: -12px{{use-important}};
width: 30px{{use-important}};
height: 30px{{use-important}};
color: white{{use-important}};
cursor: pointer{{use-important}};
z-index:999999{{use-important}};
}
@media (max-width: 960px) {
	#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-vtgjid-{{num}}{
		{{position-960-code}}
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-vtgjid-{{num}},
	#popup-embedded-box-pro-gfcr-{{num}}.popupally-pro-outer-embedded-vtgjid-{{num}}{
		width:{{vtgjid-width-960}}px{{use-important}};
		height:{{vtgjid-height-960}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} .desc-pro-vtgjid,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} .desc-pro-vtgjid{
		top:{{vtgjid-headline-960-top}}px{{use-important}};
		left:{{vtgjid-headline-960-left}}px{{use-important}};
		font-size:{{vtgjid-headline-960-font-size}}px{{use-important}};
		line-height:{{vtgjid-headline-960-line-height}}px{{use-important}};
		width:{{vtgjid-headline-960-width}}px{{use-important}};
		height:{{vtgjid-headline-960-height}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} .textbox-1-pro-vtgjid,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} .textbox-1-pro-vtgjid{
		top:{{vtgjid-textbox-1-960-top}}px{{use-important}};
		left:{{vtgjid-textbox-1-960-left}}px{{use-important}};
		font-size:{{vtgjid-textbox-1-960-font-size}}px{{use-important}};
		line-height:{{vtgjid-textbox-1-960-line-height}}px{{use-important}};
		width:{{vtgjid-textbox-1-960-width}}px{{use-important}};
		height:{{vtgjid-textbox-1-960-height}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} .textbox-2-pro-vtgjid,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} .textbox-2-pro-vtgjid{
		top:{{vtgjid-textbox-2-960-top}}px{{use-important}};
		left:{{vtgjid-textbox-2-960-left}}px{{use-important}};
		font-size:{{vtgjid-textbox-2-960-font-size}}px{{use-important}};
		line-height:{{vtgjid-textbox-2-960-line-height}}px{{use-important}};
		width:{{vtgjid-textbox-2-960-width}}px{{use-important}};
		height:{{vtgjid-textbox-2-960-height}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} .image-1-pro-vtgjid,
	#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} .image-1-pro-vtgjid {
		top:{{vtgjid-image-1-960-top}}px{{use-important}};
		left:{{vtgjid-image-1-960-left}}px{{use-important}};
		width:{{vtgjid-image-1-960-width}}px{{use-important}};
		height:{{vtgjid-image-1-960-height}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} .image-2-pro-vtgjid,
	#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} .image-2-pro-vtgjid {
		top:{{vtgjid-image-2-960-top}}px{{use-important}};
		left:{{vtgjid-image-2-960-left}}px{{use-important}};
		width:{{vtgjid-image-2-960-width}}px{{use-important}};
		height:{{vtgjid-image-2-960-height}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="text"].field-pro-vtgjid-name,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="text"].field-pro-vtgjid-name {
		top:{{vtgjid-name-field-960-top}}px{{use-important}};
		left:{{vtgjid-name-field-960-left}}px{{use-important}};
		padding:{{vtgjid-name-field-960-padding-top}}px {{vtgjid-name-field-960-padding-right}}px {{vtgjid-name-field-960-padding-bottom}}px {{vtgjid-name-field-960-padding-left}}px{{use-important}};
		width:{{vtgjid-name-field-960-width}}{{use-important}};
		font-size:{{vtgjid-name-field-960-font-size}}px{{use-important}};
		line-height:{{vtgjid-name-field-960-line-height}}px{{use-important}};
		-webkit-border-radius: {{vtgjid-name-field-960-border-radius}}px{{use-important}};
		-moz-border-radius: {{vtgjid-name-field-960-border-radius}}px{{use-important}};
		border-radius: {{vtgjid-name-field-960-border-radius}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="text"].field-pro-vtgjid-lname,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="text"].field-pro-vtgjid-lname {
		top:{{vtgjid-lname-field-960-top}}px{{use-important}};
		left:{{vtgjid-lname-field-960-left}}px{{use-important}};
		padding:{{vtgjid-lname-field-960-padding-top}}px {{vtgjid-lname-field-960-padding-right}}px {{vtgjid-lname-field-960-padding-bottom}}px {{vtgjid-lname-field-960-padding-left}}px{{use-important}};
		width:{{vtgjid-lname-field-960-width}}{{use-important}};
		font-size:{{vtgjid-lname-field-960-font-size}}px{{use-important}};
		line-height:{{vtgjid-lname-field-960-line-height}}px{{use-important}};
		-webkit-border-radius: {{vtgjid-lname-field-960-border-radius}}px{{use-important}};
		-moz-border-radius: {{vtgjid-lname-field-960-border-radius}}px{{use-important}};
		border-radius: {{vtgjid-lname-field-960-border-radius}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="email"].field-pro-vtgjid-email,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="email"].field-pro-vtgjid-email {
		top:{{vtgjid-email-field-960-top}}px{{use-important}};
		left:{{vtgjid-email-field-960-left}}px{{use-important}};
		padding:{{vtgjid-email-field-960-padding-top}}px {{vtgjid-email-field-960-padding-right}}px {{vtgjid-email-field-960-padding-bottom}}px {{vtgjid-email-field-960-padding-left}}px{{use-important}};
		width:{{vtgjid-email-field-960-width}}{{use-important}};
		font-size:{{vtgjid-email-field-960-font-size}}px{{use-important}};
		line-height:{{vtgjid-email-field-960-line-height}}px{{use-important}};
		-webkit-border-radius: {{vtgjid-email-field-960-border-radius}}px{{use-important}};
		-moz-border-radius: {{vtgjid-email-field-960-border-radius}}px{{use-important}};
		border-radius: {{vtgjid-email-field-960-border-radius}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="submit"].submit-pro-vtgjid,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="submit"].submit-pro-vtgjid {
		top:{{vtgjid-subscribe-button-960-top}}px{{use-important}};
		left:{{vtgjid-subscribe-button-960-left}}px{{use-important}};
		padding:{{vtgjid-subscribe-button-text-960-padding-top}}px 0 {{vtgjid-subscribe-button-text-960-padding-bottom}}px 0{{use-important}};
		width:{{vtgjid-subscribe-button-text-960-width}}{{use-important}};
		font-size:{{vtgjid-subscribe-button-text-960-font-size}}px{{use-important}};
		line-height:{{vtgjid-subscribe-button-text-960-line-height}}px{{use-important}};
		-webkit-border-radius: {{vtgjid-subscribe-button-text-960-border-radius}}px{{use-important}};
		-moz-border-radius: {{vtgjid-subscribe-button-text-960-border-radius}}px{{use-important}};
		border-radius: {{vtgjid-subscribe-button-text-960-border-radius}}px{{use-important}};
	}
}
@media (max-width: 640px) {
	#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-vtgjid-{{num}}{
		{{position-640-code}}
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-vtgjid-{{num}},
	#popup-embedded-box-pro-gfcr-{{num}}.popupally-pro-outer-embedded-vtgjid-{{num}}{
		width:{{vtgjid-width-640}}px{{use-important}};
		height:{{vtgjid-height-640}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} .desc-pro-vtgjid,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} .desc-pro-vtgjid{
		top:{{vtgjid-headline-640-top}}px{{use-important}};
		left:{{vtgjid-headline-640-left}}px{{use-important}};
		font-size:{{vtgjid-headline-640-font-size}}px{{use-important}};
		line-height:{{vtgjid-headline-640-line-height}}px{{use-important}};
		width:{{vtgjid-headline-640-width}}px{{use-important}};
		height:{{vtgjid-headline-640-height}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} .textbox-1-pro-vtgjid,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} .textbox-1-pro-vtgjid{
		top:{{vtgjid-textbox-1-640-top}}px{{use-important}};
		left:{{vtgjid-textbox-1-640-left}}px{{use-important}};
		font-size:{{vtgjid-textbox-1-640-font-size}}px{{use-important}};
		line-height:{{vtgjid-textbox-1-640-line-height}}px{{use-important}};
		width:{{vtgjid-textbox-1-640-width}}px{{use-important}};
		height:{{vtgjid-textbox-1-640-height}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} .textbox-2-pro-vtgjid,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} .textbox-2-pro-vtgjid{
		top:{{vtgjid-textbox-2-640-top}}px{{use-important}};
		left:{{vtgjid-textbox-2-640-left}}px{{use-important}};
		font-size:{{vtgjid-textbox-2-640-font-size}}px{{use-important}};
		line-height:{{vtgjid-textbox-2-640-line-height}}px{{use-important}};
		width:{{vtgjid-textbox-2-640-width}}px{{use-important}};
		height:{{vtgjid-textbox-2-640-height}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} .image-1-pro-vtgjid,
	#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} .image-1-pro-vtgjid {
		top:{{vtgjid-image-1-640-top}}px{{use-important}};
		left:{{vtgjid-image-1-640-left}}px{{use-important}};
		width:{{vtgjid-image-1-640-width}}px{{use-important}};
		height:{{vtgjid-image-1-640-height}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} .image-2-pro-vtgjid,
	#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} .image-2-pro-vtgjid {
		top:{{vtgjid-image-2-640-top}}px{{use-important}};
		left:{{vtgjid-image-2-640-left}}px{{use-important}};
		width:{{vtgjid-image-2-640-width}}px{{use-important}};
		height:{{vtgjid-image-2-640-height}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="text"].field-pro-vtgjid-name,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="text"].field-pro-vtgjid-name {
		top:{{vtgjid-name-field-640-top}}px{{use-important}};
		left:{{vtgjid-name-field-640-left}}px{{use-important}};
		padding:{{vtgjid-name-field-640-padding-top}}px {{vtgjid-name-field-640-padding-right}}px {{vtgjid-name-field-640-padding-bottom}}px {{vtgjid-name-field-640-padding-left}}px{{use-important}};
		width:{{vtgjid-name-field-640-width}}{{use-important}};
		font-size:{{vtgjid-name-field-640-font-size}}px{{use-important}};
		line-height:{{vtgjid-name-field-640-line-height}}px{{use-important}};
		-webkit-border-radius: {{vtgjid-name-field-640-border-radius}}px{{use-important}};
		-moz-border-radius: {{vtgjid-name-field-640-border-radius}}px{{use-important}};
		border-radius: {{vtgjid-name-field-640-border-radius}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="text"].field-pro-vtgjid-lname,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="text"].field-pro-vtgjid-lname {
		top:{{vtgjid-lname-field-640-top}}px{{use-important}};
		left:{{vtgjid-lname-field-640-left}}px{{use-important}};
		padding:{{vtgjid-lname-field-640-padding-top}}px {{vtgjid-lname-field-640-padding-right}}px {{vtgjid-lname-field-640-padding-bottom}}px {{vtgjid-lname-field-640-padding-left}}px{{use-important}};
		width:{{vtgjid-lname-field-640-width}}{{use-important}};
		font-size:{{vtgjid-lname-field-640-font-size}}px{{use-important}};
		line-height:{{vtgjid-lname-field-640-line-height}}px{{use-important}};
		-webkit-border-radius: {{vtgjid-lname-field-640-border-radius}}px{{use-important}};
		-moz-border-radius: {{vtgjid-lname-field-640-border-radius}}px{{use-important}};
		border-radius: {{vtgjid-lname-field-640-border-radius}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="email"].field-pro-vtgjid-email,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="email"].field-pro-vtgjid-email {
		top:{{vtgjid-email-field-640-top}}px{{use-important}};
		left:{{vtgjid-email-field-640-left}}px{{use-important}};
		padding:{{vtgjid-email-field-640-padding-top}}px {{vtgjid-email-field-640-padding-right}}px {{vtgjid-email-field-640-padding-bottom}}px {{vtgjid-email-field-640-padding-left}}px{{use-important}};
		width:{{vtgjid-email-field-640-width}}{{use-important}};
		font-size:{{vtgjid-email-field-640-font-size}}px{{use-important}};
		line-height:{{vtgjid-email-field-640-line-height}}px{{use-important}};
		-webkit-border-radius: {{vtgjid-email-field-640-border-radius}}px{{use-important}};
		-moz-border-radius: {{vtgjid-email-field-640-border-radius}}px{{use-important}};
		border-radius: {{vtgjid-email-field-640-border-radius}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="submit"].submit-pro-vtgjid,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-vtgjid-{{num}} input[type="submit"].submit-pro-vtgjid {
		top:{{vtgjid-subscribe-button-640-top}}px{{use-important}};
		left:{{vtgjid-subscribe-button-640-left}}px{{use-important}};
		padding:{{vtgjid-subscribe-button-text-640-padding-top}}px 0 {{vtgjid-subscribe-button-text-640-padding-bottom}}px 0{{use-important}};
		width:{{vtgjid-subscribe-button-text-640-width}}{{use-important}};
		font-size:{{vtgjid-subscribe-button-text-640-font-size}}px{{use-important}};
		line-height:{{vtgjid-subscribe-button-text-640-line-height}}px{{use-important}};
		-webkit-border-radius: {{vtgjid-subscribe-button-text-640-border-radius}}px{{use-important}};
		-moz-border-radius: {{vtgjid-subscribe-button-text-640-border-radius}}px{{use-important}};
		border-radius: {{vtgjid-subscribe-button-text-640-border-radius}}px{{use-important}};
	}
}